[2019-03-31 13:59] daboe01 commented on #2788
-#new
+Tools

[2019-03-31 13:59] daboe01 commented on #2787
-#new
+Tools
+#needs-patch

[2019-03-31 14:03] daboe01 commented on #2778
-#new
+Tools

[2019-03-31 14:03] daboe01 commented on #2778
@mrcarlberg can you please have a look at this?

[2019-03-31 14:05] daboe01 commented on #2710
-#new
+AppKit
+#needs-info

[2019-03-31 14:06] daboe01 commented on #2818
-#new
+Foundation
+#needs-confirmation

[2019-03-31 14:07] daboe01 commented on #2817
@bedalton i think you are 100% right in that this should read CGContext.

[2019-03-31 14:08] daboe01 commented on #2817
-#new
+AppKit
+#needs-patch

[2019-03-31 14:09] daboe01 commented on #2816
+AppKit
+TextView
+#accepted
-#new

[2019-03-31 17:45] daboe01 commented on #2578
related issue: #2795

[2019-04-03 21:36] #2817 closed

[2019-04-03 21:36] #2815 closed

[2019-04-03 21:37] #2625 closed

[2019-04-06 08:36] daboe01 commented on #2788
possibly a duplicate of #2722

[2019-04-06 08:37] daboe01 commented on #2788
+#duplicate

[2019-04-06 08:46] #2788 closed

[2019-04-06 17:56] daboe01 commented on #2818
-#needs-confirmation
+#accepted

[2019-04-06 17:58] daboe01 commented on #2814
-#new
+Feature
+tools

[2019-04-06 17:58] daboe01 commented on #2722
-#new
+#regression
+tools

[2019-04-06 17:59] daboe01 commented on #2722
+regression

[2019-04-06 18:00] daboe01 commented on #2679
-#new
+Foundation

[2019-04-06 18:01] daboe01 commented on #2611
-#new
+AppKit

[2019-04-07 17:45] daboe01 commented on #2741
-#new
+Tools

[2019-04-08 08:55] daboe01 commented on #2726
-#new
+Tools

[2019-04-08 12:43] daboe01 commented on #2737
it looks like all mentioned issues are resolved by now.
+#fixed

[2019-04-08 12:45] daboe01 commented on #2735
-#new
+AppKit
+#needs-reduction

[2019-04-08 12:58] daboe01 commented on #2735
indeed, our implementation first inserts the view (CPView. j#637) and only later after the didAppear notification sets the window (CPView. j#666)

@enquora what is happening in cocoa?

[2019-04-08 12:59] daboe01 commented on #2735
+#needs-information

[2019-04-08 13:00] daboe01 commented on #2725
-#new
+AppKit
+#accepted
+#needs-patch

[2019-04-08 13:06] #2737 closed

[2019-04-08 13:08] daboe01 commented on #2711
-#new
+Documentation
+AppKit

[2019-04-15 03:02] #2816 closed

[2019-04-20 06:21] daboe01 commented on #2722
https://github.com/cappuccino/cappuccino/blob/27883c5beb82c8631d354013c35a3cbeeeaa24b3/Tools/nib2cib/NSButton.j#L443

[2019-04-24 19:04] mrcarlberg commented on #2814
The compiler do parse all the types on Instance Variable Declarations, Method Parameters and Method Return Values.
There are warnings if an Instance Variable Declaration uses an unknown type. Method Parameters and Method Return Values does not generate warnings.
The reason for not generating any warnings on these are just what you describe above. To many types that is not declared or are just made

[2019-04-28 05:18] didierkorthoudt commented on #2789
In modern Cocoa, if the recent searches menu is empty, the menu won’t open. That’s why you have to perform a first search before it can be opened. This is maybe strange but as we try to follow as closely as possible Cocoa, I’ve adapted the way Cappuccino does…

[2019-04-28 05:19] didierkorthoudt commented on #2789
BTW, for the second part, I can't reproduce the problem here. But as CPSearchField is under heavy adaptation for Aristo3, I suggest one test this after the new version is released.

[2019-04-28 13:41] daboe01 commented on #2789
here is the movie that shows we are in sync with cocoa :
https://files.gitter.im/cappuccino/cappuccino/YoI4/searchmenu.mov

+#wont-fix

[2019-04-28 14:37] aksuska commented on #2789
This does not track because you are only testing one use case. According to the docs you can also configure the menu to select search categories (https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/SearchFields/Articles/MenuTemplate.html), which have to be selectable *before* a search is performed. It may simply be the case that if no search categories are specified that the

[2019-04-28 15:02] didierkorthoudt commented on #2789
@aksuska OK, I'll dig into this. Thank you for pointing it.

[2019-04-28 15:14] daboe01 commented on #2789
@aksuska feel free to reopen.

[2019-04-28 19:33] aksuska commented on #2789
GitHub is not allowing me to reopen. Perhaps because I didn't close, or am not a contributor?

[2019-06-13 13:58] #2749 closed

[2019-06-13 14:09] #2818 closed

[2019-06-13 14:30] #2789 closed

[2019-06-15 11:08] jasperdeb opened #2851 "Multi line headerView of CPTableView"
I am trying to set a multiline text in the headerView of the CPTableView.

So first I set the new height of the headerView

[code]

Then I set the text in the headerview as

[code]

But then I see the first line centered, en the 2nd line is not visible.
Any idea how I can fix this?

![image](https://user-images.githubusercontent.com/20356278/59550730-7abea600-8f6e-11e9-8ba3-9c51f1ae0ce8.png)

[2019-06-16 19:55] jasperdeb commented on #2851
@didierkorthoudt

Your tip of using the following code does the trick.

`[[[tableView tableColumns][i] headerView] setLineBreakMode:CPLineBreakByWordWrapping]`

But I have noticed that if you add a fresh column, set the linebreakmode as above and then put in some text as header text, the line break mode is not used directly.
Only after resizing the column size (in my case I set the width from 130

[2019-06-16 19:55] #2851 closed

[2019-06-17 06:20] didierkorthoudt commented on #2851
@jasperdeb Well, this one seems to be a bug... I'll have a look. Could you please open an issue for this ?

[2019-07-23 09:03] cacaodev commented on #2791
In your example opened in Xcode, in the Array Controller property panel, the option "Clear Filter Predicate On Insert" was checked. Unchecking this option makes the ac and the popup content correctly filtered.
Unless you still think there is still a bug (for ex a deviation from cocoa), I will close this issue.

[2019-07-23 14:36] aksuska commented on #2791
Behavior deviates from Cocoa, project attached.
[FP test.zip](https://github.com/cappuccino/cappuccino/files/3422571/FP.test.zip)

[2019-07-25 01:50] brianmpalma opened #2855 "CPTimeZone: time zone methods return nil in Chrome and Firefox"
In Chrome (`Version 75.0.3770.142`) and Firefox (`67.0.4`), the following `CPTimeZone` methods return `nil`:

- `+defaultTimeZone`
- `+localTimeZone`
- `+systemTimeZone`

Cursory research for the `America/New_York` and `America/Los_Angeles`time zones show a change in the values provided by browsers that are parsed into abbreviations by Cappuccino. Instead of `EDT` and `PDT`, the parsed abbreviatio

[2019-07-25 03:36] brianmpalma commented on #2855
**Update**

After attempting a local hack to temporarily resolve the issue, it's come to attention that Chrome (have yet to test Firefox) variably changes the value within parentheses that is used for the abbreviation.

The date used to determine time zones, when printed is: `Wed Jul 24 2019 23:27:44 GMT-0400 (GMT-04:00)`. `GMT-04:00` is another abbreviation value. It doesn't exist as a key in the

[2019-07-30 03:21] enquora commented on #2787
The title of this issue might confuse some - XcodeCapp is fully functional in Mojave and Catalina, dark mode or light. There is no dark mode *theme* support and the results are visually jarring.

@brianmpalma has a dark mode implementation which looks entirely acceptable but he has yet to prepare a pull request. The underlying view structure of XcodeCapp isn't entirely congruent with modern design

[2019-07-30 03:43] enquora commented on #2568
A node.js-based installation would/should use a javascript rather than Bourne installer - the current one has pushed its environment beyond reasonable maintainability.

Are auto tools used beyond compiling narwhal's native environment interfaces (which become superfluous with node.js)?

Should not the current environment be considered in maintenance mode and all further effort directed to a node.j

[2019-07-30 13:09] aksuska commented on #2787
I didn't say it didn't work, I said it wasn't compatible. On my computer all of the button icons disappear under dark mode, which is more than a "prettiness" issue.

[2019-07-30 22:59] brianmpalma commented on #2787
@enquora PR submitted. Apologies that took longer than preferred. Outside of the variation to make the view above the `Settings`, `Errors & Warnings`, and `Operations` tabs the same color as the window background is there something more preferable in the choice of colors / implementation that would get it to be closer to perfect / a modern update?

[2019-07-30 23:08] enquora commented on #2787
@brianmpalma The view hierarchy in XcodeCapp comes from another era and would benefit from cleanup but I wouldn't worry about it now. Your changes cover everything that's important at the moment. A cleaner and less complicated view hierarchy would make setting some of those other colours a little easier but can come later, incrementally (using a tab control or at least a segmented button for switc

[2019-07-30 23:14] brianmpalma commented on #2787
Thanks appreciate it. We can take a look at modernizing as we go forward.

[2019-08-01 21:40] enquora commented on #2741
This doesn't seem worth worrying about. Oracle still offers Java 8, the license from 8 onwards changed in ways some will find objectionable, and any effort seems better spent on moving to a full node.js environment.

[2019-08-01 21:40] #2741 closed

[2019-08-01 21:42] enquora commented on #2575
What does the `press` tool do?

[2019-08-01 21:44] enquora commented on #2575
This title should be changed to 'Remove Java dependency' and should contain a comprehensive list of current Java dependencies, imo

[2019-09-19 06:43] cacaodev commented on #2791
@aksuska Thanks for reporting this and for the test. Can you have a look at the proposed fix in this PR and tell me if it solves the problem.

[2019-09-24 20:20] enquora opened #2861 "Strategy needed to handle Apple requirement for app notarization and use of hardened runtime"
Apple has instituted a grace period (January 2020) for apps to be notarized and use the hardened runtime but this will ultimately affect us. This issue was created to act as a discussion rather than to offer immediate answers.

The immediate effect will be on any pre-compiled binaries we distribute but moving to Node for our JS engine is a greater concern. I've filed an issue there but the project

[2019-09-25 06:27] mrcarlberg commented on #2861
Thanks David for bringing this up. We have to address this and make sure we don't run into any problems.

[2019-09-25 06:29] mrcarlberg commented on #2861
I have not yet tried Cappuccino on Catalina so I don't know what kind of problems we might run into. Can we do a list of what we need to address?

[2019-09-25 10:40] mrcarlberg commented on #2861
Yes, do we have any more than these three binaries?

[2019-09-25 14:07] aljungberg commented on #2861
Those are the only ones I can think of of the top of my head. Narwhal itself too obviously, but switching to Node fixes that. In fact I bet `fontinfo` and `imagesize` could be converted to Node tools too, avoiding those two pre-compiled binaries.

[2019-09-25 14:13] enquora commented on #2861
Switching to Node JS has the same problem: https://github.com/nodejs/node/issues/29216

[2019-09-25 14:28] enquora commented on #2861
Note that one can bypass Gatekeeper by right-clicking on an installer or app bundle and answering in the affirmative when prompted to proceed. This doesn't seem like a good long-term experience though.

[2019-09-25 14:50] mrcarlberg commented on #2861
Correct me if I am wrong but when you install from source, everything will be built with Xcode on your computer. Will there still be problems with that on Catalina?
If you bootstrap we will install a prebuild version of the `imagesize`, `fontinfo` and `XcodeCapp` binaries. This will cause problems I guess.
Rhino runs on Java. JavaScript core will optionally be built when bootstrapping on Mac. Narw

[2019-09-25 14:53] enquora commented on #2861
Installing from source does not currently present a problem and won't in the future.
The problem is with binaries or other executables. Node JS, for example.

[2019-09-25 15:04] enquora commented on #2861
We have both a short-term scenario to deal with and a longer-term one.
For the short-term, the problem is with the bootstrapped install rather than the source version.
For the longer-term, the problem is with Node JS, which seems to be the only viable and maintained JS VM which provides access to the system-level API calls we need. The silence of core developers on the Node JS issue is unsettling

[2019-09-25 17:16] aljungberg commented on #2861
Here's Apple's list of what's required:

https://developer.apple.com/documentation/security/notarizing_your_app_before_distribution

In order to build a Hardened Runtime of JavaScript core we will need to enable the "JIT" entitlement too.

At a glance it doesn't look very difficult, but the devil is in the details. We could make a 1.0.1 version based on the 1.0.0 branch, or just go ahead and relea

[2019-09-25 17:23] enquora commented on #2861
"Notarization also protects your users if your **Developer ID signing key** is exposed" - we don't have a developer account for Cappuccino. This has been a problem for other projects I use which are organized on an informal and ad-hoc basis. Membership certainly isn't expensive, but it brings along the problem of what the legal entity behind the developer account actually is.

Depending on a devel

[2019-09-25 18:27] aljungberg commented on #2861
Yeah it could get a little wonky. We don't have a legal entity for the Cappuccino project.

It strikes me that who owns the Developer ID is kind of irrelevant. I could use a private Developer ID, and should I be hit by a bus tomorrow Martin could just use his ID to sign the next release. Sure, different versions of Cappuccino would now be signed by different people. But would our end-users care if

[2019-09-25 20:03] enquora commented on #2861
afaik, Gatekeeper watches for extended attributes written by the downloading agent. It's not clear to me if this is only currently a problem with files downloaded by a web browser, or if it extends to downloading with wget or curl (as examples). My current understanding is removal of the quarantine attribute (xattr -d com.apple.quarantine filename) sidesteps the problem.

If so, this seems somethi

[2019-09-27 08:35] mrcarlberg commented on #2861
I agree with Alexander that anyone can code sign it. I do believe we can create an Apple-Id and create a free Apple Developer account that can code sign. I don't know if that will help us in any way and we need to manage the account. I think Alexanders way is simpler.

I tried to read up a little on this and I think we need to make sure we code sign XcodeCapp and the 3 above executables when build

[2019-09-27 15:21] enquora commented on #2861
If we have at least two people with committing privileges who are willing to use their Apple IDs, that seems to handle the practical concerns. I'll take proof the notarization process and prepare a guide for release package preparers.

Non-developer account signing of builds is only valid for 7 days. I don't know if such packages can be distributed, even for that short window, or if that short win

[2019-09-27 16:23] mrcarlberg commented on #2861
From what I understand we need to code sign and do notarization only for releases. That is what the Bootstrap will download and install when installing Cappuccino. When someone build from source on a Mac they will build there own build of XcodeCapp and the 3 executables. The best thing should be if they could sign with there own Apple-id. Notarization is not necessary if you build yourself.

[2019-09-27 17:48] enquora commented on #2861
It is correct we need only notarize for releases. The Javascript execution environment is beyond our reach and we must depend on those authors to deal with the requirement. It is always possible to manually strip the quarantine attribute(s) which Gatekeeper manages, or to right-click on an executable from Finder and allow execution (although this isn't a good user experience, particularly for non-

[2019-09-27 17:54] enquora commented on #2861
For anyone preferring a GUI to look at extended attributes, Howard Oakley has useful tools: https://eclecticlight.co/xattred-sandstrip-xattr-tools/

[2019-09-27 18:02] enquora commented on #2861
Note: Executing the bootstrapper as single line curl command probably bypasses Gatekeeper entirely (in its current form)  - download the bootstrap script itself using a curl one-liner, then execute it. Window doesn't include curl by default (afaik) though.

[2019-10-06 14:12] jasperdeb opened #2865 "Editing issue in a cell of a CPTableView depending on the number of rows"
I have encounterd an issue while editing a cell in a CPTableView. A reduction has been made at the link [http://por-taal.be/Reduction/](http://por-taal.be/Reduction).
The code of the AppController.j can be found at [http://por-taal.be/Reduction/AppController.j](http://por-taal.be/Reduction/AppController.j).

Depending on the number of lines in the CPTableView (up to 431 lines, or more then 431 lin

[2019-10-06 17:50] mrcarlberg commented on #2865
Can you please describe the problem? What do you expect? What is "something weird"?

[2019-10-06 18:08] jasperdeb commented on #2865
@mrcarlberg I updated the description.

[2019-10-06 18:30] mrcarlberg commented on #2865
Thanks, I do get this in Chrome but not in Firefox or Safari.

[2019-10-06 18:33] mrcarlberg commented on #2865
What version of Cappuccino do you use?

[2019-10-06 18:38] jasperdeb commented on #2865
As I mainly use Chrome (normally I work on a Windows laptop)I had not tested it, but now working on an iMac and I can confirm this is a Chrome only problem.

The version in the test is the 05/09/2019 version of Didier is work for A3. Should I test with the latest master or 1.0 release to verify?

[2019-10-06 18:39] mrcarlberg commented on #2865
Please test it with the latest master.

[2019-10-06 19:22] jasperdeb commented on #2865
Just compiled the latest master and updated the reduction with this build, but no change in behaviour.

[2019-10-07 17:28] daboe01 commented on #2865
looks like it gets worse in canary 79
<img width="750" alt="Bildschirmfoto 2019-10-07 um 19 26 59" src="https://user-images.githubusercontent.com/146335/66334089-a52ad980-e938-11e9-9177-535e5062e1f2.png">

[2019-10-07 17:33] daboe01 commented on #2865
@jasperdeb i do not see this in my apps, that do not have zebra mode turned on.
could zebra mode be the trigger?

[2019-10-07 17:39] daboe01 commented on #2865
-#new
+Chrome

[2019-10-07 17:41] daboe01 commented on #2855
-#new
+Foundation
+Chrome

[2019-10-07 17:42] daboe01 commented on #2861
-#new
+tools

[2019-10-07 19:20] jasperdeb commented on #2865
@daboe01 I have commented out the alternated row colors, and the problem is not gone.

[2019-10-08 06:40] daboe01 commented on #2865
@jasperdeb are you 100% sure you see the issue with 1.0?

[2019-10-08 18:26] jasperdeb commented on #2865
I compiled the latest master. @daboe01 Do you get other results?

[2019-10-09 06:23] daboe01 commented on #2865
@jasperdeb i did not try your reduction on my setup. will do so asap.

[2019-10-09 17:28] daboe01 commented on #2865
@jasperdeb i get the same results with the current master.
the issue is triggered by returning more than 303 from -numberOfRowsInTableView:

[2019-10-09 17:45] daboe01 commented on #2865
@jasperdeb good news: the issue is fixed in chromium Version 79.0.3938.0 (Entwickler-Build) (64-Bit)

[2019-10-09 17:51] jasperdeb commented on #2865
ok, I will wait and see if the stable release of Chrome 79 solves the problem, and then close if this is the case.

[2019-10-16 20:13] enquora commented on #2861
Is the simple answer (in the short term) deprecating the  starter bundle and packaged release, installing using the source instructions for everyone (with perhaps a tagged release being downloaded rather than master) - then moving post-haste to a pure javascript environment (including installer) using nodejs?

[2019-10-17 07:03] mrcarlberg commented on #2861
I think we should get the bootstrap.sh working for Catalina on January 1. David, can you put some time on testing what is needed for it to work?

[2019-10-18 11:37] #2787 closed

[2019-10-18 11:40] mrcarlberg commented on #2791
@aksuska Does the fix from @cacaodev work for you. Please let me know as I want to merge this into the master.

[2019-10-18 22:43] aksuska commented on #2791
I can confirm that this fix works for me. Thanks!

[2019-10-20 19:48] enquora commented on #2861
bootstrap.sh works just fine, as long as it is retrieved using git, curl, wget or some method other than a browser (which sets the the quarantine xattr).

We have yet to resolve the question of what contexts we are willing to support. My proposal is to immediately deprecate the Rhino/Narwhal dependencies, use curl to fetch and run, modify bootstrap.sh to support either master or the latest tagged

[2019-10-21 07:23] mrcarlberg commented on #2861
Ok, good that the bootstrap.sh does not set the quarantine xattr. That gives us more time.
Yes, we would love to deprecate Rhino, and even Narwhal. We do need more work for doing that. Rhino is the first step but we are still dependent of it in for `press` and `flatten`. We have a pull request for `flatten`. We need one for `press`.
To remove Narwhal is a more complex task. We have to refactor our

[2019-10-27 16:22] daboe01 commented on #2865
@jasperdeb do you still see this in 78.0.3904.70?

[2019-10-27 16:31] daboe01 opened #2869 "Scrolling by momentum is broken in FF70"
i see this on a MBP on macosx when scrolling via trackpad.

[2019-10-27 16:42] daboe01 commented on #2673
@bedalton any chances for a pull-request?

[2019-10-27 16:43] daboe01 commented on #2673
-#new
+#needs-patch
+Tools

[2019-10-27 18:30] daboe01 commented on #2869
-#new
+Firefox

[2019-10-27 18:47] daboe01 commented on #2869
looks like the explanation is here:
https://bugzilla.mozilla.org/show_bug.cgi?id=907275

[2019-10-27 22:44] bedalton commented on #2673
I can remove the slash, but I am not sure how I would go about testing whether or not it worked properly. Any suggestions?

[2019-11-02 13:54] daboe01 commented on #2673
@bedalton i think that a failure to detect the trailing </key> from <key>CF$UID</key> will cause immediate trouble in building a cib from any xib.

[2019-11-02 14:21] daboe01 commented on #2869
we probably need to catch MozMousePixelScroll on FF instead of DOMMouseScroll

[2019-11-02 14:22] daboe01 commented on #2865
@jasperdeb for me it is fixed in the latest 78

[2019-11-07 19:23] jasperdeb commented on #2865
I don't see this anymore. Therefore I close this issue...

[2019-11-07 19:23] #2865 closed

[2019-11-12 13:02] #2791 closed

[2019-11-27 07:40] daboe01 opened #2873 "entering hashtag key adds a pound-key in FF70"
'#' gives you £#

[2019-11-27 07:40] daboe01 commented on #2873
+TextView
+FireFox

[2019-11-27 10:47] daboe01 commented on #2873
-#new

[2019-11-27 13:57] daboe01 commented on #2873
https://stackoverflow.com/questions/17188302/consistent-keycode-for

[2019-11-27 17:50] daboe01 commented on #2873
the issue is a wrong value in charCode
<img width="259" alt="Bildschirmfoto 2019-11-27 um 17 06 44" src="https://user-images.githubusercontent.com/146335/69747462-b5944f00-1146-11ea-97a3-cf9013bae9e0.png">

[2019-11-27 17:52] daboe01 commented on #2873
key is '#', keyCode is 163 (the code for £)

[2019-12-06 09:59] mrcarlberg commented on #2722
@cacaodev Do you know why we use `_imageScaling = (((buttonFlags2 >> 6) & 0x3) + 2) % 4; `?
Cocotron and Gnustep do just `_imageScaling = (buttonFlags2 >> 6) & 0x3;`

[2019-12-06 17:55] aksuska commented on #2722
It seems unlikely to be an image scaling issue, as directly setting scaling during run-time does not fix the issue. Regardless, none of the image scaling options indicate a zero-width result.

[2019-12-12 19:51] daboe01 commented on #1646
i am still seeing this recently on FF.

[2019-12-13 06:59] daboe01 commented on #1646
while i see this occasionally, i am having a hard time to produce a reduction.

[2019-12-13 06:59] #1646 closed

[2020-01-07 11:34] #2873 closed

[2020-01-07 18:17] daboe01 opened #2882 "Keyboard-event handling is based on the depreciated charCode property of DOM Events"
this needs to be addressed in the future as we are currently working around unexpected behaviors, i.e. for more recent FireFox versions.

[2020-01-11 15:04] daboe01 commented on #2869
#fixed by #2881

[2020-01-11 15:04] #2869 closed

[2020-03-06 13:26] #1435 closed

[2020-05-09 20:57] aksuska opened #2897 "Size/Position Issue In New Xcode"
As of Xcode Version 11.4.1 (11E503a), maybe earlier, nib2cib erroneously translates the size and position of some controls in apparently inconsistent ways. Attached xib (compiled xib included) produced attached image.
<img width="386" alt="image" src="https://user-images.githubusercontent.com/5047794/81484726-42b6f600-9205-11ea-9752-3fcaf7ae1ddf.png">
[Archive.zip](https://github.com/cappuccino/ca

[2020-05-09 21:05] aksuska commented on #2897
Originally thought it has to do with autoresize constraints, but changing them doesn't seem to change there display and they will resize/reposition properly according to them. Just not initially.

[2020-05-11 20:06] aksuska commented on #2722
I can confirm that, for some reason, the size being loaded from the cib is zero width, as my fix below corrects the issue:
[code]

[2020-05-11 22:55] aksuska commented on #2897
Apparently this issue came from some curious discrepancies in the object rects in the xib. First, the box was set to a height of 4, but when set to 5 (which my other lines show), it displays correctly. Also, oddly, the offset button had a height of 21 though was displaying in Xcode as if it has a height of 32, which matches the cancel button, I did a "size to fit" and it popped into the place wher

[2020-05-11 22:55] #2897 closed

[2020-05-13 05:23] enquora commented on #2882
@daboe01 Can you change 'depreciated' to 'deprecated' in your issue title? It is the correct terminology and in this case may cause problems when searching issues.

[2020-05-13 06:10] enquora opened #2898 "Update Cappuccino Website URL in Github Project Description"
The Github project page still uses the deprecated URL http://www.cappuccino-project.org alongside the description.
This should be updated to https://cappuccino.dev

Who has Github project access? @aljungberg or @mrcarlberg ?

[2020-05-16 18:27] enquora commented on #2882
Keyboard navigation of `CPOutlineView` is non-functional in Firefox (haven't checked `CPTableView` yet). Perhaps this is the reason? Still functional in much earlier versions of Firefox and WebKit/Blink browsers.

[2020-05-16 18:38] enquora commented on #2882
https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent indicates (suggesting the root of the problem wrt modern Firefox):

The compatibility chart also indicates weak support for the modern API wrt Internet Explorer 9. Are we still concerned with support for any version of IE (Microsoft isn't)?

[2020-05-16 18:55] daboe01 commented on #2882
@enquora your FF issues should be fixed in latest master. see https://github.com/cappuccino/cappuccino/pull/2874

[2020-05-16 19:06] enquora commented on #2882
@daboe01 The Firefox problem occurs using current master, but I'll re-check and refer comments to https://github.com/cappuccino/cappuccino/pull/2874 if appropriate.

[2020-05-17 07:15] daboe01 commented on #2882
@enquora i just checked with FF76 on mac. here, keyboard navigation works with collectionview and tableview (not tested outlineview, though).

[2020-05-17 19:07] enquora commented on #2882
@daboe01 Confirmed that the minimal `CPOutlineView` manual test (from Cappuccino source) works as expected in all browsers. These problems are in several of our apps. There are no obvious handlers in the responder chains which might account for this - it will be necessary to reduce the app to isolate the behaviour and determine if it is caused by application code or a non-obvious interaction withi

[2020-05-17 19:32] daboe01 commented on #2882
@enquora just guessing, could it be that the firstresponder state of you outlineview is lost somehow?

[2020-05-19 13:45] aljungberg commented on #2898
Good point. I’ve updated the URL.

#fixed

[2020-05-19 14:31] #2898 closed

[2020-05-31 19:19] daboe01 commented on #2882
-#new
+AppKit

[2020-05-31 19:23] daboe01 commented on #2882
+#acknowledged

[2020-06-15 23:17] enquora opened #2901 "Interface Builder No Longer Supports Configuration of Radio Button Groups"
This has been the case for some time - `NSMatrix` was once provided in the Interface Builder controls palette for configuring groups of radio buttons in which selection of only one should be possible.

https://developer.apple.com/documentation/appkit/nsmatrix?language=objc

The current Interface Builder mechanism relies on buttons having the same containing view and sharing an IBAction. Beyond tho

[2020-06-25 22:41] enquora commented on #2575
Apple Silicon will arrive mid/late autumn. A version of Java will almost certainly be ported but this seems as good a time as any to make the move away from it. Making the Node.js toolchain feature-complete is probably our lowest-effort route although wasm (using a not-necessarily node.js runner) is beginning to look attractive in the middle term.

To-do's:

- [ ] Determine source for ARM version

[2020-07-01 17:04] enquora commented on #2575
Does a reason exist to continue support for JavascriptCore once Node is officially supported?
I don't see one - node.js should perform roughly on-par with JavascriptCore.

Node.js now has (experimental) support for WASI - we can (either in our first Node version or progressively thereafter) eliminate the CommonJS dependency by programming system interactions first to the Node API, then moving to t

[2020-07-01 17:13] enquora commented on #2861
We may be able to sidestep this entirely using a NPM package which installs from source (for either current master or release).

Are they any reasons a user might not want/be able to install a release version this way?

[2020-07-01 17:29] enquora commented on #2575
@mrcarlberg You mentioned private work on Terser you had done. Does the base Terser distribution not provide the functionality we need directly?

Also, I came across a fork of Uglify which purports to support ES6 and beyond but I've lost track of the URL. Are you sufficiently current with that world to know if a clear winner has emerged - Terser or otherwise?

[2020-07-03 19:30] daboe01 commented on #2901
-#new
+tools

[2020-07-04 07:55] daboe01 commented on #2901
@enquora which solution do you propose?
+#needs-info

[2020-07-04 16:24] enquora commented on #2901
I’m looking first at an IBDesignable Objective-C version of CPRadioGroup

[2020-08-10 15:26] daboe01 commented on #2814
i think we can close this issue.
@bedalton @mrcarlberg any new thoughts?

[2020-08-10 15:32] daboe01 commented on #2679
@bedalton looks like you did not file a pull request from your branch (b5d415a). can you please have a look?

[2020-08-26 16:22] enquora opened #2915 "macOS 11 Will Not Launch Unsigned ARM Binaries"
As of beta 4, macOS 11 will only launch signed ARM binaries
[overview outside Apple developer portal for those without access to it](https://eclecticlight.co/2020/08/22/apple-silicon-macs-will-require-signed-code/)

[2020-09-11 07:37] mrcarlberg commented on #2915
As all our binaries are built when installing or building Cappuccino can we make the Xcode projects auto sign the code? Or do we need instructions on a manual setup here?

[2020-09-14 21:12] enquora commented on #2915
Xcode can sign iOS apps for ad-hoc deployment to physical devices but without a paid developer account the deployment is limited to 7 days. It is unclear if the same or a similar limitation will apply to macOS apps on Apple Silicon.

A requirement to re-sign every 7 days would be a significant nuisance.

[2020-09-15 10:36] mrcarlberg commented on #2915
We have to wait to find out how this is going to behave....

[2020-09-20 19:09] enquora opened #2942 "Vertical alignment of 'Loading' animation for index.html is broken in Safari, Edge"
The vertical alignment of the 'Loading' animation is no longer correct in recent Safari versions and Edge.
It is at the very top of the page.

The current implementation depends on using the 'table' display mode for divs but is no longer reliably producing the desired effect.

The modern way to do this is using flexbox, but rules out usage in Internet Explorer.
Are we still making any effort to su

[2020-09-20 19:14] michaelbach commented on #2942
I seem to remember the consensus was to drop support for IE. However, here IMHO it does'nt matter if loading animation is aligned to top (in my case, ≈100 programs are affected by this :)). Precious efforts should be invested elsewhere.

[2020-09-21 23:49] enquora commented on #2942
It's fixed already (using flexbox) and will be included when the default xib for the NIBApplication template is updated to a modern version which doesn't throw warnings (Xcode 9.3).

[2020-10-02 11:52] #2679 closed

[2020-10-09 07:35] #2901 closed

[2020-11-17 22:46] aksuska opened #2955 ""LIKE" Predicate Operator Incorrectly Implemented"
According to lines 320-322 of CPComparisonPredicate, when the "like" operator is used, the framework uses RegExp.test() for comparison. However, because the expression is unanchored, the behavior is as if the "CONTAINS" operator was used but with wildcard support, and this is not how Cocoa works. The easiest solution is to anchor the expression, i.e. prepend a "^" and append a "$". Note also that

[2020-11-20 07:16] mrcarlberg commented on #2955
Good catch, please make a pull request with these changes along with some new unit test cases. We want this to behave the Cocoa way.

[2020-11-20 16:45] #2942 closed

[2020-11-20 16:52] enquora commented on #2942
Fixed with merging of PR2953

[2020-11-23 10:02] djbewick opened #2957 "nib2cib fails with OSX 11.0.1 and Xcode 12.2"
I've created a standard new project which produces an error of Converting xib file to plist...
Could not compile file:  ...... /Resources/MainMenu.xib when either using XCodeCapp or nib2cib.
When first opening MainMenu.xib in xcode I get a warning that the file is an old format and the options presented are either to open and upgrade the file or cancel. nib2cib fails both before opening the xib in

[2020-11-23 10:17] mrcarlberg commented on #2957
Hi!

What version of Cappuccino do you use? Have you tried the latest version from master?

We have recently merged in a pull request that should have upgraded the templates for new applications. Please check #2946.

[2020-11-23 11:02] djbewick commented on #2957
Now running cappuccino 1.0.0 (2020-03-26 dd781f) and the problem has gone.  My apologies.

[2020-11-23 11:02] #2957 closed

[2020-12-04 13:56] OCTAGRAM opened #2958 "Async/await syntax"
Hello!

With async/await we are finally (almost) able to write clean synchronous-style browser code. But Objective-J did not incorporate it in any way IIUC.

It is not an easy move, but what are the plans about it?

For instance, make all Objective-J methods implementations async, and all Objective-J method invocations await.

Or, like in ordinary JavaScript, move the burden of memorizing who's as

[2020-12-04 16:49] mrcarlberg commented on #2958
Hello!

I guess this will be done in multiple steps for Objective-J. As it is a superset of Javascript we first need to support ECMAScript 2017. When that is done we can start incorporate it to the Objective-J language.

With that said, do you have any ideas or suggestions that you want in the language?

[2020-12-04 17:07] OCTAGRAM commented on #2958
For me would be easier to make everything async. But then quite many assumptions ruin. Handler may semi-execute when handling DOM event, and then next DOM event comes in between. But we cannot let handler fire. The environment becomes "multithreaded" otherwise.

I rely on Cappuccino to do the heavy lifting now, and the same way I would rely on Cappuccino to simulate "single main thread" while maki

[2020-12-06 08:04] daboe01 commented on #2958
maybe we can/should integrate this with CPOperationQueue somehow?

[2020-12-13 12:08] mrcarlberg commented on #2958
We have to keep things separate. I can at least find these topic in this interesting discussion:
1. Add async/await support in the Objective-J language. A good reference is the Swift Evolution link above.
2. The problem with the main thread that sometimes is heavily congested. My thinking here is to move everything in Cappuccino to a Web Worker (https://developer.mozilla.org/en-US/docs/Web/API/Web

[2021-01-03 17:27] bedalton commented on #2814
I think it would be okay to close this, as I do not see a much of a future for it, or how useful it would be vs. how damaging. I mostly asked because I was developing a plugin for IntelliJ IDE's and was unsure of how I should validate parameters there.

If however, before anyone closes this issue, anyone has thoughts on this: in the Objective-J plugin I was developing, would it be of use to check

[2021-01-06 07:43] bamwu opened #2967 "steps to add node support are not working"
Trying to follow the steps listed here:

https://www.cappuccino.dev/blog/2017/04/cappuccino-on-node-js.html

The npm-install script fails with several errors, beginning with:

[code]

macOS 10.15.7
Xcode 12.2
Node 12.18.4
Cappuccino latest

[2021-01-06 10:39] mrcarlberg commented on #2967
I googled on this error and it looks like it is something with the node module fibers not compatible with Node 12. What versions of fibers do you use?

[2021-01-07 07:02] bamwu commented on #2967
Not sure. It's something Cappuccino uses internally I guess or maybe something that one of its dependencies uses internally.

[2021-01-07 08:20] mrcarlberg commented on #2967
I believe Fibers is installed when you run the file `<Your Narwhal Folder>/packages/narwhal-node/bin/npm-install`. It does not say which version in the file so it would be very good to know which version is installed when you run the script?

[2021-01-26 16:31] cacaodev opened #2969 "A CPBox containing a CPColorWheel fails nib2cib conversion"
**Steps to reproduce:**

1. Create a new NibTemplate application
2. In Xcode, add a CPColorWheel and embed it in a CPBox.
3. Run nib2cib

**Result:**

nib2cib throws an error : `null is not an object (evaluating 'CPApp._windows')`

[2021-01-26 16:36] cacaodev opened #2970 "Autoresizing masks of CPBox subviews are ignored after running nib2cib"
When a CPBox contains subviews with non-default autoresizing masks (width sizing or fixed right side), nib2cib ignores these masks.
No error is visible in nib2cib output but the subviews are not resized correctly.

[2021-01-27 08:03] didierkorthoudt commented on #2969
@cacaodev I’ll look at this ASAP.

[2021-01-27 08:03] didierkorthoudt commented on #2970
@cacaodev I’ll look at this ASAP.

[2021-01-27 15:12] ivucica commented on #2967
https://gist.github.com/ivucica/aef34af616d481579c2a7fffac8a449d

`fibers@5.0.0`, node `v12.19.0`

[2021-01-27 15:37] mrcarlberg commented on #2967
It looks like you get fibers version 1.0.15 installed on line 10

[code]

[2021-01-27 18:16] ivucica commented on #2967
True.

I just spent some more time fiddling with this and independently found `synchronize` is the culprit, which is obvious once you pointed out the issue.

[2021-01-27 18:43] ivucica commented on #2967
I don't do development based on Node and Javascript usually (precisely why I'm here: for Objective-J), so after half an hour of playing with it, I still don't know how to work around this PR not being merged, or the updated package not being released on NPM: https://github.com/al6x/synchronize/pull/73

I also think Cappuccino 1.0.0's starter bundle's package.json might be using some outdated synta

[2021-01-27 18:59] ivucica commented on #2967
To install the branch used in that pull request linked above https://github.com/al6x/synchronize/pull/73, edit `packages/narwhal-node/bin/npm-install` to use this:

[code]

This installs `synchronize`. However, that PR scopes the package, so it's no longer `synchronize`; it's instead `@triggi/synchronize`. Edit `packages/narwhal-node/bootstrap.js` and edit the line mentioning `// using node's requ

[2021-01-28 18:50] enquora opened #2971 "nib2cib incompletely converts NSImageView instances"
Instances of NSImageView in Interface Builder are incompletely converted by nib2cib
Instances of CPImageView are correctly converted but image data is not converted when an image is set statically in Interface Builder.
[ImageTest.zip](https://github.com/cappuccino/cappuccino/files/5889437/ImageTest.zip)

[2021-01-28 20:09] didierkorthoudt commented on #2971
I’lol have a look at this one as I’m currently working on image views...

[2021-01-28 20:25] enquora commented on #2971
Note in the logging statement in the AppDelegate - the filepath is present in the CPImage, but nothing else.
It appears the coder simply doesn't deal with possible image data.

[2021-02-03 17:18] cacaodev commented on #2971
@enquora
Do you know if IB encodes the image in the Nib file for images views ?
Also, can you describe in what situation it would be better to have the image encoded instead of having a reference to the file, and what problem the current behavior is causing.

There is an issue opened for the CPBox resize masks : #2970

[2021-02-03 18:13] enquora commented on #2971
@cacaodev
I do not, in fact, know if IB encodes images for Nibs rather than providing references - more research needed.
I've been thinking about this since running into the problem - encoding a reference seems more efficient and the more likely approach. Encoding the image data each time it is used (when used multiple times) doesn't seem like a good approach.

More research and testing needed. Fo

[2021-02-03 18:29] enquora commented on #2971
@daboe01 Can you make a tag for Xcode and nib2cib issues? I'd like to start grouping them together. IB is one of our major advantages (rapid app development) and I'd like to see reliability improvements in our next release (presumably with Aristo3).

I'm in the middle of a major rollout at the moment and can't stop to fix things like this, but will come back to them once settled. wrt Xcode, its ed

[2021-02-05 17:48] daboe01 commented on #2971
@enquora good idea.  this can only be done by @mrcarlberg as i am not a core-dev.

[2021-02-08 08:09] mrcarlberg commented on #2971
@enquora Do you want two tags, one for Xcode and one for nib2cib?

[2021-02-08 16:56] enquora commented on #2971
@mrcarlberg Perhaps just a single tag - 'tools' or 'toolchain'?

[2021-02-08 18:09] daboe01 commented on #2971
@enquora we already have the tag "tools"

[2021-02-28 15:25] aksuska opened #2972 "Key Path Operators Not Supported on Child Key Path"
At least when loaded from cib, the following key path generates an exception: collectionKeyPath.@sum.valueKeyPath but this usage is canonical in Objective-C. The error is "CPInvalidArgumentException: [CPArray addObserver:forKeyPath:options:context:] is not supported." In this case, the KVC implementation should ignore the intermediate observation as the preceding key should always produce an array

[2021-03-02 09:48] daboe01 commented on #2971
-#new
+tools
+#needs-info

[2021-03-02 09:48] daboe01 commented on #2969
-#new
+tools
+#needs-patch

[2021-03-02 09:49] daboe01 commented on #2967
-#new
+tools

[2021-03-02 09:50] daboe01 commented on #2958
-#new
+Objective-J

[2021-03-02 09:51] daboe01 commented on #2955
-#new
+Foundation
+#needs-patch
+#accepted

[2021-03-02 09:51] daboe01 commented on #2915
-#new
+tools

[2021-03-07 10:55] didierkorthoudt commented on #2970
@cacaodev Sorry for the delay.
I've just done a quick test on current master and it seems to work with a basic sample.
Could you provide a test case that fails ?

Here is my sample test before resizing :
![Before Resize](https://user-images.githubusercontent.com/2394110/110237366-fda24400-7f3b-11eb-84df-80f204f5c158.png)

Here it is after resizing :
![After Resize](https://user-images.githubuserco

[2021-03-07 19:54] cacaodev commented on #2970
Sure, I pushed this manual test.

[2021-03-09 17:52] cacaodev commented on #2970
This is due to the autoresizesSubviews checkbox not being checked by default when you embed views into a box (Xcode 8.).

autoresizesSubviews subviews should be enforced for CPBox. It seems to be the case when reading the initWithCoder method bur for some reason it has no effect or is reverted.

[2021-03-17 03:24] enquora opened #2974 "scaleUnitSquareToSize: does not appear to behave the same as native Objective-C version"
Reductions attached in both Objective-C and Objective-J.
Objective-J version behaves differently, as demonstrated by both Javascript console and crash.
[Scaling Tests, Native and Cappuccino.zip](https://github.com/cappuccino/cappuccino/files/6153549/Scaling.Tests.Native.and.Cappuccino.zip)

Note the manual test produces expected behaviour but uses a static superview.
This reduction places the scal

[2021-03-21 19:58] enquora commented on #2861
This is a problem beyond just installing Cappuccino - on a new installation of Big Sur (on a new volume) permission problems with nib2cib prevent files in /tmp cannot be deleted except by using sudo. This is after granting 'ibtool`, `plutil`, `nib2cib`, `obj` and a number of other independent utils Developer Tools permissions. Changing the tmp dir to one in $HOME fixes the problem, but saving a xi

[2021-03-22 17:49] enquora commented on #2575
The [installation instructions](https://www.cappuccino.dev/blog/2017/04/cappuccino-on-node-js.html) for nodejs no longer seem to work. The LTS version of Nodejs is 14, and the synchronize npm package is apparently unmaintained and has been forked. An update of the instructions combined of a concise description of what the nodejs version is would be helpful. For instance, is the nodejs version an a

[2021-03-26 11:44] daboe01 opened #2976 "CPCheckBoxes do not show the check mark anymore"
All boxes look unchecked, regardless of the state.
I suspect that this is related to the recent merges in preparation of Aristo3

[2021-03-26 13:00] daboe01 commented on #2976
+#new
+regression
+Theme

[2021-03-26 13:01] daboe01 commented on #2974
-#new
+AppKit
+#needs-patch

[2021-03-26 14:22] daboe01 commented on #2976
-#new

[2021-03-26 17:19] enquora commented on #2976
I'm not seeing this in an app using up-to-date master, either when state is set using IB or in code.
Behaviour is as expected here.

[2021-03-26 17:24] enquora commented on #2974
@didierkorthoudt Would you mind trying both the native example and the Cappuccino one using your most current Aristo3 branch? It shouldn't take more than 5 minutes - resize the window and note the behaviour.

We appear to use CSS to manage `scaleUnitSquareToSize:`. I'm curious whether the same behaviour I'm seeing is still present with the theming changes you've made (so far) in Aristo3.

[2021-03-26 17:36] daboe01 commented on #2976
thank you. i suspect it is related to bindings. i will have a deeper look into this next week.

[2021-03-26 18:52] daboe01 commented on #2976
+#works-for-me
you are right, the check marks display in the manual test.
the issue is somewhere else.
i will dig into this next week.

[2021-03-26 18:52] #2976 closed

[2021-03-26 18:55] daboe01 commented on #2972
-#new
+bindings
+#needs-patch
+feature

[2021-03-26 18:56] daboe01 commented on #2601
+#wont-fix

[2021-03-26 19:38] #2601 closed

[2021-03-26 22:09] enquora commented on #2974
Note: the existing manual scaling test does result in expected behaviour, but seems to test only a subset of possible usages.

[2021-03-28 11:42] daboe01 commented on #2974
@enquora we should add your reduction to the ManualTests. can you please make a PR for this?

[2021-03-28 19:17] daboe01 commented on #2976
as it happened, my code bypassed initFrame: and therefore missed to properly initialize _showsStateBy and friends.

[2021-03-29 17:45] daboe01 opened #2977 "CPButton setImage: does not set the image in disabled state"
@didierkorthoudt
IMHO can be easily fixed by adding this line to setImage:
[self setValue:spinnerImg forThemeAttribute:@"image" inState:CPThemeStateDisabled];
should i make a PR with this?
am i missing something?

[2021-04-16 16:07] enquora opened #2980 "CPTextContainer doesn't support tracking height changes in parent textView"
While support for widthTracksTextView is present, heightTracksTextView support is missing.

[2021-04-17 09:00] stewa commented on #2969
Not sure if related but embedding a Scrollable Text View seems to fail too.

[2021-04-26 16:28] enquora opened #2981 "Baseline management missing from CPText"
Although the constants `CPBaselineOffsetAttributeName` and `CPSuperscriptAttributeName` are both defined, it is not currently possible to implement baseline offsets.
This is necessary for both super/subscripts and aligning multiple columns of text, possibly in different fonts or sizes.

It is possible to use unicode characters for super and subscripting numbers but this may compromise searching fo

[2021-04-28 05:59] daboe01 commented on #2981
-#new
+TextView
+#accepted
+#needs-patch

[2021-04-28 06:32] daboe01 commented on #2981
a starting point is here: #2883

[2021-05-12 21:53] enquora opened #2982 "CPView is missing rotateByAngle method"
Do we have an entirely distinct (from Objective-C) of accomplishing arbitrary rotation of a view or am I correct assuming it isn't currently possible without directly manipulating the underlying DOM?

The only technically feasible way of implementing this is using an underlying CSS transform, afaik.
Does this risk a collision with Aristo3's CSS theming mechanism @didierkorthoudt?

[2021-05-17 06:30] daboe01 commented on #2982
I do not see a universal and clean way to implement a tranformation matrix that works transparently with every view. This is because CPView can use different means of drawing, either canvas or DOM directly.
IMHO our abstraction is not deep enough to make rotateByAngle: work within CPView.

[2021-05-31 06:46] daboe01 opened #2983 "copy/paste with CPTextView only works with a main menu"
you can see this e.g. in the manual test CPTextViewCibTest that does not have a main menu.

this limitation is not present in cocoa and is not obvious.

one solution could be to raise an exception if no main menu is installed.
another solution could be to add this to the documentation.
a third solution could be to always add the main menu on startup but hide it by default.

what do you think?

[2021-05-31 06:48] daboe01 commented on #2983
-#new
+TextView
+#needs-review

[2021-06-02 05:53] Abhie87 commented on #2983
Another observation related to CPTextView is that when CPTextView is in modal window at that time also the copy paste does not works, even though the main menu is there in the main window.

[2021-06-02 06:04] Abhie87 opened #2984 "For CPButton, the font size does not changes according to control size"
For CPButton, when the control size is set to small or mini the font of the button title remains bold and font size also remain same as that of regular control.  This is happening after i started using **Cappuccino 1.0.0** version. in the early version 0.9.10 this was working as expected.
Attached is the screenshot of it. The example is taken from [https://cappuccino-testbook.5apps.com/#ThemeKitch

[2021-06-02 06:43] daboe01 commented on #2983
do your modal windows return YES from acceptsFirstResponder?

[2021-06-02 06:51] daboe01 commented on #2984
-#new
+#accepted
+Theme
+#needs-patch

[2021-06-05 21:23] daboe01 commented on #2984
+#regression

[2021-07-04 19:11] daboe01 commented on #2984
+regression

[2021-07-05 16:29] enquora commented on #2575
The Java dependency is an increasing problem. Current versions of Java no longer run Cappuccino properly and Java 8 is the last version which doesn't cause deprecation warnings when Narwhal is run. Neither press nor shrinksafe are strictly required to use Cappuccino, either for development or deployment. Is it not time to begin the transition to the nodejs version?

As noted, the installation inst

[2021-07-06 16:49] ThrudTheBarbarian opened #2985 "CPTextField doesn't accept -setTextColor unless it already has string content"
This will work:
`

		_date	= [[CPTextField alloc] initWithFrame:CGRectMake(w-70,0,50,14)];

		[_date setStringValue:"--/--/--"];

		[_date setTextColor:[CPColor colorWithHexString:"888888"]];

		[self addSubview:_date];
`

... but remove the dummy -setStringValue: and the text is always black.

[2021-07-06 19:17] daboe01 commented on #2977
-#new
+Theme
+#needs-patch

[2021-07-06 19:19] daboe01 commented on #2814
+#wont-fix

[2021-07-06 19:42] #2814 closed

[2021-07-08 19:20] daboe01 opened #2986 "CPSearchField's bezel does not resize properly"
this is introduced by 5c4107835b415e11008e26d1614d2920de561ad1

you can see it by means of making a search field horizontally resizable.

[2021-07-08 19:32] daboe01 commented on #2982
-#new
+#needs-discussion

[2021-07-18 14:46] daboe01 commented on #2986
-#new
+Theme
+regression

[2021-07-18 17:13] daboe01 commented on #2986
@didierkorthoudt can you have a look, please?

[2021-07-18 17:15] daboe01 commented on #2977
@didierkorthoudt can you have a look, please?

[2021-07-18 17:33] daboe01 commented on #2985
@ThrudTheBarbarian swapping the lines setTextColor and setStringValue still gives me a gray textfield.
can you please post the full reduction?

[2021-07-18 17:33] daboe01 commented on #2985
-#new
+#needs-reduction

[2021-07-18 18:28] ThrudTheBarbarian commented on #2985
Hmm - I'll try and create a reduction. I can't show the original I'm afraid.

[2021-07-18 19:18] daboe01 commented on #2980
-#new
+TextView
+#needs-patch

[2021-07-18 19:21] daboe01 commented on #2047
it is not clear to me what the issue is
+#wont-fix

[2021-07-18 19:52] #2047 closed

[2021-07-22 00:15] ThrudTheBarbarian commented on #2985
[AppController.txt](https://github.com/cappuccino/cappuccino/files/6859343/AppController.txt)

Ok, uploaded AppController.txt (which is really AppController.j but GitHub doesn't like .j). It creates a CPTextfield, sets the target/action to a method, and tries to change the colour of the textfield within that method. It then reads it back to see if it worked.

Here's the output of the CPLogs after

[2021-07-27 06:13] didierkorthoudt commented on #2984
I'll have a look ! I think this is a side effect of the new way we manage control sizes.

[2021-07-27 06:35] daboe01 commented on #2984
@didierkorthoudt thank you! very much appreciated.

[2021-07-27 17:13] enquora opened #2989 "nib2cib fails silently when Xcode 13 is selected"
`nib2cib` fails silently when Cappuccino is installed using Xcode 13. Running under Xcode 12 or earlier produces expected results.

[2021-07-28 16:23] didierkorthoudt commented on #2985
@ThrudTheBarbarian Strange. I've tested here, on current master, and everything is OK. Are you working with current master ?

[2021-07-28 16:29] didierkorthoudt commented on #2985
@daboe01 Did you observed the problem ?

[2021-07-28 16:33] ThrudTheBarbarian commented on #2985
I'm looking at ~/src/Cappuccino and the file dates are 4th July.  I'm *fairly* sure that's the version of Cappuccino I'm using, and I checked out master.

I have a clean machine I've just set up, which I have to burn in this weekend. I'll set up a fresh Cappuccino install on that to make sure.

[2021-07-28 17:02] didierkorthoudt commented on #2970
@cacaodev Coming back on this one. You're right, the autoresizesSubviews is reverted somewhere. Trying to find where and why…

[2021-07-28 17:47] daboe01 commented on #2985
@didierkorthoudt
i just had a look at the reduction of @ThrudTheBarbarian
the call to setTextColor: does indeed not turn the text red as expected.
however, the text turns red immediately after typing the string thereafter.
this looks like a redraw issue to me.

[2021-07-29 07:33] daboe01 commented on #2985
-#needs-reduction

[2021-07-29 07:33] daboe01 commented on #2985
+AppKit

[2021-07-29 08:03] didierkorthoudt commented on #2970
@cacaodev Well, it's reverted because the autoresizesSubviews checkbox was not checked. Thus, the decoding is working correctly. But, comparing to Cocoa, indeed, a box seems to always autoresize its subviews, whatever the state of the checkbox. So I'll force this behavior.

[2021-07-29 09:30] #2977 closed

[2021-07-29 09:39] #2986 closed

[2021-07-29 10:38] #2984 closed

[2021-07-29 14:31] didierkorthoudt commented on #2970
@cacaodev I've pushed #2992. Is it OK for you ?

[2021-07-29 14:43] didierkorthoudt commented on #2985
@ThrudTheBarbarian @daboe01 I've pushed #2993 that fixes this. Is this OK for you ?

[2021-07-29 16:11] didierkorthoudt commented on #2969
Fixed by #2994

[2021-07-29 16:23] didierkorthoudt commented on #2969
@cacaodev OK for you ?

[2021-07-30 04:49] daboe01 commented on #2915
@enquora @mrcarlberg
is this a duplicate of #2861 ?

[2021-07-30 04:54] daboe01 commented on #2726
@enquora i remember that i added support for the minSize and maxSize properties in the past.
can you please check whether this is still an issue with the latest master?

[2021-07-30 15:41] didierkorthoudt commented on #2971
Digging on this one but there's a problem with nib2cib that fails converting with an error code ```null is not an object (evaluating 'self._superview._frame')```. As always, debugging nib2cib is not simple…

[2021-07-30 18:38] enquora commented on #2726
@daboe01
Now works as expected.
Could you add a link to the commit which fixed this, as a reference, then close?

[2021-07-30 18:40] enquora commented on #2915
@daboe01
This issue is, indeed, covered by #2861 and can be closed.

[2021-07-30 18:40] #2915 closed

[2021-07-31 13:31] didierkorthoudt commented on #2971
A fix for the here above problem in nib2cib is pushed (see #2995).

Digging on the main problem now.

[2021-07-31 17:00] daboe01 commented on #2726
fixed by #2609

[2021-07-31 17:00] daboe01 commented on #2726
+#fixed

[2021-07-31 17:13] #2726 closed

[2021-07-31 17:39] daboe01 commented on #1674
the reduction is gone.
on one complained in the meantime.
+#wont-fix

[2021-07-31 18:11] #1674 closed

[2021-07-31 19:11] daboe01 commented on #2539
@aksuska can you please check whether this is still an issue with stuff from the latest master?

[2021-08-01 17:56] daboe01 commented on #2971
if the filepath is correctly decoded as @enquora confirmed, the only issue is that we forgot to copy the file into the resources folder, isn't it?

[2021-08-05 20:56] enquora commented on #2989
In all versions of ibtool prior to Xcode 13.0, /usr/bin/ibtool Resources/MainMenu.xib --compile /tmp/MainMenu.tmp.nib produces a single file .nib file as output.

All beta versions of Xcode 13.0 produce a directory whose name matches the expected name.
The directory contains two nib files:

keyedobjects.nib
keyedobjects-######.nib The numeric portion of the filename is 101300 in the test case bein

[2021-08-06 04:36] daboe01 commented on #2985
@didierkorthoudt  your PR is fine.
however, when we are within editing, you additionally need to call [self _setCSSStyleForInputElement] to make the color change visible;
i have placed a review comment in #2993.

[2021-08-06 10:17] #2985 closed

[2021-08-06 14:34] ThrudTheBarbarian commented on #2985
@didierkorthoudt  - Sorry for the tardiness on my part here. That demo I mentioned ? It went perhaps *too* well... I have had a string of them since and I'm giving another today to the VP and SVP.

I haven't wanted to upset my dev system (since I just have a portable at home these days) while they were ongoing. Hopefully this will be the last and I'll try and pull down and test :)

I really do app

[2021-08-06 15:48] mrcarlberg commented on #2989
Can you please create a pull request with this patch. It is so much more hassel to handle an individual patch file compared to a pull request

[2021-08-06 15:51] enquora commented on #2989
A pull request doesn't seem appropriate until Apple has addressed the Feedback filed on this.

[2021-08-06 16:16] mrcarlberg commented on #2989
It is so much easier to handle a pull request with all the functions Github gives us. We might not merge it into the master branch until we know more from Apple. So please create a pull request.

[2021-08-07 17:14] enquora commented on #2989
This is more complicated than first understood.
Behaviour of ibtool is not consistent - different test cases have alternately resulted in output of a single file and a directory.

[2021-08-09 21:56] enquora commented on #2989
ibtool v13 seems to have multiple problems up to and include beta 4 - some xibs are compiled to nibs which plutil can't read (and whose size differs radically from this compiled by v12. The nibs appear to be corrupt).

[2021-08-10 21:50] enquora commented on #2989
Apple has confirmed (via a response to the Feedback) this is expected behaviour.
The patch here is clearly the way Apple intended one deal with the change.

Further problems in the nib2cib workflow are being investigated and tested.
A comprehensive fix will be submitted as a PR once everything is verified.

[2021-09-08 02:51] darkoverlordofdata opened #3002 "XcodeCapp: Converting interface files has failed"
I want to use the interface builder, so I’m trying the tutorial at https://www.cappuccino.dev/learn/xcode-basics.html.

I’m running macOS Version 10.15.7,  Xcode version 12.4, and I followed the install from source instructions. Initially, XcodeCapp was not  in /Applications, so I opened the XcodeCapp.xcodeproj in xcode and ran build, and then it was.

Then I followed the instructions up to the pa

[2021-09-09 00:20] darkoverlordofdata commented on #3002
Ok. Looks like the issue is your instructions are just way out of date. I found a builds for setting and changed it to 'macOS 10.6 or later' and now the error goes away. As for other issues, looks like I need to read some current documentation regarding Xcode.

[2021-09-09 00:20] #3002 closed

[2021-09-11 07:58] j0gu4l667 opened #3003 "Kk"

[2021-09-12 19:19] daboe01 commented on #3003
+#wont-fix

[2021-09-12 19:56] #3003 closed

[2021-09-21 21:35] enquora commented on #2989
[fix-nib2cib-permissions-Xcode13.patch.zip](https://github.com/cappuccino/cappuccino/files/7206386/fix-nib2cib-permissions-Xcode13.patch.zip)
This patch fixes the following problems:
* use of /tmp as working directory requires elevated permissions (by granting Full-Disk Access).
* xib names are not qualified or namespaced in /tmp - creating risk of naming collisions and unexpected behaviour.
* ibt

[2021-10-02 15:10] daboe01 opened #3005 "CPDatePicker does not draw the background anymore"
Previously, the CPDatePicker worked when created from code without explicitly setting the background.
Recently, the  CPDatePicker will not work anymore, unless you set the background color explicitly (see figure).
I suspect that this was introduced by the recent changes to the theme definition.

[2021-10-02 15:10] daboe01 commented on #3005
![68747470733a2f2f66696c65732e6769747465722e696d2f3533626232303238313037653133373834366261356439392f557976592f7468756d622f42696c6473636869726d666f746f2d323032312d30392d32382d756d2d31352e33332e33372e706e67](https://user-images.githubusercontent.com/146335/135722379-70fb82f1-2d76-45e3-9d9a-c85a79f3b626.png)

[2021-10-02 15:11] daboe01 commented on #3005
+AppKit
+Theme

[2021-10-04 07:59] daboe01 commented on #3005
-#new

[2021-10-04 07:59] daboe01 commented on #2989
-#new
+Tools

[2021-10-04 15:58] enquora commented on #2989
It appears this approach works, although testing has surfaced a problem with obsolete xib formats causing silent failures.
This will be addressed in a separate fix.

@mrcarlberg I would like to suppress some debugging information unless run in verbose mode.
Command line options do not seem to be passed to the Convertor object though - leaving no way for this change to detect if it is being run in

[2021-11-07 17:44] darkoverlordofdata opened #3010 "jake build fails"
Debian 11 (Bullseye)  aarch64

[code]

[2021-11-08 09:21] mrcarlberg commented on #3010
Hello,
Support for Rhino on all Linux distributions is not great. This is not anything we will fix.

You should try our Node version (alpha version). It is tested to run on Mac OS and Ubuntu 20.04. Should run on Debian 11 too but is not yet tested. We will support many Linux distributions with this Node version.

Please check here: https://github.com/cappuccino/cappuccino/wiki/node

Currently ther

[2021-11-08 10:05] mrcarlberg commented on #3010
Just want to add that I guess the reason why you get this problem is that you are running on an ARM processor. Rhino does not support ARM. Debian 11 on X86_64 runs.

[2021-11-08 16:04] darkoverlordofdata commented on #3010
Arm yes  - I'm running this on a chromebook. Thanks for clarifying this issue for me - Cappucinno can be a real puzzle box at times :) The reason I'm not using nodejs for this is it gives me the two jakes - both rhino and node have a jake build utility, and i use both. But that's my problem, not yours. I'm starting to think I need a seperate dev instance for cappuccino, but that's going to have to

[2021-11-08 16:04] #3010 closed

[2021-11-08 16:09] mrcarlberg commented on #3010
You can have both the Node and Narwhal version of Cappuccino installed at the same time. It is just a matter of what you `PATH` is pointing. Open one terminal and point it to the Node version. Open another terminal and point it towards the Narwhal version. They can both play on the same machine.

[2021-11-09 00:57] darkoverlordofdata opened #3011 "env variabe undefined in capp generated Jakefile under nodejs"
I installed the node version as outlined in the wiki (https://github.com/cappuccino/cappuccino/wiki/node),and created a hello world:
[code]

The source code displays when I view it via web server, but of couse it loads slow so I want to compile it.
When I enter jake build, I get an error:
[code]
Looking at line 20, it says
[code]

and its correct, the variable 'env' is not defined anywhere in the

[2021-11-09 09:59] mrcarlberg commented on #3011
Thanks for finding this problem!

It looks like this comes from a bad manual merge. The variable `env` is wrong. It should be the variable `ENV`. I have fixed this in commit https://github.com/cappuccino/cappuccino/commit/642e25452240051c28d1c8855d2b19b200840779 in the node branch.

You could just change it in the Jakefile in your generated project

[2021-11-09 16:23] darkoverlordofdata commented on #3011
That works! Thanks

[2021-11-09 16:23] #3011 closed

[2021-11-13 06:57] daboe01 opened #3012 "Application freezes when clicking during the appear animation of a CPAlert"
subject says it all.

[2021-12-11 18:33] darkoverlordofdata opened #3013 "CSP failure"
When I try to deploy my project, I get this error:
[code]

I'm trying to use cappuccino in a chrome extension. I've compiled using
[code]
so I thought that would resolve the run runtime compilation. Is that a wrong assumption? Is there a way to remove the string evaluation from the final output?

[2021-12-14 17:03] darkoverlordofdata commented on #3013
I'm analyzing the output  *.sj  files, and I see eval used quite a bit; I suspect removing them would not be feasible. I can sandbox my extension, and that will work in dev, but I don't like eval much in production. What mitigations are in place that prevent this from being an attack surface?

[2022-01-04 15:36] daboe01 commented on #3013
-#new
+#needs-discussion

[2022-01-04 15:37] daboe01 commented on #3012
-#new
+AppKit

[2022-01-04 18:04] darkoverlordofdata commented on #3013
@daboe01, I'm always concerned about injection attack when I see an eval, but in this case I'm also concerned about google's review procedure, and I'm trying to anticipate roadblocks to passing that review.

Chrome extensions are not sandboxed by default, though it is an option.

Feedback from the extension dev community has pointed out some other issues, mainly the size of the libraries and clari

[2022-01-04 19:47] mrcarlberg commented on #3013
We had/have a feature to deploy a Cappuccino app as a single Javascript file. This is not working in the Node version but might still work in the Narwhal version. You create it with `jake deploy`

[2022-01-04 20:22] daboe01 commented on #3013
@darkoverlordofdata i am not aware of any chrome-extension that has been done with cappuccino. IMHO cappuccino is not well suited for this use-case.

[2022-01-05 18:08] darkoverlordofdata commented on #3013
Deploy sounds like what I'm looking for. Unfortunately, the only blocking issue I have is that Narwhal doesn't support arm. My last intel machine died last year, all I have now is arm. Looking deeper into Narwhal, I don't have any expectation that it ever will support arm. It looks to me like the project died about 10 years ago, along with 280north. That explains alot.

That's unfortunate, it seem

[2022-01-05 18:08] #3013 closed

[2022-01-06 08:03] daboe01 commented on #3013
I did not know that chrome extensions are native apps in chromeOS. That is really interesting. Do you think that submitting the single file from deploy for review will work?

Wrt arm: narwhal is java based. so it should run on M1, at least in principle. I have not tried myself so far, though.

[2022-01-06 20:26] darkoverlordofdata commented on #3013
I'm hoping that the deploy would do enough 'tree shaking' to remove eval
and shrink the code to a managable quantity - they allow things like
uglify, wasm and google compiler.

Yes, java runs perfectly on arm. It's rhino that has issues. The error is
shown here:https://github.com/cappuccino/cappuccino/issues/3010

But...Rhino may acually work on M1 due to the Rosetta2 emulator -
https://discourse.

[2022-01-07 07:02] daboe01 commented on #3013
i doubt that deploy will eliminate all usages of eval.
IMHO at least some usages are valid, e.g.:
see e.g. https://github.com/cappuccino/cappuccino/blob/37756a58534271b1104fe494179b57c511c4fa5e/Objective-J/acorn.js#L602

[2022-01-07 15:14] mrcarlberg commented on #3013
To do `jake deploy` two tools will run, `press` and `flatten`. They must run on Rhino that is a Javascript engine that is running on top of Java. But Rhino is also dependent on a native library that is not available for ARM. So Rhino is a dead end for ARM, new Macs and most of us. The tool `flatten` has been fixed to run without Rhino (https://github.com/cappuccino/cappuccino/pull/2577) but not ye

[2022-01-07 18:34] daboe01 commented on #2967
@ivucica did you get it working in the meantime?

[2022-01-07 20:28] daboe01 commented on #2575
see also the discussion in #3013

[2022-01-23 18:28] daboe01 commented on #3012
you can see this e.g. in CPAlertTest manual test when heavily clicking during the final sheet animation.

[2022-02-11 11:59] daboe01 commented on #2958
@mrcarlberg is this still an issue?

[2022-02-15 11:41] mrcarlberg commented on #2958
Yes, I believe issue 1. above is fixed in the Node version when `async`/`await` syntax was added.

[2022-02-21 20:45] Coolalgot opened #3018 "Idl"
I created something AMAZING with Picsart. Take a look
https://picsart.app.link/lJUblNYXPnb

[2022-02-24 07:24] daboe01 commented on #3018
+#wont-fix

[2022-02-24 07:45] #3018 closed

[2022-02-28 13:49] Coolalgot opened #3019 "Ask for cards"
Ask for cards
https://vik-game.moonactive.net/external/fbshare/askforcard_camping_5?locale=en

[2022-03-02 13:14] daboe01 commented on #3019
+#wont-fix

[2022-03-02 13:48] #3019 closed

[2022-03-05 17:12] #3012 closed

[2022-03-10 18:25] daboe01 opened #3021 "Cursor is blinking in a non-editable CPTextView"
the cursor should not be visible at all.

[2022-03-21 12:35] #2970 closed

[2022-03-21 14:42] #1956 closed

[2022-03-30 09:20] mrcarlberg opened #3030 "The key å and Å is lost or misplaced when typing in CPTextView"
We have problems with CPTextView and the Scandinavian character Å and å. When typing fast the text view will loose or misplace it. This makes CPTextView unusable for us. There is some special handling with it as browser has some old weird handling for dead keys. ("https://stackoverflow.com/questions/25043934/is-it-ok-to-ignore-keydown-events-with-keycode-229").
I did some quick check in the code a

[2022-03-31 14:27] daboe01 commented on #3021
+#fixed

[2022-03-31 15:02] #3021 closed

[2022-04-01 08:35] daboe01 opened #3032 "CPComboBox is not yet re-themed"

[2022-04-01 08:35] daboe01 commented on #3032
![68747470733a2f2f66696c65732e6769747465722e696d2f3533626232303238313037653133373834366261356439392f614577622f7468756d622f42696c6473636869726d666f746f2d323032322d30332d32392d756d2d31302e31352e33392e706e67](https://user-images.githubusercontent.com/146335/161226918-1ca016f6-d59d-407b-b7f1-eea302875529.png)

[2022-04-01 08:35] daboe01 commented on #3032
+Aristo3

[2022-04-01 08:36] daboe01 opened #3033 "Baseline-Alignment of CPTextFields is off a few pixels"

[2022-04-01 08:36] daboe01 commented on #3033
![68747470733a2f2f66696c65732e6769747465722e696d2f3533626232303238313037653133373834366261356439392f477531502f7468756d622f53637265656e2d53686f742d323032322d30332d32392d61742d342e31372e30312d504d2e706e67](https://user-images.githubusercontent.com/146335/161227144-61b5072c-9059-44ed-b81a-bf336329c4da.png)

[2022-04-01 08:38] daboe01 opened #3034 "Default-Button has wrong colors"

[2022-04-01 08:39] daboe01 commented on #3034
this happens when window becomes key. the button should be blue but is white (you cannot read the text anymore)

[2022-04-01 08:39] daboe01 commented on #3034
![Bildschirmfoto 2022-04-01 um 10 38 40](https://user-images.githubusercontent.com/146335/161227668-5b6d3281-11a7-4b4e-aa8f-dd7b2524ab39.png)

[2022-04-01 08:40] daboe01 commented on #3034
+Aristo3

[2022-04-01 08:42] daboe01 opened #3035 "Toolbar action-icon does not show"

[2022-04-01 08:42] daboe01 commented on #3035
![Bildschirmfoto 2022-04-01 um 10 41 32](https://user-images.githubusercontent.com/146335/161228179-845530a6-bcdf-4fd4-872c-c55ea49f5bec.png)

[2022-04-01 08:42] daboe01 commented on #3035
+Aristo3

[2022-04-01 08:42] daboe01 commented on #3030
-#new
+TextView

[2022-04-01 08:44] daboe01 opened #3036 "CPDatePicker: separator labels are clipped 1 pixel"

[2022-04-01 08:44] daboe01 commented on #3036
![Bildschirmfoto 2022-04-01 um 10 43 17](https://user-images.githubusercontent.com/146335/161228448-5ff789e1-496f-4771-9b32-1d7990ea6ff3.png)

[2022-04-01 08:44] daboe01 commented on #3036
+Aristo3

[2022-04-01 08:46] daboe01 opened #3037 "CPStepper: lower Y-position is off 1-2 pixels"

[2022-04-01 08:46] daboe01 commented on #3037
![Bildschirmfoto 2022-04-01 um 10 44 54](https://user-images.githubusercontent.com/146335/161228776-df87b967-dc92-47e5-b346-d1841254855f.png)

[2022-04-01 08:46] daboe01 commented on #3037
+Aristo3

[2022-04-01 10:00] daboe01 commented on #3036
-#new

[2022-04-01 10:00] daboe01 commented on #3037
-#new

[2022-04-01 10:01] daboe01 commented on #3034
-#new

[2022-04-01 10:01] daboe01 commented on #3032
-#new

[2022-04-01 10:02] daboe01 commented on #3033
+Aristo3
-#new

[2022-04-01 20:56] daboe01 opened #3039 "CPSearchField is not working"

[2022-04-01 21:00] daboe01 commented on #3039
the buttons from lines 125-126 cause a compile error when building via node.
they are currently commented out for that reason.
maybe we can protect these via #if PLATFORM(DOM)

[2022-04-01 21:00] daboe01 commented on #3039
+Aristo3

[2022-04-02 08:03] daboe01 commented on #3039
-#new

[2022-04-02 20:47] daboe01 commented on #3035
this is because CPPopUpButton does not support setImage:

[2022-04-02 21:42] daboe01 commented on #3035
<img width="125" alt="Ohne Titel" src="https://user-images.githubusercontent.com/146335/161402163-93e04f33-8310-440b-85a4-b65f46bdca76.png">

[2022-04-02 21:42] daboe01 commented on #3035
the current spacing is not optimal, but the code is working finally.

[2022-04-02 21:43] daboe01 commented on #3035
fixed via 692f365fe

[2022-04-03 17:30] daboe01 commented on #3035
![](https://files.gitter.im/53bb2028107e137846ba5d99/6eIS/image.png)

[2022-04-03 17:30] daboe01 commented on #3035
+#fixed

[2022-04-03 17:53] daboe01 opened #3040 "Text from buttons in alertboxes is not well centered"
<img width="425" alt="image" src="https://user-images.githubusercontent.com/146335/161441304-1062b163-1d3a-4077-b34f-5f8a79b5f6d9.png">

[2022-04-03 17:54] daboe01 commented on #3040
+Aristo3

[2022-04-03 18:07] #3035 closed

[2022-04-04 08:16] #3030 closed

[2022-04-04 19:05] daboe01 commented on #3040
-#new

[2022-04-05 08:43] didierkorthoudt commented on #3039
Should be fixed by [3e009bb](https://github.com/cappuccino/cappuccino/pull/3038/commits/3e009bbf26a4fa84b268a3c0165cc7e7f4070489)

[2022-04-05 08:57] mrcarlberg commented on #3034
Do you add an image to get the button blue?

[2022-04-05 08:59] didierkorthoudt commented on #3034
No, it's done via CSS, using a different theme state.

[2022-04-05 09:16] mrcarlberg commented on #3034
I think I saw a new problems some month ago when more attributes where stored on theme state. Do you set for example the `bordered` attribute (`[aButton setBordered:NO];`) after you have set the css blue?

[2022-04-05 09:18] mrcarlberg commented on #3034
We got problems when setting an image on buttons before we set the `bordered` attribute. The solution was to set the image last.

[2022-04-05 13:45] daboe01 commented on #3039
+#fixed
by #3e009bb

[2022-04-05 14:18] #3039 closed

[2022-04-05 14:49] daboe01 commented on #3034
+#works-for-me
it turned out that the button type was wrong.
Default buttons must be of type « Push » (as in Cocoa)

[2022-04-05 15:18] #3034 closed

[2022-04-07 11:04] daboe01 commented on #3040
+#fixed

[2022-04-07 11:04] daboe01 commented on #3032
Pull Down Buttons are not themed at all.

[2022-04-07 11:30] #3040 closed

[2022-04-12 05:39] daboe01 commented on #3032
as it turns out, Pull Down Buttons work perfectly, if you set the BezelStyle correctly.

[2022-04-12 08:13] daboe01 commented on #3005
in aristo3 this is possibly caused when placed on a sheet.
+Aristo3

[2022-04-23 17:29] enquora commented on #2967
Is this still an issue, with current Node/npm minimum version requirements?

[2022-04-24 09:06] daboe01 commented on #2967
i do not think so, because nobody else complained so far.
@mrcarlberg should we close this issue?

[2022-04-26 17:59] daboe01 commented on #3005
turns out that this was an error on my side.
sorry for the fuss.

+#works-for-me

[2022-05-12 18:33] enquora opened #3042 "Github Issues app is no longer maintained, should be archived"
The [Issues](https://github.com/cappuccino/issues) app is no longer maintained, and the Heroku demonstration account is no longer active.

The repository should be retained for reference but archived.

[2022-05-17 11:58] ivucica commented on #2967
I have not tried this since. If I try again and it’s still broken for me, I
can just reopen the bug.

On Fri 7 Jan 2022 at 18:35, daboe01 ***@***.***> wrote:

--
Sent from Gmail Mobile

[2022-05-17 14:14] daboe01 commented on #2967
+#works-for-me

[2022-05-17 14:29] #2967 closed

[2022-05-30 11:51] mrcarlberg commented on #2967
Just some information if someone reads this in the future.

The current Node version is a total rework of the earlier try with a Node engine for Narwhal based on Fibers. This problem is not relevant anymore.

Anyone who wants to use the Node version should follow the install instructions on https://github.com/cappuccino/cappuccino/wiki/node

[2022-06-02 23:08] enquora opened #3043 "nib2cib fails to convert xibs with target set later than macOS 10.12"
nib2cib fails to convert any xibs for which the "Builds for" property (in the xib Identity inspector) is set more recent than macOS 10.12.

A diff of the XML for otherwise identical xib files indicates the only difference is the line:

-  macOS 10.12 (succeeds): `<autoresizingMask key="autoresizingMask" widthSizable="YES" heightSizable="YES"/>`
-  macOS 10.12.2 (fails): `<autoresizingMask key="aut

[2022-06-02 23:56] enquora commented on #3043
Needs a proper reduction with specific xib examples

[2022-06-03 13:17] michaelbach commented on #3043
Dear David:

yes, this was discussed before and I was recently bitten by it again. So I issued a strong note to self to set to “10.12 and later” as the setting is called.

wow, a great finding! Should be fairly easy to tackle. If / when I find the time…

Best, Michael
--
https://michaelbach.de

[2022-06-03 17:39] enquora commented on #3043
It simultaneously simpler and more complex.
Here is the diff between two xibs with identical content — a single, empty window:

[VersionTest 10.12.xib | VersionTest. 12.0xib – 1 Deletion.pdf](https://github.com/cappuccino/cappuccino/files/8834535/VersionTest.10.12.xib.VersionTest.12.0xib.1.Deletion.pdf)

It appears the problem is with `ibtool` refusing to convert if the `<deployment version>` tag

[2022-06-04 01:50] enquora commented on #3043
It appears that `plutil --compile` is where the problem [occurs](https://github.com/cappuccino/cappuccino/blob/a49a20e2c26c248ba6fa37520d58af4bbb9b8611/Tools/nib2cib/Converter.j#L188)

`Property List error: Unexpected character N at line 1 / JSON error: JSON text did not start with array or object and option to allow fragments not set. around line 1, column 0.`
Immediate thoughts are that we shoul

[2022-11-10 09:49] #2955 closed