[2009-05-03 22:53] cappuccino opened #10 "-hash is broken on CPArray"
It breaks the contract that two arrays which are -isEqual: also need to report the same -hash value.

Patch and tests included

It&rsquo;s also the same way that GnuStep and Cocotron implement this - I was quite surprised how simple they implemented it.

:)

[original LH ticket](http://cappuccino.lighthouseapp.com/projects/16499/tickets/286)

 This ticket has 1 attachment(s).

[2009-05-03 23:09] cappuccino opened #101 "CPWindow setMinSize does not set overflow properly [+1]"
CPWindow includes utilities to setMinSize and setMaxSize. While these seem to work correctly, when the user resizes the window to less than it&rsquo;s minimum size, the overflow of the window/contentView should be changes to add browser scroll bars into the window.

[original LH ticket](http://cappuccino.lighthouseapp.com/projects/16499/tickets/76)

 This ticket has 0 attachment(s).

[2009-06-15 06:07] saikat opened #200 "If mouse enters a view that does not override mouseEntered, then the superview gets superfluous mouseEntered call"
If I have view A with subview B, if subview B does not override mouseEntered or mouseExited, moving the mouse on to subview B (from a point that is already on view A) will call mouseEntered on view A since the default implementation of mouseEntered just goes down the responder chain.  I don't know how Cocoa handles this case.

[2009-08-07 20:30] saikat opened #236 "mouseExited gets sent to subviews that have been removed"
To recreate this issue:
1. Add view A as a subview to view B
2. Put mouse over view A
3. Remove view A from its superview
4. When you move your mouse now, view A still gets a mouseExited event

[2009-09-20 14:34] jiangshen opened #269 "Localization in Cappuccino Apps"
May I know will it be possible to have localization support for cappuccino?

[2009-12-08 10:31] p3consulting opened #362 "[OBJJ] Parser doesn't detect double instance variable declaration"

[2010-02-08 20:47] appden opened #456 "Sheets should not rely on style masks at all"
Currently it is impossible to design sheets in Interface Builder because of this.

[2010-02-09 08:57] klaaspieter opened #457 "Enhancement: minimize calls to reloadData on CPTableView"
Currently the tableview calls reload data on itself after a drag and when calling `reloadColumns:rows:`.
After checking the NSTableView I think CPTableView should only recall reloadData on itself when the datasource is set, after that it should always reload the minimum number of columns / rows.

The current reloadData behavior makes it really hard to implement variable sized rows for large tables

[2010-02-18 21:22] evadne opened #484 "Some key events are not fully trapped by Cappuccino runtime under Safari 4 / WebKit Nightly"
Summary
=

Some developers may wish that their Cappuccino application override browser shortcuts, like Cmd-O, Cmd-S, Cmd-P, to name a few.  While that most of these shortcuts are being intercepted by the Cappuccino runtime, the browser’s default behavior is sometimes not completely blocked.  This issue is prevalent under Safari 4 and recent WebKit nightly versions.

Reproduction
=

This issue is a

[2010-03-04 11:12] klaaspieter opened #519 "Bug: CPTableView grid is not visible if dataViews have a background color"
Steps
1. Open the Manual TableTest
2. Give it's dataViews a background color in the willDisplayView: delegate methodResult:

The tableview grid is not visible anymore, probably because it's drawn behind the dataViews

[2010-03-11 08:17] luddep opened #543 "Remove all calls to window.focus"
So, cappuccino does window.focus() calls in some places (such as in CPPlatformWindow+DOM.j), this should eventually be removed (not really a high priority bug, just wanted to get it on record) since Safari (and maybe other browsers as well) will actually switch the tab back if you move to another tab before the focus method gets called.

If it can't be removed completely, they should only be used

[2010-04-30 20:47] marick opened #642 "CPSet in 0.8.1 uses pointer equality for containsObject:, not isEqual:"
Although the Apple documentation for NSSet is characteristically vague, I think containsObject: is supposed to use isEqual:  Here's a MacRuby test that demonstrates Objective-C behavior:

<pre>
require 'test/unit'
framework 'Cocoa'

class SetTest < Test::Unit::TestCase
  def test_duplicates_detected_by_field_equality_not_pointer_equality
    set = NSMutableSet.alloc.init
    set.addObject(["one"])

[2010-06-14 02:32] hammerdr opened #718 "When dragging in a drag and drop operation, windows should come to front when they are hovered over (patch included)"
http://github.com/hammerdr/cappuccino/commit/7dfa6f04fe6565dc334b0f4da4750df87625c501

[2010-07-27 03:33] davidkhess opened #783 "CPWindow setContentView: does not properly size and position the contentView if a toolbar is in use"
The new contentView is placed at origin 0,0 rather than leaving room for the toolbar. Calling _noteToolbarChanged on the window after setContentView: will correct the layout. Not familiar enough with CPWindow to know if adding that to the bottom of setContentView is the right solution or not.

[2010-08-28 12:53] luddep opened #844 "imageOffset in a CPPopUpButtons individual Menu Items is not being set"
See discussion: http://groups.google.com/group/objectivej-dev/msg/dd899fffca104a1e

[2010-12-22 13:45] klaaspieter opened #1056 "CPCollectionView uses interpretKeyEvents:"
Views in the responder chain should only handle the messages they can handle. Using `interpretKeyEvents:` in `keyDown:` in the way that `CPCollectionView` does means that keys that do nothing in the collection view are not forwarded to other classes who might need them.

We should implement the selectors sent by `CPWindow`'s `_processKeyBoardUIKey:` and if the appropriate selector is not send by i

[2011-01-18 14:42] lsinger opened #1097 "Timing in CAAnimation is incomplete"
As of now, only linear timing is support -- as far as I can see (see https://github.com/280north/cappuccino/tree/master/AppKit/CoreAnimation). See http://iphonedevelopment.blogspot.com/2010/12/more-animation-curves-than-you-can.html for public domain implementations of some timing functions. These could be used in Cappuccino.

[2011-02-03 17:53] cacaodev opened #1118 "Scrolling by 1 scroll wheel tick does nothing"
You need at least 2 consecutive ticks to start a scroll.

Tested in Safari, Webkit nighties, Chrome, Firefox 3.3.6.

Discussion:
CPClipView -scrollToPoint: is never called.
It seems to me that the _DOMScrollingElement that handles native scrolling doesn't move.

[2011-03-14 15:54] BlairDuncan opened #1169 "CPTableView does not update _clickedRow"
Currently the only time the _clickedRow is updated is when the user doubleClicks. Thus you can single click all over the place and it will always return the last double clicked row and not the row you just clicked on.
What I believe should happen is on mouse down it should be set to -1 (for drag support) and upon mouse up set to the clicked row.

[2011-04-07 16:51] nigelgoodship opened #1212 "CPTableView column dragging"
I have a tableview in a vertical splitview.  The tableview is typically wider than its split and so it is displayed with a horizontal scroll bar.  If the tableview is scrolled to the left, such that the right hand side of the tableview is fully visible and the unseen part is off to the left, a table column can be dragged out of the displayed tableview area, to the left, and over the other half of

[2011-04-11 06:38] nxn opened #1222 "CPMenu problems"
**Sample code:**

<pre>
@import <Foundation/CPObject.j>

@implementation AppController : CPObject
{
}

- (void)applicationDidFinishLaunching:(CPNotification)aNotification
{
  var myApp  = [CPApplication sharedApplication]
    , myMenu = [myApp mainMenu]
    , menuItem = [[CPMenuItem alloc] initWithTitle:@"Item" action:nil keyEquivalent:nil];

  [myMenu addItem:menuItem];

  [CPMenu setMenuBarVisib

[2011-10-07 14:28] kuon opened #1375 "CPTableView always sends tableViewSelectionDidChange"
In the documentation of the delegate methods of `CPTableView`, it is stated that `tableViewSelectionDidChange:` is triggered only by user action (clicking the table). But in reality, `tableViewSelectionDidChange:` is sent to the delegate for all selection change like `selectRowIndexes:byExtendingSelection:`.

We should either update the documentation, or, more appropriately, change the behaviour f

[2011-12-13 21:43] tuxedout opened #1419 "CALayer Methods "setContents" and "Contents" not working as expected"
I'm working on a project which requires small thumbnails of document pages (like thumbnails of layers in Photoshop), it has a main work area which is represented as CALayer. Implementation is done using http://cappuccino.org/learn/documentation/interface_c_a_layer.html for reference. As declared in this doc "CALayer" has "setContents" and "contents" methods, but when I try to use them I get these

[2012-01-15 14:02] daboe01 opened #1432 "CPTextView class missing"
Hi,
Will this be fixed?
Would you accept a port of the respective cocotron obj-c classes (MIT-license)?
Best greetings,
Daniel

[2012-01-19 15:37] Toxe opened #1435 "CPTextField + Bindings: textDidEndEditing sent too late when controller selection changes [+1]"
Application setup

a CPArrayController that stores a couple of simple objects
a CPTableView with one column
the table column values are bound to the arrangedObjects of the array controller
a CPTextField
the "value" binding of the text field is bound to a key path of the controller, "selection.translations.en" in this case
If you select an entry from the table the value of the text field changes as

[2012-02-23 12:10] tuxedout opened #1462 "CALayer and canvas"
I can't grab content of CALayer to send to server. CALayer's canvas returns empty image, when I'm trying to use something like this:

 var dataURL = canvas.toDataURL("image/png");

Also CALayer has problem with setContents and getContents methods. More about it described here:  https://github.com/cappuccino/cappuccino/issues/1419

I'm working on a project which requires small thumbnails of documen

[2012-04-03 17:24] aparajita opened #1490 "CPWindowDidMoveNotification sent too often"
In Cocoa, NSWindowDidMoveNotification is only sent when there is a 500ms (or so) delay between the last origin change and the current change.

[2012-04-15 15:27] aparajita opened #1504 "Sticky menus not working in IE"
When single-clicking on a menu, the menu does not remain open.

[2012-05-20 03:43] BlairDuncan opened #1546 "CPTextField with CPFormatter delegate method called 3 times"
The delegate method `control:didFailToFormatString:errorDescription:` is being called 3 times if a user clicks into another textfield.

Visible in the CPFormatter Manual test.
If you go to the textField at the bottom and enter more than  the max of 7 characters...

Tabbing out or clicking outside of the field works fine, but if you click to select another textfield, you can see that it gets called

[2012-05-23 17:13] drfyad opened #1548 "CPTableview / CPScrollview do not scroll on iOS"
Attempting to scroll on safari / opera mini on iOS 5 using 2 fingers does not work.

On an iPhone scrolling can be achieved only by dragging the row selection above/below the safari webview, however on an iPad the webview meets the bottom of the page so scrolling down (and therefore up) is impossible.

[2012-08-07 18:32] daboe01 opened #1646 "CPTableView selection issue in Firefox"
in firefox, the the selection sticks to the cursor after the first single click and letting go. this is only stopped after a second click in the table view.

unfortunately, i do not see it in the CPTableViewGroupRows test.
my tableview is bound to a rather slow arraycontroller subclass, so it may well be a timing issue.

it seems that the first mouseup event is somehow lost.

i see this in the lat

[2012-08-23 01:33] BlairDuncan opened #1659 "No CPTreeController [+1]"
It would be nice to have a CPTreeController to easily bind data and selections to a CPOutlineView.
Also nib2cib support for it and CPTreeNode

[2012-09-17 15:09] bradytrix opened #1674 "CPScrollView adjusts documentView's origin incorrectly on CPScrollView resize"
When a CPScrollView is created in IB, and its autosizing is set in such a way that the CPScrollView will change its height when the window changes height, the CPScrollView will adjust the origin of its documentView when the CPScrollView's height changes.  This is not how the NSScrollView will behave when working from the same NIB.

My guess is that this is related to nib2cib's attempt to swap the

[2012-11-09 11:41] core-code opened #1686 "programmatic use of CAArrayController w/ TableView bindings broken"
it seems to me that binding a CAArrayController to a CPTableView only works with a XIB file and not programmatically.

consider this app (not written by me): http://pastebin.com/dweztETS

running it you don't see the intended output "Foo One" etc in the table, but rather debug information about KVO objects. i can't see anything wrong in the code (and writing similar code myself has yielded the sam

[2013-01-03 12:11] stewa opened #1710 "CPPredicateEditor allows bad reordering of rows"
Steps to reproduce:
1. Open test Tests/Manual/CPPredicateEditorCibTest
2. Hit + button
3. Drag 2nd row (loc string is...) before 1st row (Any)
4. Result: CPRangeException: -[_CPJavaScriptArray insertObject:atIndex:]: index (-1) beyond bounds (0)

[2013-02-01 08:31] aparajita opened #1730 "Main menubar disappears on submenu close [+1]"
Try the following:
- In the main menubar, click on a menu that has submenus and hold the mouse down.
- Move the mouse over a submenu and release the mouse before the menu appears.

The menubar is closed along with the menu!

[2013-02-10 23:12] ahankinson opened #1742 "Main menus with no items appear in the menu bar"
When a main menu does not have a sub-menu, it still appears in the menu bar. In Cocoa it does not, and of course it should not because it doesn't belong there.

[2013-02-12 18:20] BlairDuncan opened #1751 "Online docs are no longer visually indented [+1]"
Making them very difficult to read.

http://www.cappuccino-project.org/learn/documentation/_c_p_window_controller_8j_source.html#l00368

...and

[code]

should be:

[code]

[2013-02-19 16:30] aparajita opened #1783 "Add tracking rectangle support"
There is a good implementation in gnustep and cocotron, that can be ported.

+AppKit
+feature
#accepted

[2013-02-25 22:54] aparajita opened #1800 "Window content view overlaps bottom corners"
Currently the window frame is drawn as the background color of the window view, inside of which sits the content view. Although the content view is inset from the frame, it is square, and the window frame in rounded on the bottom corners.

Because the frame view is behind the content view, content in the content view can overlap the bottom corners. To see this, open the CPButtonTest app and resize

[2013-03-10 17:28] aparajita opened #1843 "Mouse events are allowed during sheet animation"
In Cocoa, when a sheet is animating in/out, mouse events are discarded. For example, you cannot move the parent window during the animation.

[2013-03-13 00:55] aparajita opened #1853 "Menus should validate in the presence of modal alerts [+1]"
In Cocoa, when a modal alert is running, menus validate, so it is up to the application to enable/disable what is relevant.

Currently in Cappuccino, the menus do not respond to mouse clicks (which is not such a good idea), but they do respond to key equivalents (which is a bug).

[2013-05-06 03:27] Alos opened #1920 "CPTabView insertTabViewItem:atIndex: does not work"
**The problem**

CPTabView insertTabViewItem:atIndex: is not working correctly when items are added between other tabs. The resulting tab's sizes are not updated:

![screen shot 2013-05-04 at 11 30 02 pm](https://f.cloud.github.com/assets/25460/464631/4ca2c9c0-b5fb-11e2-82f9-786ba90ce88c.png)

**The probable cause**

The problem, I *think* its caused by the way tabs are inserted:

After adding the

[2013-06-13 23:27] GlennAustin opened #1948 "Cross-site CPURLConnections to a remote HTTP server treats the request as local if the window's protocol is local."
If we have a fully-qualified request URL, such as "http://hostname/path/to/resource" when the document is a local file, such as "file:" or "app:", then the request's valid response is not sent to the delegate. We should first check whether the request URL is null before determining whether the request will use the window's location as a base.

[2013-06-23 03:18] timeimp opened #1950 "Deprecated sourceURL declaration"
When running index-debug.html, the Webkit Inspector in Chrome 29.0.1541.0 dev spits out numerous errors like this one:

`//@ sourceURL=" source URL declaration is deprecated, "//# sourceURL=" declaration should be used instead.`

After searching around online, it appears that all the major browsers are moving to the new sourceURL format 'soon':
http://updates.html5rocks.com/2013/06/sourceMappingUR

[2013-06-25 05:56] GlennAustin opened #1953 "CPPopUpButton doesn't disable button key equivalents while menu visible"
Working with a CPPopUpButton, while the menu is up via the mouse, I can use ESC to invoke the action of a CPButton in the same view.

[2013-06-28 04:58] GlennAustin opened #1956 "0.9.7_alpha1 documentation incomplete"
Classes such as CPArray are no longer shown in the generated documentation.

Upon investigation, all files with leading underscores are ignored.
All symbols with leading underscores are ignored.

The current CPArray is located in _CPArray.j (leading underscore), and the implementation is based upon a class with a leading underscore.

[2013-07-23 02:55] BlairDuncan opened #1966 "Toolbar color does not change background when the window is inactive."
There was a change made a while back that made the title bar of inactive windows lighter. This looks odd when the window has a toolbar, sice the toolbar remains the active color. Can be seen in the manual Toolbar test.

[2013-07-23 03:02] BlairDuncan opened #1967 "Toolbar items show now visual feedback when clicked."
Can be seen in the manual Toolbar test.

It appears there is no highlighted and selected themes for toolbaritem views.
Somehow we ended up with an alternate image for toolbar items that are created in code, but there is no alternate image in IB or Cocoa.

For reference:
"The toolbar automatically takes care of darkening an image item when it is clicked and fading it when it is disabled. All your c

[2013-12-05 01:57] Dogild opened #2024 "Memory leaks in CPTableView/CPScrollView/CPTableColumn"
Hi,

When creating multiples CPTableView memory leaks appears.
In the example, I don't even use the instance of the tableView, I just create TableViews and the garbage collector never clean the old tableView.

https://dl.dropboxusercontent.com/u/15316774/TableViewLeaks.zip

[2014-01-09 12:50] naokipeter opened #2047 "CALayer: insertSublayer:above use of insertObject:atIndex of CPMutableArray"
Instead of calling insertObject:atIndex on _sublayers (this method just calls _CPRaiseInvalidAbstractInvocation(self, _cmd);), you should call insertSublayer:atIndex, just like in the method insertSublayer:below.

[2014-01-10 23:18] mtk4 opened #2053 "CPWebView effective scroll mode in IE9 (possibly others) always reverts to Native"
Using the CPWebViewTest in the examples, if you log each type of effectiveScrollMode for the webviews, all of them will be Native (2), even if you set them to AppKit.

[2014-01-26 09:40] daboe01 opened #2061 "Native Pasteboard support is not working in Safari"
you can see this in the online demo:
<http://aug-fancy.ukl.uni-freiburg.de/CPTextView>
pasting always beeps, and native pasting does not work in Safari.
Chrome/FF are not affected.

[2014-01-26 09:42] daboe01 opened #2062 "Pasteboard types other than CPStringPboardType are effectively unsupported"
It seems that cappuccino always uses the native pasteboard when available (chrome/ff) and then only return the CPStringPboardType

[2014-02-01 13:03] daboe01 opened #2065 "CPScrollView has no ruler view support + CPRulerView missing"
We need this for a fully featured Text system.
Best greetings,
Daniel

[2014-03-17 07:14] saikat opened #2081 "[CPView addSubview:] does not properly transform the DOMElements bounds if the view has a non-zero origin"
If a CPView is set to have a bound that is non-zero using setBoundsOrigin:, methods like setFrameOrigin take the _boundsTransform into account when setting the _DOMElement's left and top values.  Adding a subview, however, does not do this, so a view will get added in the wrong position.

[2014-05-12 15:23] aljungberg opened #2120 "Broken toolbar drawing in Aristo 2"
It looks like potentially b7a2ab57cc1c754709862204bddfccb8fd8397f6 broke something with toolbar drawing in Aristo 2. In the attached screenshot the left (key) window has a slightly off grey colour for the toolbar compared to the window title. The right non-active window has an even more wrong colour.

![screen shot 2014-05-12 at 16 13 18](https://cloud.githubusercontent.com/assets/154423/2946078/2

[2014-05-13 17:01] Dogild opened #2121 "Aristo 3 - Flat UI [+5]"
We should develop Aristo 3, a flat UI.

The benefits would be :
- Reduce the size of the application (a lot)
- Avoid at maximum the use of images (a lot)
- Being fashionable :D

[2014-05-28 17:18] Dogild opened #2128 "CPColorPanel in Aristo2"
Aristo2 doesn't contain a Theme for the CPColorPanel. The panel still uses Aristo 1

[2014-06-20 05:33] daboe01 opened #2142 "stringFromDate in CPDateFormatter is not respecting the locale"
a german date should be formatted this way:
                format = @"dd.MM.yy";
we obviously need a dictionary that maps CPLocaleLanguageCodes to format strings

[2014-07-22 02:12] cvaught opened #2157 "Connection issue in IE"
Using the latest master I get an InvalidStateError in IE11 when using the method connectionWithRequest:delegate in CPURLConnection.  I haven't tested in previous versions of IE but it is not an issue with other browsers.  It appears related to some changes made to add support for withCredentials that were committed starting on Jun 21st.  I reverted to a commit previous to this and it is working ag

[2014-08-14 22:18] Dogild opened #2175 "Retina support for canvas2D"
When using canvas, we don't support the retina displayed.

The idea is to scale the canvas and context by the ratio of the current display.

My first idea was to change the context before calling the method `drawRect:` of a `CPView`, but this solution raised some issues with the `CPTableView`, `CPPopover` and `CPOutlineView`.

If you want to play and improve the solution, this is the code I have u

[2014-08-20 23:19] Dogild opened #2177 "CPWindow doesn't implement setReleasedWhenClosed: [+1]"
When closing a CPWindow with setReleasedWhenClosed: set to YES. We should release all components of the window. It means remove all views form the notification center, deassign every delegate and so on...

[2014-08-30 00:56] Dogild opened #2183 "Button + and - on a predicate are blurred"
Introduced by PR #2170.

See picture :

![screen shot 2014-08-29 at 5 55 54 pm](https://cloud.githubusercontent.com/assets/2860781/4097719/85f878a4-2fe0-11e4-813e-ff75601a4baf.png)

[2014-09-18 14:47] nigelgoodship opened #2216 "Problems with platform windows in IE9/10/11"
In IE9, 10 & 11, new platform windows have no content when opened and after they're closed the main window throws exceptions when the mouse is moved over it.

This behaviour can be seen in the PlatformWindows manual test.  A manifestation of the problems after the new platform window is closed is that the menus in the main window are no longer drawn properly.  The test runs fine in Chrome, Firefox

[2014-09-25 23:08] Dogild opened #2220 "Objective-j can compile merge conflict code"
This code can be compiled :

[code]

[2014-11-22 19:58] daboe01 opened #2262 "CPDatePicker does not grey out dates outside of minDate and maxDate [+1]"

[2014-12-02 10:49] kevin-xu opened #2268 "About @ref & @deref"
[code]
prints
[code]

But
[code]

prints:
[code]

Is it a bug?

[2014-12-04 08:56] kevin-xu opened #2271 "About Private Instance Variables in the Objective-J"
[code]

When executing the below code:
[code]
it will print:
[code]

I can't make sure this is a bug, but if it's not, that means we must take a look at both the interface and implementation of the superclass when inheriting from it. At least I want to inherit from a class only by its interface showed in the API docs.

The corresponding C++ code:
[code]

It will print:
[code]

Help me.

[2014-12-11 22:03] bradlangel opened #2281 "CPCheckBox's class method "checkBoxWithTitle:" does not size title correctly"
Source code:

var	checkBox = [CPCheckBox checkBoxWithTitle:"CheckBoxLabel"],
		checkBox2 = [CPCheckBox checkBoxWithTitle:"Available"],
		checkBox3 = [CPCheckBox checkBoxWithTitle:"Size"];

	//The following checkbox titles have varying widths
	//Some show up some do not
	[checkBox setFrameOrigin:CGPointMake(10, 10)];
	[contentView addSubview:checkBox];

	[checkBox2 setFrameOrigin:CGPointMake(10, 30

[2015-01-09 01:25] #2268 closed

[2015-01-13 01:46] Dogild commented on #2024
This is one has been closed in #2264

[2015-01-13 01:46] #2024 closed

[2015-01-13 01:49] Dogild commented on #2262
@aljungberg @primalmotion @ahankinson what do you think ?

[2015-01-13 14:56] ahankinson commented on #2281
-#needs-confirmation

[2015-01-13 22:18] ahankinson commented on #2281
I just tested and this commit fixes this issue. I just had one small comment on the PR, but I'll leave it up to @Dogild to address if he feels he needs to.

+#ready-to-commit

[2015-01-13 22:31] ahankinson commented on #2281
-#ready-to-commit

[2015-01-14 02:43] #2183 closed

[2015-01-14 02:44] #2281 closed

[2015-01-14 02:46] ahankinson commented on #2262
I like the idea of having the calendar make un-selectable dates greyed-out. Seems like a pretty great solution.

[2015-01-14 13:37] tehmoth opened #2293 "AppKit/CPStepper.j initializers use CPStepper not self"
In AppKit/CPStepper.j the class methods stepperWithInitialValue and stepper are declared to return (CPStepper) instead of (id) and use [CPStepper alloc] instead of [self alloc], which makes subclassing harder when using those methods

[2015-01-14 22:14] ahankinson commented on #2293
-#new
+AppKit
+bug
+#accepted
milestone=0.9.8

[2015-01-14 22:14] ahankinson commented on #2262
milestone=0.9.9

[2015-01-14 22:25] ahankinson commented on #2157
This was fixed in eb883bc51edf338dda7bb8a9912c8bf562fde0e2

+#fixed

[2015-01-14 22:37] Dogild commented on #2262
@daboe01 Feel free to propose a PR ;)

[2015-01-15 19:37] #2293 closed

[2015-01-15 21:44] #2262 closed

[2015-01-16 18:23] Dogild opened #2298 "Pragma to ignore compiling warning"
In objective-c we can add pragma to ignore compiling warning (when you use a library for example).

Any way to have that for objective-j. @mrcarlberg I guess this one is for you :)

[2015-01-16 22:29] mrcarlberg commented on #2298
Thanks for the pass!  ;-)

I have this one on an old todo list. Should not be that hard to do but I think there are other things that need to be fixed before this one...

[2015-01-19 15:43] ahankinson commented on #2298
-#new
+feature
+Objective-J
+#needs-patch

[2015-01-19 22:29] Dogild opened #2299 "Can not comment code in a #if PLATFORM(DOM) [+1]"
The following code will crash :

[code]

With the error `//CGContextClearRect([[CPGraphicsContext currentContext] graphicsPort], aRect);
 ^
ERROR line 1756 in file://localhost/Users/Dogild/Desktop/NestedNodeApp/Frameworks/GraphCappuccino/NUTreeView.j: Invalid regexp flag
Objective-J.js:5720 Uncaught SyntaxError: Invalid regexp flag`

[2015-01-20 19:58] mrcarlberg commented on #2299
Do you compile this file with jake or is it done when loading it into the browser?

[2015-01-21 23:08] ahankinson commented on #2299
-#new
+bug
+Objective-J
+#needs-patch

[2015-01-30 21:40] Dogild commented on #2299
@mrcarlberg sorry I did not see your message. It was when loading in the browser.

Test app here : https://dl.dropboxusercontent.com/u/15316774/TestPlatformComment.zip

[2015-02-10 18:52] daboe01 opened #2310 "Text color of the selectedRow in unfocussed TableViews is wrong"
![bildschirmfoto 2015-02-10 um 19 35 13](https://cloud.githubusercontent.com/assets/146335/6134006/5fbe4f4c-b15e-11e4-8177-ea21faf68676.PNG)

[2015-02-10 18:53] daboe01 commented on #2310
+regression
+Theme
+AppKit

[2015-02-11 12:33] cacaodev commented on #2310
I do not see this in TableTest/OldTest/. is your table view cell-based or view-based, and how is the textfield initially ? textColor, bordered, bezeled, editable, selectable, drawsBackground ...

[2015-02-13 19:00] daboe01 commented on #2310
hi @cacaodev, sorry for responding late.
you can see this e.g. in Tests/Manual/ArrayController1

![bildschirmfoto 2015-02-13 um 19 59 19](https://cloud.githubusercontent.com/assets/146335/6193362/e3f29508-b3ba-11e4-960d-8340cc87933c.PNG)

i am using cell-based without explicit change of any attributes

[2015-02-15 06:57] daboe01 commented on #2310
for reference: this was the original issue: https://github.com/cappuccino/cappuccino/issues/2001

[2015-02-17 22:32] #2310 closed

[2015-02-17 22:34] #2175 closed

[2015-02-18 15:46] milleroff opened #2314 "Multi-Nib Application"
Hello.

I created a new app following the "Multi-Nib Applications with Interface Builder" guide.
It has 2 windows: theWindow & loginWindow.

[code]

When i run the app, i receive this in the javascript console:
[code]
and the image is not shown.

The window is set correctly in File's owner

![2015-02-18 17 42 42](https://cloud.githubusercontent.com/assets/1090680/6250327/b761b738-b795-11e4-8c86-3a

[2015-02-18 20:36] cacaodev commented on #1920
I've been trying to fix this by implementing -insertSegment:atIndex: in CPSegmentedControl. It's trivial to allow insertion/deletion in the collection of individual segments, but there is still a relayout bug (see CPSegmentedControl manual test - button "remove selected segment".

The layout code in CPSegmentedControl is awfully complicated, I guess because it uses _CPImageAndTextView . Does someo

[2015-02-19 01:34] Dogild commented on #2314
Hi,

You should open a discussion at https://groups.google.com/forum/#!forum/objectivej for this kind of issue (as it's not sure that is the bug).

For you problem, you definitively miss something. Recheck everything and try to compare it to the demo application : https://github.com/ahankinson/MultiNibApp

[2015-02-19 02:23] Dogild commented on #1920
Hi @cacaodev, I quickly took a look to this problem.

From what you have done, I saw two issues :

- When you add a new segment, you don't tile it (you should call the method `tileWithChangedSegment:`) once you have added every segments.
- Secondly, when you remove a segment, you should calculate the new frameOrigin of the right segments of the deleted segments. You should shift every segments to

[2015-02-19 17:28] cacaodev commented on #1920
Ok, thanks Alex. I thought this methods meant "tile starting at segment". now it works.

[2015-02-19 18:54] milleroff commented on #2314
Hi,

Anyway, i've managed it by myself.
Reading the sources i found this:

[code]
This code checks what kind of class is _cibOwner.

Following the tutorial:
[code]
i made _cibOwner as "nil", that's why i got the exception.

I think somebody needs to update the tutorial.

Thank you.

[2015-02-20 08:01] daboe01 commented on #2314
+#works-for-me

[2015-02-20 08:03] #2314 closed

[2015-02-22 09:54] rvanzon opened #2317 "Changing indexes of TableView suddenly gives uncaught CPRangeException"
Today I updated my Cappuccino install. And suddenly the next error:

Frameworks/Debug/Foundation/CPException.j:51 Uncaught CPRangeException: -[_CPObservableArray objectAtIndex:]: index (1) beyond bounds (1)

When I change the items in a View-based CPTableView or when I reload the data. The error is not appearing on every item, but I can't find out any difference. The value of the table columns are

[2015-02-22 10:02] rvanzon commented on #2317
I think the problem could lay here:
https://github.com/cappuccino/cappuccino/commit/f9ce1d17c860b2c7b304014e30b6bb04ed9c27a5#diff-aa0563e0c33eefcca2ffbfcd64535ff0L553

[2015-02-22 10:15] rvanzon commented on #2317
Ok, I investigated it a bit more. My situation: I have an ArrayController which binds the Content Array to the items-array of the fileowner. The tablecolumn binds Value to the ArrayController with Controller Key "arrangedObjects" and no Model Key Path. The Text Field which is member of the Table Cell View binds it's value the Table Cell View with Model Key Path "objectValue.name".

When reloading

[2015-02-22 19:04] cacaodev commented on #2317
i've tried your example and deleted the [self setItems:nil] and the rows seem to be correctly updated.

Can you explain, in your server-client situation, why you needed to set the model to nil, and what do you expect, and why do you think it is a bug (cocoa test welcome).

[2015-02-22 20:05] daboe01 commented on #1686
given our limited ressources, i think we are better of with documenting the current behavior instead of patching.
i would advocate closing this one.
what do you core devs think?

[2015-02-22 20:38] rvanzon commented on #2317
Yes, without setting to nil it works. But sometimes there are no results. So I clear the results and then get new results.

I must say, this always worked. And also I think it should work. Also [[self items] removeAllObjects] gives the error. This means everything only works while there are items.

The bad thing, my app is completely broken now, because on several places empty items lists occur.

[2015-02-23 09:06] rvanzon commented on #2317
update: if you replace setting items to nil into [[arrayController content] removeAllObjects]; and attach  the arrayController in the Xib to arraycontroller. The same error appears only it occurs at the 10th item:

 -[_CPObservableArray objectAtIndex:]: index (10) beyond bounds (10)

It looks like the CPArrayController doesn't 'know' the items are cleared and just tries acces it rows which are not

[2015-02-23 09:26] daboe01 commented on #1432
updated the online demo so you guys can see the new regex based granularity engine. make sure to clear the browser cache

[2015-02-23 09:29] rvanzon commented on #2317
ok, a workaround (and probably a better way anyway) is to use [arrayController setContent:newData];
}, where newData is local initialised, instead of cleaning items first.

[2015-02-23 12:04] cacaodev commented on #2317
@rvanzon : When you want to change something in the model, the official way is to act directly on the collection holding the data, not the CPArrayController. But you need to do it in a indexed KVO way in order to inform the controller of your changes.
Maybe you could switch to the mailing list because I am not sure this is a bug.

[2015-02-23 12:19] rvanzon commented on #2317
Ok, will do that. But I am sure it's a bug, because manipulating the data is exactly the problem. Also, this never happened before and in Cocoa I use the exact same method.

[2015-02-23 21:29] aparajita commented on #1432
Absolutely awesome! Two issues I see:

- When the Font panel is opened, the color is not set to the color of the text if all of the selected text is the same color.

- When clicking on a letter, it always places the caret to the left of the letter. The caret should be placed to the right of the letter if the click point is >50% width of the letter.

[2015-02-23 23:08] toddfreese commented on #2317
I am seeing the exact same thing after updating from master as well.

[2015-02-24 10:12] cacaodev commented on #2317
Found the problem. If you bind the table content binding to arrangedObjects, instead of binding the column value, it should work without error.

I agree this could be considered as a bug because a) it worked before and b) it works in cocoa. But with view-based table views, we are supposed to use the content binding. That's what the cocoa doc says even if they don't explicitely state it won't work

[2015-02-24 15:12] toddfreese commented on #2317
I will have to look. I started noticing it in CUP.

[2015-02-24 16:57] cacaodev commented on #2317
This should fix the bug. Thanks for reporting it.

[2015-02-25 06:26] daboe01 commented on #1432
thank you @aparajita.
i fixed both issues and updated the demo.
best greetings,
daniel

[2015-02-25 07:10] rvanzon commented on #2317
It works again. Thanks for fixing! :)

[2015-02-25 18:34] Dogild opened #2320 "Compiler should raise a warning for dead code"
When compiling files, the compiler should raise warnings when having dead code. Like a unreachable if statement for example.

[2015-02-25 19:25] #2317 closed

[2015-02-25 20:27] aparajita commented on #1432
How are you calculating the character width? It seems the calculation is biased towards the left by a certain percentage, because at smaller font sizes I have to click farther to the right to get the caret to appear to the right.

[2015-02-26 05:00] daboe01 commented on #1432
i do not see it (testing in chrome)
the code is
[code]
it has to be a rounding issue.

[2015-02-26 05:46] aparajita commented on #1432
I checked again zooming in on the screen, and it is working correctly. Great job!

[2015-03-01 20:33] daboe01 opened #2322 "CPWindowDidResignKeyNotification is not fired when browser window loses focus"
detecting this is necessary e.g. to stop a timer based caret blinking when the browser window does not have the focus anymore.

we could use the platform-window's blur handler for this: https://developer.mozilla.org/en-US/docs/Web/API/Window/onblur

[2015-03-02 19:56] daboe01 opened #2325 "CPTableView drag-selection-scrolling stops unless you move the mouse"
on macos the tableview continues scrolling up- or downward until you let the mouse button go.
on capp you constantly have to move the mouse in order to keep the tableview scrolling.

[2015-03-03 15:30] djbewick opened #2327 "Objective-J.js latest master version throwing exception with Windows/Safari"
Line 695 this._nativeRequest.withCredentials=false;
Throws INVALID_STATE_ERR:DOM Exception 11:An attempt was made to use an object that is not, or is no longer, useable;
Safari 5.1.7(7534.57.2)

OSX Safrari 8.0.3 (10600.3.18) works fine, as do Firefox/Chrome on Windows.

I don't know enough about W3C to know if this is a Safari implementation bug or an Obj J one.

This line is not present in Cap 9

[2015-03-03 15:51] ahankinson commented on #2327
-#new
+#needs-info

What is the status of Safari on Windows? Is it supported / updated anymore?

[2015-03-03 16:29] djbewick commented on #2327
Done a bit of checking and it looks like Apple has ceased support for Safari/Windows.  How to I close this issue?

[2015-03-03 16:29] ahankinson commented on #2327
Done!

+#wont-fix

[2015-03-03 16:34] #2327 closed

[2015-03-03 19:14] daboe01 commented on #1956
@ahankinson is this still an issue?

[2015-03-03 19:16] daboe01 commented on #1686
@aljungberg any objections against closing this one?

[2015-03-03 19:53] ahankinson commented on #1956
The API documentation online has not been updated to 0.9.8, so yes, it is still an issue.

[2015-03-03 20:00] Dogild commented on #1956
It will normally be updated with release ;)

[2015-03-03 22:00] aparajita commented on #1686
We can close it, but only after the current behavior has been documented.

[2015-03-04 19:37] daboe01 commented on #1686
-#needs-patch
-bug
+documentation

[2015-03-06 19:11] daboe01 commented on #10
given that a lot of code has been written since 2009,  i would suggest closing this issue and documenting the current behaviour.

@aparajita, any objections?

[2015-03-07 19:07] aparajita commented on #10
@daboe01 Go ahead and close it, but document the problem with the current implementation compared to Cocoa.

[2015-03-10 13:08] daboe01 commented on #1686
+fixed

[2015-03-10 13:16] daboe01 commented on #1686
+#fixed

[2015-03-10 13:20] #1686 closed

[2015-03-10 23:39] Dogild opened #2331 "CPPlatformWindow enhancement"
When having a CPPlatformWindow other than the main platformWindow of the Application, the delegate methods are not called.

Right now, only `windowWillClose:` and `windowDidResize:` are called.
The following delegate methods should be called :

[code]

[2015-03-11 07:16] daboe01 commented on #1169
this issue is invalid as discussed here: https://github.com/cappuccino/cappuccino/pull/2328#issuecomment-78207574
+#wont-fix

[2015-03-11 07:19] daboe01 commented on #2331
@Dogild is this related to #2322?

[2015-03-11 07:22] #1169 closed

[2015-03-11 15:40] cpasslack opened #2332 "Encoding a [CPDecimalNumber zero] causes a corrupt CPDecimalNumber after decoding"
Encoding a CPDecimalNumber zero causes an error on decoding. The CPDecimalNumber object will refer to itself in the _exponent and _mantisa properties. This will lead to an infinite loop when one of this properties is accessed. Here is my reduction of the problem:

[code]

I already found the cause of this problem. In the function _CPKeyedArchiverEncodeObject of the class CPKeyedArchiver following

[2015-03-11 16:55] Dogild commented on #2331
Yes

[2015-03-11 19:04] daboe01 commented on #2322
#duplicate

[2015-03-11 19:07] #2322 closed

[2015-03-12 12:31] crazydog54321 commented on #2332
This issue has also an other negative side-effect. See the example code below:

[code]

That means you encode a CPNumber with the value 5 and get a decoded CPDecimalNumber with the value of 5.

Should this bug be filed as an new issue?

[2015-03-12 19:54] daboe01 commented on #1419
#works-for-me

[2015-03-12 19:56] #1419 closed

[2015-03-12 20:12] daboe01 commented on #2332
i can confirm that the reduction indeed crashes
-#new
+Foundation
+#acknowledged
@crazydog54321 please make a pull request (https://github.com/cappuccino/cappuccino/blob/master/CONTRIBUTING.md)

[2015-03-12 20:18] daboe01 commented on #2332
#needs-patch

[2015-03-12 20:19] daboe01 commented on #2331
-#new
+feature
+AppKit
+#needs-patch

[2015-03-12 20:20] daboe01 commented on #2325
-#new
+feature
+AppKit
+#needs-patch

[2015-03-12 20:20] daboe01 commented on #2320
-#new
+feature
+Tools
+#needs-patch

[2015-03-12 20:21] daboe01 commented on #2320
+tools
+Objective-J

[2015-03-12 21:32] Dogild opened #2333 "CPScrollView does not send some notifications"
The CPScrollView should send the notifications :

NSScrollViewWillStartLiveScrollNotification
NSScrollViewDidLiveScrollNotification
NSScrollViewDidEndLiveScrollNotification

[2015-03-12 22:50] aparajita commented on #2320
The easiest way for this to happen is to compile the file and then check the compiled file with a linter like eslint.

[2015-03-13 06:38] crazydog54321 commented on #2332
I will fix it.

@daboe01 thanks for pointing me to the contribution-manual

[2015-03-13 09:36] #2271 closed

[2015-03-13 09:50] mrcarlberg commented on #362
+#fixed
by #2326

[2015-03-13 09:50] #362 closed

[2015-03-13 11:12] daboe01 commented on #2065
this one is invalid because we do not have the text system merged in yet. it can be reopened later if needed.

[2015-03-25 18:10] Dogild opened #2338 "Travis should launch unit-test to test the DOM"
Right now, travis only launches unit-tests with OJTest.

One solution could be to used Cucapp and Cucumber (https://github.com/cappuccino/cucapp). The idea here would be to create tests for each AppKit components and see how it reacts when sending some user events (CPMouseLeftDown, UP, keyboard events etc etc). Cucapp can actually does that already !
Then Cucapp allows you to get some informations

[2015-03-28 17:36] Dogild opened #2340 "Duplicate ivars issue not displayed in the js console"
When having duplicate ivars, the js console does not show to the develop the issue.
It leads to an unloaded app without indications where the error is. This is only with uncompiled code.

For instance :

[code]

[2015-03-31 18:25] #2332 closed

[2015-04-01 21:50] robert-plasq commented on #1432
What's the current status of this? Will it get merged in to the main Cappuccino code base soon?

[2015-04-06 18:02] didierkorthoudt opened #2341 "0.9.8 CPSegmentedControl wrong vertical positioning..."
Hi Folks !

I've just found a problem with CPSegmentedControl vertical positioning...

You can reproduce this very easily with a new project and adding a CPSegmentedControl vertically aligned with, say, a text field.

For what I've seen, the offset is (is this a symptom or just a coincidence ?) 24 pixels, which is the height of the CPSegmentedControl...

Here is the IB layout :

![capture d ecran

[2015-04-06 18:04] didierkorthoudt commented on #2341
Forgot to mention that everything was OK in 0.9.7-1...

Maybe a XCodeCapp issue ?

[2015-04-06 18:06] Dogild commented on #2341
Hi Didier,

Can you share the app please ?

Thanks

[2015-04-06 18:39] Dogild commented on #2341
No this is perfect ! Easy app to reproduce the problem.

@cacaodev can you take a look please ? It looks like this commit a9a6e58d60db02413168b39a42857c14f0e19969 is the issue

[2015-04-07 01:26] Dogild commented on #2331
This has been fixed with the commit 10792c0bc6adbee9b91d65690be32294d652edb2

The delegate method `windowDidMove:` on a CPPlatformWindow is tricky (when we move the browser page). The only way (I know) to do that  would be to put a timer to check regularly the x and y position on the window.screen, this interval would be running only when the window is not focus.

@cappuccino/core-devs does someon

[2015-04-07 17:12] cacaodev commented on #2341
@didierkorthoudt does it work for you ?

[2015-04-07 18:53] didierkorthoudt commented on #2341
@cacaodev : yes, perfect ! Thank you !

[2015-04-07 20:04] aparajita commented on #2331
Don't bother trying to support this until several people ask for it.

[2015-04-07 20:30] Dogild commented on #2331
Ok, I close this one :)

[2015-04-07 20:30] #2331 closed

[2015-04-11 08:03] #2341 closed

[2015-04-22 18:07] didierkorthoudt opened #2344 "xCodeCapp bad transcription of Categories for AppKit classes"
Dear all,

Trying to add a Category to CPView, we (people on the Google Group and I) found that xCodeCapp does not translate CPView to NSView in the .h support file, leading thus IB to ignore the Category.

I get :

#import <Cocoa/Cocoa.h>
#import "xcc_general_include.h"

@interface CPView (AutoLayout)

@property (assign) IBOutlet NSView* topNeighbour;

@end

instead of

#import <Cocoa/Cocoa.h>
#i

[2015-04-25 17:09] Dogild commented on #2344
I should work on a new version of xCodeCapp in the next weeks! I'll fix this issue in the same time

[2015-04-27 13:39] rvanzon opened #2347 "xCodeCapp does not resolve NSView's anymore"
The following error appears when using NSViews (Custom views):

**Cappuccino [error]: Unable to find class NSView referenced in cib file.**

This seems to only happen in debug-mode (using index-debug.html). But, it could be suppressed by the log-level(?)

_How to reproduce?_
Just add a SplitView or Custom view to your window in Interface Builder, load your app in debug-mode and check the console.

[2015-05-04 23:11] Dogild opened #2349 "Implementation of CPStackView [+3]"
More informations here : http://developer.apple.com/library/MAC/documentation/AppKit/Reference/NSStackView_Class/index.html

[2015-05-04 23:12] Dogild opened #2350 "Implementation of CPSplitViewController"
More informations here : https://developer.apple.com/library/mac/documentation/AppKit/Reference/NSSplitViewController_Class/

[2015-05-04 23:13] Dogild opened #2351 "Implementation of auto-layout and constraints"
More informations here : https://developer.apple.com/library/ios/recipes/xcode_help-IB_auto_layout/chapters/UnderstandingAutolayout.html#//apple_ref/doc/uid/TP40014226-CH22-SW1

[2015-05-04 23:15] Dogild opened #2352 "Implementation of StoryBoard"
More informations here : https://developer.apple.com/library/mac/documentation/General/Conceptual/Devpedia-CocoaApp/Storyboard.html (iOS doc)

[2015-05-05 07:16] daboe01 commented on #2351
this is a dupe of #1437
#duplicate

[2015-05-05 07:19] #2351 closed

[2015-05-07 18:49] daboe01 commented on #10
#fixed

[2015-05-07 18:51] #10 closed

[2015-05-17 19:32] didierkorthoudt opened #2356 "CPScrollView documentVisibleRect returns wrong values if some scale is applied to the document view"
Hi ! You can follow the full story (with example and full explanation) on the Google group :

https://groups.google.com/d/msg/objectivej/6-gY5AR1Vj8/TecLcTra2jsJ

The short story :

When applying a scale to the document view of a CPScrollView, [CPScrollView documentVisibleRect] returns a wrong answer. This is confirmed by Alexandre who tried in Cocoa and got correct values.

The origin of the prob

[2015-05-18 22:11] saikat opened #2357 "sizeWithFont: caching breaks down for numeric strings"
The cacheKey in CPStringDrawing's `- (CGSize)sizeWithFont:(CPFont)aFont inWidth:(float)aWidth` is computed as follows:

    var cacheKey = self + [aFont cssString] + aWidth

a font's cssString can look like this:

    148px TisaSansMedium, Arial, sans-serif

so a cacheKey for the string '11' at size '148' looks like this:

    11148px TisaSansMedium, Arial, sans-serifnull

The problem with this is

[2015-05-18 22:22] saikat commented on #2357
I have a category in locally that attempts to fix this with an unlikely delimiter, but not sure if there is a better option:

    var StringSizeWithFontInWidthCache = {};
    @implementation CPString(BetterSizeCaching)
    // Default Cappuccino caching in this method gets messed up if you try to size the string '11' followed by '111'.  I'm using an unlikely delimiter though obviously this could al

[2015-05-19 18:25] daboe01 commented on #2357
hi saikat, take a look at https://github.com/daboe01/cappuccino/commit/4896043599b2aaaa57ed3b28eb1b331036ef0818

this issue will be fixed by PR #2068

[2015-05-20 17:41] didierkorthoudt commented on #2356
This seems OK for me. I'll check further this weekend… Thank you !

[2015-05-27 22:27] #2356 closed

[2015-06-01 21:37] #2344 closed

[2015-06-02 19:17] daboe01 commented on #2061
the new text object will always have an editable div in focus.
so this is not an issue anymore.

[2015-06-02 19:17] #2061 closed

[2015-06-12 07:52] cpasslack opened #2361 "CPButton sizeToFit: Resize dosen't work correctly after a new title was set"
CPButton sizeToFit dosen't work after the title of an CPButton has changed. Here is my reduction:

[code]

I investigated a bit around and I think the problem exists since commit 7323a5e393b74b49842d4cb5478804f1e57d0c23

It seems it is necessary to call layoutSubviews first, otherwise _minimumFrameSize will a return the "dirty"-rect with the size of the old titled CPButton. A workaround is to call

[2015-06-19 20:46] daboe01 commented on #2062
i am closing this because the new text system will have its own copy/paste engine.

[2015-06-23 07:34] daboe01 commented on #1432
hi all,
implementing the native deadkeys caused a rat-tail of issues. e.g. this broke system-wide copy-paste and all menu keyboard shortcuts.
by now i fixed everything that i spotted.
i am sure i missed some issues, though.
i.e. i did not test on Safari and IE.
could you please help me with testing?
i updated the online demo.
many thanks and best greetings,
daniel

[2015-06-23 08:49] mrcarlberg commented on #1432
Awesome!

I did a quick test in Safari and I found a couple of things:
1. Double click on a word and do 'Copy' from the 'Edit' meny (or CMD-c). When I select another place with the mouse and do paste I get an extra space at the end of the word. I do not get it if I paste it into an external editor. (Sometimes I can get it to work but I can't figure out why)

2. If I hit 'Arrow-down' key somewhere

[2015-06-23 12:06] Rosch commented on #2361
This is really annoying. We have to change this in a lot of places to call sizeToFit twice or to remove sizeToFit alltogether.

Any idea when this will be fixed?

[2015-06-23 14:58] Dogild commented on #2361
Hi,

I am not available these next days but I'll take a look when I'm back !

[2015-06-23 18:41] daboe01 commented on #1432
hi @mrcarlberg
thanks for testing.
ad 1.: this is a cocoa feature (smart paste), e.g. http://daringfireball.net/2006/04/more_smart_cut_copy_paste
ad 3. fixed

[2015-06-24 21:37] #2361 closed

[2015-06-25 00:45] Dogild commented on #2361
I have reverted the commit #7323a5e.
I didn't see any issue in our side yet.

[2015-06-25 08:39] daboe01 commented on #1432
hi @mrcarlberg i just fixed the other issues as well.

[2015-06-25 14:23] mrcarlberg commented on #1432
Yes, I know of the smart paste in Cooca.
But it is not working as Cocoa does. When you paste the word into an empty line you will get an extra space at the end. It won't in a Cocoa application.

[2015-07-04 19:09] daboe01 opened #2363 "window does not emit CPWindowDidResignKeyNotification when browser loses focus"
this is e.g necessary to stop the blinking caret in the new text view.
feel free to use this code for detecting the blur:

[code]

[2015-07-04 19:20] Dogild commented on #2363
Are you sure about that ? I did some fix about that a month ago

[2015-07-04 21:17] daboe01 commented on #2363
i can't get the caret to stop blinking when the browser loses focus (3c0b0612200b9e16fcc243495400169a5efa9c40).
When looking at CPWindow.j, it looks to me as if only in-app key window transitions are covered.

[2015-07-04 21:36] Dogild commented on #2363
Does it work when you use the delegate of the window like in the manual test CPPlatformWindowTest ?

[2015-07-05 09:49] daboe01 commented on #2363
sorry, my fault!
i was on an outdated master.
your stuff works great.
best greetings,
daniel

[2015-07-05 09:49] #2363 closed

[2015-07-16 06:42] daboe01 commented on #2053
the native mode is actively set for IE in line 353 in CPWebView.j
should we try removing the IE condition here?

[code]

[2015-07-20 20:34] Dogild opened #2364 "Compiling error when importing an empty file [+1]"
Cappuccino error crash when importing a empty file. It should not as in cocoa.

Easy to reproduce, create a project and '@import "yourEmptyFile.j"

[2015-08-02 19:13] daboe01 opened #2365 "Cursor key binding methods do not fire in IE11"
you can see this e.g. in the collection view manual test.
+IE
+#needs-confirmation
+regression

[2015-08-14 20:49] Dogild opened #2372 "Possibility to create @accessors in a @protocol"
Be able to create @accessors in a @protocol as in cocoa

[2015-08-14 20:54] Dogild commented on #2372
Example :

[code]

[2015-09-01 19:06] daboe01 opened #2376 "ctrl-cursor right is not interpreted properly any more in FF 40+"
should trigger the moveToRightEndOfLine: action method on the first responder.
...instead this causes some weird scrolling sometimes.
worked well until FF40. Still broken in the beta of FF41

[2015-09-01 19:50] daboe01 commented on #2376
+FireFox
-#new
+#needs-confirmation

[2015-09-01 20:02] daboe01 commented on #2376
i cannot reproduce this any more.
the scrolling issue remains, however.
not sure it is really a capp. issue

[2015-09-01 20:02] #2376 closed

[2015-09-02 19:45] daboe01 commented on #2376
this was an event propagation issue (ba1d1c3)

[2015-09-23 17:08] didierkorthoudt opened #2378 "Right mouse clic during a drag operation problem"
In a CPControl subclass, I've implemented dragging via startTrackingAt, continueTracking and stopTracking.

Everything works well except that if, during a drag, I also click on the right mouse button (ok, that's a silly idea but on a two buttons mouse this can be done by mistake), the drag stops without any notification (no call, for example, to stopTracking).

To block this, I've tested many thin

[2015-09-27 06:49] didierkorthoudt opened #2380 "CPSplitView does no more draw its divider"
Since last sync with repository, CPSplitView does no more draw its divider.

You can see this on the 2 attached screenshots (before / after).

I've done a sample app with just a split view in the default window and this is also the case.

The split view works well, the cursor changes when the mouse is over the divider.
![splitview-before](https://cloud.githubusercontent.com/assets/2394110/10121601

[2015-09-27 07:02] didierkorthoudt commented on #2380
I've done a quick CPSplitView.j review and found that this could (not sure, of course) be the issue :

- (void)drawRect:(CGRect)rect
{
    var count = [_subviews count] - 1;

    while ((count--) > 0)
    {
        _drawingDivider = count;
        [self drawDividerInRect:[self rectOfDividerAtIndex:count]];
    }
}

Shouldn't this be : while ((count--) >= 0)   ?

Didier.

[2015-09-27 07:08] didierkorthoudt commented on #2380
Nope, this would crash as count is used as an index inside the loop.

Maybe then just :

var count = [_subviews count] ;

This would be OK.

[2015-09-27 16:58] Dogild commented on #2380
Hum, we did not touch something with this class for a while ! You can do a git bisect to see which commit is wrong ;)

[2015-09-27 18:40] didierkorthoudt commented on #2380
You're right ! I've done a too quick check and count is not the count of dividers but the count of views... So there's indeed one less divider than views.

I'll try to find what's going on...

[2015-09-28 14:14] didierkorthoudt commented on #2380
I've digged a little more and found that it has to do with the _viewClassFlags not correctly set up, so drawRect is not called in CPSplitView...

I continue searching why _viewClassFlags is not correct... but this is related to commit f2f4fa1b98f625fab2dddd0c1e5b5c9b3ce6c64e

[2015-09-28 14:39] didierkorthoudt commented on #2380
Well, here are the news :

If I use a CPSplitView in IB, initWithFrame is not called, so CPView initWithFrame is not called, so _setupViewFlags is not called...

If I create a CPSplitView via code, then everything seems OK.

[2015-09-28 15:10] Dogild commented on #2380
I probably removed the setupFlags where I should not have

Envoyé de mon iPhone

[2015-09-28 18:30] didierkorthoudt commented on #2380
Bonsoir Alexandre,

Juste un truc que je ne comprends pas : pourquoi initWithFrame du CPSplitView n'est pas appelé quand on utilise IB... (ni le init, d'ailleurs...)

Aurais-tu une idée ? Ou une indication sur où chercher ?

Bien à toi,

Didier.

[2015-09-28 18:38] #2380 closed

[2015-09-30 21:54] Dogild opened #2382 "CPTimeZone initWithName: does not return the timeZone with the good daylight saving."
In cocoa, when creating a CPTimeZone with the method initWithName, the created timeZone depends on the daylight saving time or not.

For instance, in december (winter time) you'll get PST and during the summer PDT.

This can be done by using the javascript date api.

[2015-10-02 18:04] #269 closed

[2015-10-09 16:46] persquare commented on #2347
Don't know if it is related, but nib2cib and xCodeCapp suddenly stopped working for me. Same error message as above:
"Unable to find class PPView referenced in cib file"
I can't set customView class anymore.

Also, and perhaps related, if I reset the project using xCodeCapp, all schemes are gone, and I have to import a scheme from another project to continue.

[2015-10-09 18:22] Dogild commented on #2347
What is the result when you do only `nib2cib` on the xib files ?

[2015-10-09 18:26] Dogild commented on #2347
I can't reproduce this error ! Questions are :

- Which version of cappuccino ?
- Did you try to do only nib2cib on the xib files ?
- Can someone share the sources ?

[2015-10-21 21:23] didierkorthoudt opened #2387 "CPColorWell in another platform window"
When putting a CPColorWell in another platform window, the color panel opens in the main window instead of in the platform window.

This can be observed in the following screenshot :

![cpcolorwell_bug](https://cloud.githubusercontent.com/assets/2394110/10650605/ab1ad1be-784a-11e5-9541-11943cacfbf0.png)

[2015-10-21 21:36] didierkorthoudt opened #2388 "CPColorPanel colorWheel picker "brightness" slider doesn't display correctly"
The background image (brightness_bar.png) doesn't seems to display.

You can see this in the following screenshot :

![capture d ecran 2015-10-21 a 23 26 26](https://cloud.githubusercontent.com/assets/2394110/10650790/ab3121e8-784b-11e5-98fd-92f9e9fef0aa.png)

This is easily reproduced with the following AppController.j :

@import <Foundation/Foundation.j>
@import <AppKit/AppKit.j>

@implementatio

[2015-10-26 12:13] toddfreese opened #2390 "CPViewController is using a synchronous request to load cib files instead of an asynchronous request."

[2015-10-29 14:30] didierkorthoudt opened #2393 "mouseEntered fired multiple times instead of once"
Hi there !

While implementing a mouseEntered on a CPView subclass, I found what I think is a strange (abnormal ?) behavior... Or not.

I noticed that the method is called multiple times while entering the view.

I digged a little and found that it is called as many times as the number of views, subviews, subsubviews are under the mouse.

To be clear, if a view contains another view filling all th

[2015-10-29 18:30] Dogild commented on #2387
Hi @didierkorthoudt,

Could you please provide a small application for this issue ?

Thanks,

[2015-10-29 18:32] Dogild commented on #2390
Hi @toddfreese,

Can you give us more informations about this issue please ? I don't understand the title and the problem.

Thanks,

[2015-10-29 18:40] toddfreese commented on #2390
Sure thing. Basically, if you are using a view based CPTableView with the tableview's view stored in another cub file, makeViewWithIdentifier will load that cib. But you get the following warning:

Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check http://xhr.spec.whatwg.org/.

It should be loading this

[2015-10-29 18:49] toddfreese commented on #2390
It appears that  - (id)initWithContentsOfURL:(CPURL)aURL from CPCib.j is using:

 _data = [CPURLConnection sendSynchronousRequest:[CPURLRequest requestWithURL:aURL] returningResponse:nil];

instead of  [CPURLConnection connectionWithRequest ....

[2015-10-29 19:17] didierkorthoudt commented on #2387
Here is a really simple test app showing the problem :

[code]

[2015-10-29 19:18] didierkorthoudt commented on #2393
I forgot to add that the same phenomena occurs with mouseExited...

[2015-10-29 21:53] didierkorthoudt commented on #2393
I'm digging in this problem...

For what I've seen, the problem is that 2 mechanisms are dealing with the event propagation : the window sendEvent that sends to every view where the event happens, and the responder mechanism (not yet really studied) that propagates down unmanaged events (that is, if I'm a view and if I don't have a specific mouseEntered method, then I propagate the event to my nex

[2015-10-29 23:21] didierkorthoudt commented on #2393
Well, I think I've got a solution...

What is the best way to propose it to you ? (be aware that I'm not that used to GitHub... just enough to get new cappuccino sources... but if there's a doc somewhere, I think I can do something...)

[2015-10-30 00:53] Dogild commented on #2393
Hi @didierkorthoudt,

Best way is to make a PR (actually the only way).

- You first need to fork cappuccino (https://help.github.com/articles/fork-a-repo/)
- Need to create a new branch for this feature (https://github.com/Kunena/Kunena-Forum/wiki/Create-a-new-branch-with-git-and-manage-branches)
- Then commit your fix on the branch (https://help.github.com/desktop/guides/contributing/committing-

[2015-10-30 10:13] didierkorthoudt commented on #2393
Hi Alexandre,

I've done my pull request. I hope I've done right...

;-)

[2015-10-30 14:10] cacaodev commented on #2390
It could be very interesting to have view controllers loaded async from a cib but this is more a feature request than a bug. Currently, like in cocoa, we expect the cib to be loaded synchronously. Changing that would completely break the API. For example this wouldn't work any more :  ```var view = [viewController view] ```
We can either add a new method or maybe partially break retro-compatibilit

[2015-10-30 14:25] toddfreese commented on #2390
I fixed the typo in the issue title.

Todd

[2015-11-07 16:47] daboe01 commented on #2393
probably fixed by #2395

[2015-11-07 16:48] daboe01 commented on #236
probably fixed by #2395

[2015-11-11 17:41] daboe01 opened #2397 "NextResponder in textual CPDatePicker is wrong..."
...with only CPYearMonthDayDatePickerElementFlag

you have to press tab two additional times to get to the next field.
this is probably because the hidden(?) minute and second fields absorb the tab strokes
@Dogild may you have a look at this?

[2015-11-11 17:50] Dogild commented on #2397
Do you have a reduction ?

[2015-11-11 18:32] daboe01 commented on #2397
no, i cannot reproduce it anymore. sorry for the confusion.

[2015-11-11 18:32] #2397 closed

[2015-11-12 11:29] zyukin opened #2398 "method_getTypes does not work with Release build."
The same code works fine when compiling in the browser.

[2015-11-12 12:15] mrcarlberg commented on #2398
I can confirm that this is a problem. The release version has not any type signatures for method.
We will change back this.

[2015-11-12 12:34] mrcarlberg commented on #2398
A workaround that might work should be to add the option ```-T``` in your Jakefile for the release build.
Change something like ```setCompilerFlags("-O2")``` to ```setCompilerFlags("-O2 -T")```

[2015-11-12 13:31] zyukin commented on #2398
With `-T` return error:
[code]

[2015-11-12 13:40] mrcarlberg commented on #2398
Can you please provide the line you changed in your Jakefile. Both how it was before and how it is now after the change.

[2015-11-12 14:01] zyukin commented on #2398
I changed `task.setCompilerFlags("-O2")` to `task.setCompilerFlags("-O2 -T")`. This error reproduce if clean `Build` folder before build.

[2015-11-13 08:46] mrcarlberg commented on #2398
The workaround does not work. I will make a PR that fixes type signatures for method definitions.

[2015-11-14 18:40] cacaodev commented on #2390
A new API, also new compared to cocoa, is needed for this new feature.

When loading asynchronously a CPViewController, the code would be this:
[code]

The method could also be just named
[code]
because the function arg clearly indicates it is a callback for an async process, as opposed to the synchronous version ```-loadView``` What do you prefer ?

[2015-11-14 21:00] toddfreese commented on #2390
I think loadViewAsynchronously is better. It clearly states what it does.

T

[2015-11-15 19:55] cacaodev commented on #2390
It is also possible to extract the underlying CPOperation containing the cib instantiation and the handler in this method. The method would just return this operation.

Then, one could use these operations to load multiple view controllers in a specific order. We could also setup priorities for each individual operation.

@primalmotion : In Archipel, if I remember well, you have this kind of setup

[2015-11-15 22:50] primalmotion commented on #2390
Certainly. I ended up loading them sequentially as it was way faster than trying to load them all the same time.

[2015-11-16 18:16] cacaodev commented on #2390
OK. So, I need to mention that the XMLHttpRequest itself is NOT part of the operation. The operation contains 1/ the cib instantiation (after remote data reception) ad 2/ the user defined handler, typically adding the remote view to the main window.

The consequence is that requests would be launched at the same time and then operations can be executed sequentially, eventually in a specific order

[2015-11-16 21:49] Dogild commented on #2398
For people who has issues with that, there are two possibilities to have temporary fixes :

- `setCompilerFlags("-O2 -g")` when building
- remove line 2328 in `Objective-J/ObjJAcornCompiler.js` `if (compiler.flags & ObjJAcornCompiler.Flags.IncludeDebugSymbols)`

[2015-11-16 21:51] Dogild commented on #2398
@mrcarlberg How cocoa works when using the runtime methods in a release application ? Should we include typed of the method all the time in our compiled application ?

[2015-11-17 08:29] mrcarlberg commented on #2398
I have been busy fixing som other important matters in out current project. I have most of it working and it will be ready in a day or two.
Yes, the default will be that type information will always be included. There will be an option to turn it off if needed.

[2015-11-23 21:38] #2398 closed

[2015-12-05 14:58] persquare opened #2400 "Possible nib2cib bug: null is not an object (evaluating 'self._superview._frame')"
Steps to reproduce:
In the attached project
[code]
As it stands, it should generate the `null is not an object (evaluating 'self._superview._frame')` error, and moving "bad table" out of the box should "fix" the issue and moving the table back inside the box should cause the issue to resurface.
The "bad table" is originally a clone (ALT-drag) of the "good table".

Discussion at https://groups.goog

[2015-12-31 01:39] #2400 closed

[2016-01-02 19:29] Dogild commented on #2393
Fixed by #2395

[2016-01-02 19:29] #2393 closed

[2016-01-06 22:50] t00f opened #2406 "CPSplitView with one view should resize its view and removes its divider"
Given a `CPSplitView` with two `CPView`, say `viewA` and `viewB`, I should be able to remove and re-add `viewB` as a subview depending on a certain context.

Cocoa removes `viewB`, resizes `viewA` so it takes the whole space available and removes the divider.

Cappuccino currently fails while trying to position the divider in method `setPosition:ofDividerAtIndex:` at line `733` because variable `f

[2016-01-08 14:22] daboe01 commented on #236
@didierkorthoudt was this fixed by #2395?

[2016-01-11 19:20] didierkorthoudt commented on #236
Hi @daboe01 ,

Sorry for the delay...

I've just checked and nope... viewA received mouseExited.

I check in CPTrackingArea mechanism and get back to you...

Sorry for this.

Didier.

[2016-01-12 15:35] t00f commented on #2406
Added a test that verify that this issue should no longer exist.

[2016-01-12 15:35] #2406 closed

[2016-01-12 18:26] daboe01 commented on #236
Thank you for checking. Best greetings Daniel

Von meinem iPhone gesendet

[2016-01-12 19:46] didierkorthoudt commented on #236
I've found the problem (in the CPTrackingArea). It's caused by a running condition but only (it seems) when you use the mouseEntered event to do the view removal. In other conditions, CPTrackingArea handles this correctly.

I have to adapt my code to cope with this situation. I'll do it ASAP.

[2016-01-14 11:46] aljungberg commented on #2120
This is still an ongoing issue.

[2016-01-20 19:13] cacaodev commented on #2390
Just pushed #2415. You can test it and see if it solves your issue.

[2016-01-23 10:52] djbewick opened #2417 "CPCustomView not loading via CPViewController initWithCibName:bundle:"
I'm playing with programatically creating instance views of a class designed in IB.  When I base the view within custom CPViewController class on a IB CustomView I get an error:
Cappuccino [error]: Unable to find class NSView referenced in cib file.
when _LoadView is called.  I think this is a bug as I wouldn't expect to see any reference to an NS class in a cib file.  Using other views (such as a

[2016-01-23 15:02] #236 closed

[2016-01-24 14:39] daboe01 commented on #2325
+#duplicate of #1212

[2016-01-24 14:39] #2325 closed

[2016-01-24 14:49] daboe01 commented on #2157
why is this still open? it has the fixed label. can a core member please close this one?

[2016-01-24 19:33] #2157 closed

[2016-01-24 19:51] cacaodev commented on #2417
It looks like a bug.

Just curious: what can you do with a IB custom view without any subclassing ?

[2016-01-24 20:00] daboe01 commented on #1212
the clipping is corrected in the current master.
however,  auto-scroll events are still missing (for both column dragging and row dragging)

[2016-01-24 21:06] djbewick commented on #2417
I was playing with capabilities.  The idea was to design a complex view with a CustomView as the canvas with lots of 'standard' views within. i.e. maybe a few textfields, a tableView and splitView.  I haven't got beyond just including a customView.

[2016-01-24 21:35] daboe01 commented on #1212
here is a reference implementation for autoscrolling:
<https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/NSScrollViewGuide/Articles/Scrolling.html>

[2016-02-20 14:10] daboe01 opened #2421 "CPTableView does not autoscroll"
in cocoa i get scrolling when i drag a column to the left or right border.
this currently does not work in cappuccino.

[2016-02-20 14:11] daboe01 commented on #1212
i opened #2421 to make clearer what the remaining issue is.

+#duplicate

[2016-02-20 14:24] daboe01 commented on #1212
+#duplicate

[2016-02-20 14:31] #1212 closed

[2016-02-21 20:05] daboe01 commented on #2421
Why is line 419 in CPTableHeaderView commented out?
It seems that the issues this line may have caused in the past are now fixed.
i do not see issues with this line enabled.
@cacaodev what do you think?

[2016-02-22 20:23] cacaodev commented on #2421
I don't remember what was wrong with autoscroll but it had to to with the detail implementation in CPTableView & al . We can enable autoscroll but it will require a test, manual or other type ...

[2016-02-24 15:58] cpasslack opened #2422 "Encode/Decode problem on CPDictionaries with keys != CPString"
An encoded CPDictionary which keys are not CPStrings causes an Exception "Uncaught Error: *** 280NPLIST marker not recognized in Plist." on initForReadingWithData: in CPKeyedUnarchiver. The cause is malformed archived data.

Here is my reduction:

[code]

The encoded CPString as Dictionary-Key will result in the archived data as:
CP.objectsD;K;2;10D;

The CPNumber as:
CP.objectsD;K;undefined;10D

[2016-02-25 22:04] cacaodev commented on #2422
Can you do this in cocoa ?

[2016-02-26 07:19] cpasslack commented on #2422
Unfortunately I can't test it on cocoa because I have no Apple machine. But a closer look to the class reference gives this:

But I am still curios about, what happens in cocoa when you try to store a non-string key. In cappuccino it saves malformed data without a hint that something will going wrong. Is their a compiler warning in cocoa? An thrown exception during runtime? It would be cool, if so

[2016-03-04 16:52] aksuska opened #2425 "CPButton Image Scaling is Not Propagated From Xib to Instantiation"
Trivially reproducible. Setting the property at run-time always works.

[2016-03-12 21:32] cacaodev commented on #2417
The CustomView class need to be defined somewhere in the code. Otherwise, it is normal behavior to get an error.
If there is nothing else than this, I will close this issue.

[2016-03-13 12:27] djbewick commented on #2417
I was getting the same issue with the custom views of a split view,but the work around of subclassing CPView as a copy and then using that subclass works fine.  It just seemed odd seeing an NSView tag appear in a .cib

[2016-03-15 07:22] cacaodev commented on #2425
@aksuska I submitted a PR that should solve this issue.

[2016-03-15 17:58] aksuska commented on #2425
FWIW, I can confirm that the fix works on my end

[2016-03-21 02:37] Dogild commented on #2422
Someone should test that in cocoa.

[2016-03-29 06:43] #2425 closed

[2016-03-31 14:15] #2390 closed

[2016-04-02 20:35] daboe01 commented on #2121
fixed here:
https://github.com/nuagenetworks/nukit-theme
i vote for closing this issue.

[2016-04-02 21:27] aparajita commented on #2121
@Dogild Will Nuage let us make this theme part of the Cappuccino distribution?

[2016-04-02 22:06] schipmolder opened #2433 "System font size change when setting custom font size on CPTextField"
For the last few weeks I've been having issues with the system font setting that changes once you load a CPTextField with custom font size set.
E.g. when you load a CPTextField with font size 26 every other text field, but also buttons and labels that are either landed or updated after that will also have that larger font size.

Please see attached example as illustration.
Initially the two text f

[2016-04-03 06:22] Dogild commented on #2121
@aparajita not sure, @primalmotion what about that ?

One of the first issue is that this theme only implements a flat theme for widget that the Nuage Application uses

[2016-04-03 07:00] aparajita commented on #2121
Until the theme is complete it shouldn’t be included in the Cappuccino distro and the issue should not be closed.

[2016-04-03 08:54] Dogild commented on #2433
Hi,

As I said on the forum, I'm not able to reproduce this issue on my system once I nib2cib the two xib files. Did you try that ?

Which version of mac os are you on ? Can you try the version I have attached ?

![Uploading Screen Shot 2016-04-03 at 1.52.48 AM.png…]()
[font_test 3.zip](https://github.com/cappuccino/cappuccino/files/201243/font_test.3.zip)

[2016-04-03 09:39] schipmolder commented on #2433
Ok, thanks for the test project.
That indeed didn't have the problem, but i still couldn't resolve the issue on my test project or on my real project.

I then ended up removing all cibs manually and had xcodecapp (0.9.9 version) recreate them using the 0.9.9 frameworks and that finally worked.

So before i tried re-creating all cibs by using the reset option in xcodecapp whereas i now did it all m

[2016-04-03 13:22] primalmotion commented on #2121
It's under BSD 3, so I'm not there will be any issue as long as we keep attribution. But as @dogild said, it's not complete and works only with NUKit as it uses the skin system. But with a little polish, it shoukd be easy to make it generic

[2016-04-03 14:00] #2433 closed

[2016-04-09 19:16] cacaodev opened #2440 "Implement CPMapTable"
In cocoa there is a NSMapTable that looks like a NSMutableDictionary but with the ability to store arbitrary pointers as keys, instead of NSStrings only.

In cappuccino, we could use the ECMASCRIPT 6 Map object. When not available, a javascript library  could be used and ideally lazy loaded.

Some useful docs:
[NSMaptable reference](https://developer.apple.com/library/mac/documentation/Cocoa/Refer

[2016-04-10 18:50] cacaodev opened #2441 "CAKeyframeAnimation missing properties and methods"
The following properties should be implemented in CAKeyframeAnimation:

- path
- calculationMode
- rotationMode
- tensionValues
- continuityValues
- biasValues

Constants

- Rotation Mode Values
- Value calculation modes

See [CAKeyframeAnimation reference](https://developer.apple.com/library/mac/documentation/GraphicsImaging/Reference/CAKeyframeAnimation_class/#//apple_ref/occ/instp/CAKeyframeAni

[2016-04-27 19:38] cacaodev opened #2445 "Implement CAAnimationGroup"
CAAnimationGroup is an animation that combines several animations.

Suppose you want a view that have a pop effect combined with a fade in effect when it is added to its superview. You need to set a CAAnimationGroup animation to the "CPAnimationTriggerOrderIn" keyPath in order to achieve this.

[Apple Documentation for CAAnimationGroup](https://developer.apple.com/library/mac/documentation/Graphic

[2016-05-08 19:57] cacaodev commented on #2417
This is actually a real bug. It does not crash anything but the error should not appear in the console.
A "custom view" in IB should be converted from NSCustomView to CPCustomView by nib2cib and then to CPView at runtime.
A reduction and eventually a proof of a regression is needed.

[2016-05-14 15:05] daboe01 opened #2450 "edits in cell based tableviews get lost when clicking on a dataview"
you can see this e.g. in Manual TableTest/EditingControls (see attachment).
![bildschirmfoto 2016-05-14 um 17 03 12](https://cloud.githubusercontent.com/assets/146335/15269132/1e742302-19f6-11e6-8e26-567ef1e65077.PNG)

[2016-05-14 15:09] daboe01 commented on #2450
here is my fix to _hitTest: for this
[code]

[2016-05-18 14:57] RoosterDragon opened #2454 "element.select() causes "Incorrect Function" exception in IE [+1]"
Calls to `element.select()` in IE (I tested 11, but presumably older versions as well) can fail with this exception, other reports suggest it occurs if the element is hidden.(ajaxorg/ace#251, xing/wysihtml5#9)

At any rate, Cappuccino can end up attempting to select text repeatedly (during mouse movement). This causes performance in IE to drop off a cliff as it throws so many exceptions.

An empty

[2016-05-18 17:13] #2421 closed

[2016-05-22 20:37] didierkorthoudt commented on #1783
Shouldn't we close this one ? CPTrackingAreas are an answer...

[2016-05-22 20:46] daboe01 commented on #1783
+#fixed

[2016-05-22 20:48] cacaodev commented on #200
Is this fixed by CPTrackingArea ?

[2016-05-22 20:48] #1783 closed

[2016-05-22 20:54] didierkorthoudt commented on #200
It should. CPTrackingArea is very accurate on Cocoa way of doing things. Also, unit tests are provided that deals with complex situations as this one. Nevertheless, this problem is now obsolete as mouse event processing has been completely modified by tracking areas...

[2016-05-23 07:36] #200 closed

[2016-05-24 09:16] daboe01 commented on #1097
@cacaodev can we close this one now?

[2016-05-24 09:48] #1097 closed

[2016-05-24 20:05] #2365 closed

[2016-05-25 07:38] daboe01 commented on #2454
IMHO we should eliminate the native input from CPTextField and switch over to a CPTextView (once this is merged in).

[2016-05-25 07:43] daboe01 commented on #2388
@Dogild do you think this a regression?

[2016-05-25 07:54] daboe01 commented on #2454
-#new
+IE
+AppKit
+#accepted
+#needs-patch

[2016-05-25 07:55] daboe01 commented on #2450
-#new
+#accepted
+AppKit
+bug
+#needs-patch

[2016-05-25 07:59] daboe01 commented on #2440
@cacaodev i would like to avoid external libraries.
why can't we just use the keys' UUIDs as storage keys for a NSMutableDictionary?

[2016-05-25 18:36] #2387 closed

[2016-05-29 19:47] daboe01 commented on #1118
i don't see this anymore.
tested chrome, FF and safari (all latest
+#works-for-me

[2016-05-29 20:11] #1118 closed

[2016-06-08 03:17] #2378 closed

[2016-06-08 13:17] daboe01 commented on #1920
i do not see this issue anymore. @cacaodev can we close?

[2016-06-08 13:30] cacaodev commented on #1920
this is fixed.

[2016-06-08 13:48] daboe01 commented on #1920
+#works-for-me

[2016-06-08 13:53] #1920 closed

[2016-06-09 17:20] daboe01 commented on #2388
@Dogild this can be closed.

[2016-06-09 17:37] #2388 closed

[2016-06-20 17:50] daboe01 commented on #1966
this is a duplicate of issue #2120
+#duplicate

[2016-06-20 18:13] #1966 closed

[2016-06-20 20:13] daboe01 commented on #2053
this is obviously by design.
+#wont-fix

[2016-06-20 20:34] #2053 closed

[2016-06-21 17:38] daboe01 commented on #2062
this issue prevents proper rich text support for the new text system.
@aljungberg the culprit is here:
[code]
You are unconditionally clobbering the the capp pasteboard with the system pasteboard. This effectively breaks the representation support and e.g. removes any rich text representation.

[2016-06-21 20:26] daboe01 commented on #2450
-#needs-patch

[2016-06-21 20:27] daboe01 commented on #2357
-#needs-patch

[2016-06-21 20:29] daboe01 commented on #2216
i tend to close this one.
IE is already depreciated by MS.
By the time of capp 1.0 it will be most likely obsoleted.
@aparajita what do you think?

[2016-06-21 20:29] daboe01 commented on #2062
-#needs-patch

[2016-06-21 20:33] daboe01 commented on #1432
-#needs-patch

[2016-06-21 20:53] aparajita commented on #2216
IE is not deprecated, but versions before 12 are unsupported (and have negligible market share). Edge doesn't run on Windows 7, and there will be a large user base on Windows 7 for a while. So we will support IE 12 for a while.

[2016-06-22 05:26] daboe01 commented on #2216
IE 12 is "Edge"?

[2016-06-22 05:27] daboe01 commented on #2216
I do not have Win10. Can someone else please check this issue on IE12 please?

[2016-06-22 05:34] aparajita commented on #2216
No, it’s a completely new browser that only runs on Windows 10. IE 12 runs on Windows 7.

Many thanks,

  - Aparajita

[2016-06-22 06:04] RonchettiAssociati commented on #2216
Platform windows run just fine with Edge on Windows10. I don't know about IE12 and Windows7, sorry.

[2016-06-22 07:08] daboe01 commented on #2216
@aparajita there is no IE12 in the microsoft download center. The last version there is IE11.
given bouchers comment that fixing this is next to impossible i vote for closing as wont-fix.

[2016-06-22 10:56] nigelgoodship commented on #2216
As I raised the issue, I feel I should comment...

I, too, can't find an IE12 for Windows 7.  I would be more than happy to test this issue on IE12 if I could find it.  I've found references to IE12, but they are all 1 to 2 years old and seem to suggest it was a working title for a branch of the Trident rendering engine that has now become Edge.  But I'm far from being an expert or even vaguely kn

[2016-06-22 13:52] aparajita commented on #2216
My mistake, IE 11 is the last version on Windows 7.

In any case, IE’s market share is tiny now, so we shouldn’t waste our time on it. Go ahead and close it.

[2016-06-22 15:06] daboe01 commented on #2216
thank you all :-)
+#wont-fix

[2016-06-22 15:07] daboe01 commented on #1504
@aparajita any objections against closing this one?

[2016-06-22 15:19] #2216 closed

[2016-06-22 17:35] aparajita commented on #1504
Fine with me, but let the others vote on it.

[2016-06-24 04:28] aparajita commented on #2454
I'm so tired of Microsoft wasting our time. I tried running one of the test apps (KeyViewLoop) on IE 11 and there were tons of errors that just shouldn't happen. Is no one else seeing this?

According to statcounter.com, IE 11 market share is currently around 15% in North America, 10% in Europe, and less in Asia. Earlier versions have negligible market share. Personally I don't want to waste my pr

[2016-06-24 05:36] daboe01 commented on #2454
+1

[2016-06-24 06:30] daboe01 commented on #2454
Even Microsoft dropped IE support. Why shouldn' t we?
@aparajita let us officially vote on dropping IE support (on the group).

[2016-06-24 14:48] aparajita commented on #2454
I'm closing this, I'm not going to waste our time on IE any more.

[2016-06-24 14:48] #2454 closed

[2016-06-24 19:08] aparajita commented on #2422
You can use non-strings as keys in a CPDictionary. There are a bunch of bugs in the reduction, nothing wrong with Cappuccino.

[2016-06-24 19:08] #2422 closed

[2016-07-07 19:30] daboe01 commented on #457
i am closing this because the current implementation only reloads visible cells. There will be not measurable speed gain from constraining any further.
#+wont-fix

[2016-07-07 19:33] daboe01 commented on #1504
+#wont-fix

[2016-07-07 19:48] #1504 closed

[2016-07-08 19:19] daboe01 commented on #2347
@rvanzon is this still an issue for you?
did you try a clean reinstall of your cappuccino system (jake clobber)?

[2016-07-15 23:15] JustinDMoore opened #2465 "App runs locally, but not when deployed"
I'm just getting started with Cappuccino (it was like Christmas learning about it)
I am running my Cappuccino app using Node.js and deploying on Heroku (however, I tested on another service and got the same results)

My full Node.js Express App & Cappuccino setup is here: https://www.github.com/JustinDMoore/yeaexpress

When I run the web server locally on my machine and navigate to the path for th

[2016-07-16 00:16] primalmotion commented on #2465
you've committed the links to frameworks https://github.com/JustinDMoore/YeaExpress/tree/master/public/Volunteer/Frameworks

You need to push the entire solid framework directory.

As you don't use any external libs, just `rm -rf Frameworks` and redo a `capp gen` (without the `-l` option)

That should work, but the correct way to do would be to build a deployment version (`jake deploy`).

[2016-07-16 00:16] #2465 closed

[2016-07-16 00:18] JustinDMoore commented on #2465
I just realized this as the problem not 3 minutes ago. I appreciate the help.

[2016-07-16 00:19] primalmotion commented on #2465
no problem :)

[2016-07-16 22:54] JustinDMoore opened #2466 "Adding a 3rd party library"
I'm interested in working with the Parse Javascript SDK.
[https://parse.com/apps/quickstart#parse_data/web/existing](url)

I'm not sure the correct way to add this to my project. If I follow the guide in the link, it adds it to the HTML or Javascript file. How would I add it to or access it from AppController.j?

[2016-07-18 01:41] JustinDMoore commented on #2466
Since valid Javascript code can be executed in Objective J, how would I go about adding the Parse SDK?

Following this tutorial: Parse JS SDK

In my project, I can't add the HTML script tag:

`<script src="//www.parsecdn.com/js/parse-1.6.14.min.js"></script>`
nor can I use:

`var Parse = require('parse');`

What is the correct way to import Parse?

[2016-07-18 05:50] daboe01 commented on #2466
you could place the script tag in you index.html
this is the way how Cup includes jquery.

[2016-07-18 15:05] Dogild commented on #2466
Hi @JustinDMoore, you can include the javascript file as @daboe01 suggests.

I'll close this issue as it's not an issue :), in the future remember that we have a forum (https://groups.google.com/forum/?fromgroups#!forum/objectivej)  where you can ask this kind of questions ;)

[2016-07-18 15:06] #2466 closed

[2016-07-18 22:34] JustinDMoore commented on #2466
Thanks. Sorry about that I wasn't aware of the forums. I'll check it out.

Since I'm already here though, I already tried including the script tag. I'm just not sure how to "import" the Parse script into AppController.j?

[2016-07-19 09:00] mrcarlberg commented on #2466
It should work. That is how we all do it. This is from our index file where we load different javascript libraries:
[code]

You can also add javascript libraries by doing: ```@import "myJavaScriptLib.js"``` in any Objective-J file. It looks for the file in the same directory as the Objective-J file. You can use a path there too if the library is elsewhere.

PS. Please continue this discussion on t

[2016-07-29 21:12] daboe01 commented on #2347
duplicate of #2417
+#duplicate

[2016-07-29 21:35] #2347 closed

[2016-08-04 18:09] daboe01 opened #2468 "Scrolling by momentum is broken in Chrome 52 on slower maschines"
you can see this e.g. in the manual DragAndDrop TableTest

[2016-08-09 03:36] enquora opened #2471 "CPPopUpButton setTitle:@"" behaviour does not match NSPopUpButton setTitle:@"" behaviour"
Unless I'm completely misinterpreting the behaviour of NSPopUpButton setTitle:@"" (test case attached [Popup Test.zip](https://github.com/cappuccino/cappuccino/files/408164/Popup.Test.zip)), the analogous CPPopUpButton is incorrect.

The NS behaviour _does not_ add an additional menu item when the title is set to @"", it simply sets the display title to @"", wheres CP does.

[code]

This appears i

[2016-08-09 17:56] enquora opened #2472 "XcodeCode App menu layout does not conform to Apple HIG"
https://developer.apple.com/library/mac/documentation/UserExperience/Conceptual/OSXHIGuidelines/MenuBarMenus.html.

**Preferences** menuItem should precede **Show** and **Hide** menuItems to match guidelines and other OS X app usage.

[2016-08-09 23:17] enquora opened #2474 "CPSegmentedControl - disabled segments not visually differentiated"
Disabled segments of CPSegmentedControl offer no visual clue that they are disabled - they look identical to enabled segments.

[2016-08-14 15:20] daboe01 commented on #457
+#wont-fix

[2016-08-14 15:22] daboe01 commented on #484
+#duplicate
of #1964

[2016-08-14 15:23] daboe01 commented on #1056
i don' think that has caused real issues nor will it in the future.
+#wont-fix

[2016-08-14 15:30] daboe01 commented on #2065
this is becoming relevant for the new text system.
i have no time to work on this right now.
anyone willing to help out?
preparatory work on the rulerview can be found here:
https://github.com/daboe01/CPTextView/blob/master/CPTextView/Frameworks/TextView/CPRulerView.j
helpful overview from apple:
https://developer.apple.com/library/prerelease/content/documentation/Cocoa/Conceptual/Rulers/Tasks/Set

[2016-08-14 15:31] daboe01 commented on #2474
-#new
+Theme

[2016-08-14 15:32] daboe01 commented on #2474
+#needs-confirmation

[2016-08-14 15:34] #1056 closed

[2016-08-14 15:38] #484 closed

[2016-08-14 15:38] daboe01 commented on #2474
@enquora Aristo has distinct files for segmented-control-bezel-disabled-*
can you please provide a screenshot and better still a reduction?

![bildschirmfoto 2016-08-14 um 17 37 49](https://cloud.githubusercontent.com/assets/146335/17650137/f8071e20-6245-11e6-9a20-992387bbf0e1.PNG)

[2016-08-14 15:39] daboe01 commented on #2468
-#new
+regression
+AppKit
+bug

[2016-08-14 15:43] daboe01 commented on #2472
-#new
+#accepted
+tools

[2016-08-14 15:43] #457 closed

[2016-08-14 15:50] daboe01 commented on #2471
@enquora

from https://developer.apple.com/library/mac/documentation/Cocoa/Reference/ApplicationKit/Classes/NSPopUpButton_Class/#//apple_ref/occ/instm/NSPopUpButton/setTitle:

If the receiver displays a pop-up menu, this method changes the current item to be the item with the specified title, ***adding a new item by that name if one does not already exist***. If the receiver displays a pull-down l

[2016-08-14 15:51] daboe01 commented on #2471
-#new
+#needs-info

[2016-08-14 15:52] daboe01 commented on #2468
+Chrome

[2016-08-14 15:55] daboe01 commented on #2472
+#fixed
by #2473

[2016-08-14 16:15] daboe01 commented on #2472
cappbot seems to like this one ;-)

can a core dev close please?

[2016-08-14 16:17] daboe01 commented on #2065
-#needs-review
+#needs-patch

[2016-08-14 16:31] #2472 closed

[2016-08-15 19:15] daboe01 commented on #2468
this is most likely caused by https://bugs.chromium.org/p/chromium/issues/detail?id=570845

[2016-08-24 14:23] #2468 closed

[2016-09-01 04:08] #2450 closed

[2016-09-07 16:54] cacaodev commented on #2474
@enquora it would be useful to have the CPSegmentedSegmentTest testing the disabled state.

[2016-09-07 18:58] #2474 closed

[2016-09-11 18:56] cacaodev opened #2482 "Jake deploy fails when *delete* is used as a function name"
The following code will fail when building with jake deploy but not jake release or debug:
[code]

[2016-09-19 04:15] ThrudTheBarbarian opened #2483 "CPCollectionView adds an extra separator before index 0"
The height of the collection view is calculated using:

`    height = MAX(height, numberOfRows * (_minItemSize.height + _verticalMargin));
`

and the layout is done using:

`    [displayItems enumerateObjectsUsingBlock:function(item, idx, stop)
    {
        var view = [item view];

        if (idx >= displayCount)
        {
            [view setFrameOrigin:CGPointMake(-anItemSize.width, -anItemSi

[2016-09-26 07:49] #2062 closed

[2016-09-26 13:59] daboe01 commented on #1432
merged, eventually :-)

[2016-09-26 13:59] #1432 closed

[2016-09-26 14:00] daboe01 commented on #2357
+#fixed
by #2068

[2016-09-26 18:12] #2357 closed

[2016-09-30 09:26] cacaodev commented on #2349
CPStackView nib2cib requires #2485

[2016-09-30 14:45] cacaodev commented on #2349
Here is a [demo of CPStackView](https://cacaodev.github.io/Autolayout/CPStackViewTest/)

Not implemented Yet: CPStackViewDistributionGravityAreas and detachable views.

You can open [issues and make feature requests](https://github.com/cacaodev/cappuccino/issues) in my fork.

[2016-10-02 19:22] daboe01 commented on #2065
anybody?
some preliminary stuff is here: https://github.com/daboe01/CPTextView/blob/master/CPTextView/Frameworks/TextView/CPRulerView.j

[2016-10-02 19:24] daboe01 opened #2488 "Native pasting rich text into safari does not work"
Safari does not currently provide data for any of the rich types that it advertises (see https://bugs.webkit.org/show_bug.cgi?id=161544).
The plan for a workaround was to let the paste execute into a contentediable div and collect data from there.
I did not get this working so far. The pasting event seems to be cancelled upstream from the cappuccino document.onpaste function.
I have not found a wa

[2016-10-03 06:54] daboe01 commented on #2349
cool!
+1
please go ahead with the pull request, even if it is not 100% complete.

[2016-10-03 08:25] mrcarlberg commented on #2349
This is really nice. I love it.

[2016-10-03 13:28] toddfreese commented on #2349
This is awesome!
+1

[2016-10-04 20:35] cacaodev commented on #2349
Thanks for these kind words. You all seem interested in Autolayout so here is the current status: currently I would say it works fine with views (but not really controls) and it is 80% completed in terms of features. I've reached a point in development where I need hands to finish the detail implementation, mainly in CPControl subclasses.

[Here is a list of issues ](https://github.com/cacaodev/ca

[2016-10-08 20:02] didierkorthoudt opened #2493 "CPUserNotification not supported under Edge/IE11"
When using CPUserNotification under Edge/IE11, the browser reports a "Notification is undefined" and breaks the execution of the current method.

[2016-10-09 11:32] daboe01 commented on #2493
We should add a CPSupportsUserNotification feature to CPCompatibility.j

[2016-10-15 08:38] cacaodev commented on #2482
@mrcarlberg can you have a look at this one. I guess it's related to the delete keyword being reserved.

[2016-10-17 21:31] mrcarlberg commented on #2482
It looks like this is a bug in the Rhino engine that is used to ```press``` and ```flatten``` the project.

I don't know how we can fix this as this is some very old technology

A workaround that can be used is this:
[code]

Or don't ```jake deploy``` the project. Just do ```jake release```

[2016-10-18 06:34] cacaodev commented on #2482
Thanks, I'll try your workaround !

[2016-10-21 22:16] enquora opened #2497 "nib2cib broken by commit 42e12fae24d88bcb6784f439a74c1f43bc2b5a51"
Commit applying pull request [nib2cib: discard warnings in the nib file](https://github.com/cappuccino/cappuccino/pull/2485), causes nib2cib to fail with error message  on my installation
`[_CPJavaScriptArray filteredArrayUsingBlock:] unrecognized selector sent to instance ...`

[2016-10-22 06:45] cacaodev commented on #2497
Thanks. I reverted the commit.

[2016-10-22 06:45] #2497 closed

[2016-10-28 13:19] HTPC-Schrauber opened #2499 "Linux: Unterminated regular expression"
Hi,

I am trying to build cappuccion under Linux.

Ich checked out from github. The executed the bootstrap.sh.
So far all went fine. Then I run jake in cappuccino folder and get the following:

[code]

[2016-10-30 07:46] mrcarlberg commented on #2499
What will you get if you type the following command ```gcc -E -x c -P Foundation/_CPCollectionKVCOperators.j | head```

[2016-10-30 12:21] HTPC-Schrauber commented on #2499
I get this output:
[code]

[2016-10-30 17:48] aksuska opened #2501 "Incomplete View-Based Table Support, specifically NSTableRowView"
CPTableView should support the use of views that represent a row (NSTableRowView, see: https://developer.apple.com/reference/appkit/nstablerowview?language=objc#) as well as related methods (e.g. https://developer.apple.com/reference/appkit/nstableview/1525162-rowviewatrow?language=objc) and delegate calls (https://developer.apple.com/reference/appkit/nstableviewdelegate/1532417-tableview?language

[2016-10-31 08:56] mrcarlberg commented on #2499
Just to make sure I have all the correct information as I was unspecific in my question. The above output is from the Linux machine and not a Mac?

[2016-10-31 08:59] HTPC-Schrauber commented on #2499
Yes, the output is from the Linux machine. Fedora 24 in this case.

[2016-10-31 10:55] mrcarlberg commented on #2499
What version of Java are you running? Type ```java -version```

[2016-10-31 11:10] HTPC-Schrauber commented on #2499
Its oracle JDK.
java -version gives
[code]

I also tested with openjdk:
[code]

The result is the same. No difference.

[2016-10-31 18:17] mrcarlberg commented on #2499
This is very strange. We use Travis to run all our unit test cases as soon as someone creates a pull request. It runs on Linux and it works every time. An example: https://travis-ci.org/cappuccino/cappuccino/builds/172018808.

I have a hard time finding out why you have problems.

[2016-10-31 21:43] daboe01 commented on #2493
Should we ignore the notifications in unsupported browsers?
Or should we provide an in-browser degradation (e.g. an alert panel)?

[2016-10-31 21:44] Dogild commented on #2493
Nop, an in-browser notification is something totally different with a different api. It's more what the growl library does

[2016-10-31 22:01] HTPC-Schrauber commented on #2499
OK, it seems I am one step further.

I tested different distributions. Fedora 24, Archlinux and Debian 8.6.
All where clean fresh installs in a KVM virtual machine.
On all I had the same result. Failed with the above error messages.

Then I wanted to try the gcc test on Archlinux an Debian. I tried on debian first, but gcc was missing. So I installed the build-essential package. After this jake te

[2016-11-01 11:05] mrcarlberg commented on #2499
Ok, so is this problem solved when you install the build-essential?

The cappuccino compiler uses gcc to preprocess the files so we can use macros and #if statements etc. On a Mac the gcc compiler is replaced with the clang compiler. I have seen that some versions of the preprocessors has problems with RegEx expressions like they are written in Javascript. I can't think of anything else that shoul

[2016-11-01 11:20] HTPC-Schrauber commented on #2499
So after further testing I found, that installing gcc on Debian fixes the problem.

But on other distries (I tried Ubuntu 16.04, Archlinux and Fedora 24) this does not fix the problem.
It looks like newer versions of gcc have problems with the Regex.

Debian Jessie uses gcc 4.9.2. Fedora is on gcc 6.2.1. Ubuntu 16.04 uses gcc 5.3.1. Archlinux is 6.2.1 like fedora.

[2016-11-01 12:07] HTPC-Schrauber commented on #2499
OK, I updated gcc on Debian Jessie from the testing repo. Now its gcc 6.2.0 and this breaks cappuccino build.

So the problem is related to newer versions of gcc. I think from 5.x versions on.

I will try modifying the regex as you suggested.

[2016-11-01 12:22] HTPC-Schrauber commented on #2499
OK, I can confirm that modifying the RegEx with new RegExp("") works. After this modification build is working also on newer gcc versions.

[2016-11-01 15:01] HTPC-Schrauber commented on #2499
OK, I fixed one RegEx by another with this modification. Build is working again.

I created a pull request [here](https://github.com/cappuccino/cappuccino/pull/2504)

[2016-11-01 16:53] daboe01 commented on #2493
so we shall silently ignore CPUserNotifications on Edge/IE11?

[2016-11-01 21:57] HTPC-Schrauber commented on #2499
I closed the pull request because I did not try 'jake test' which gets errors.

Now I have the problem, the new RegExp works in some cases.
But in other cases this does not seem to work.

For example in file Foundation/CPDateFormatter.j changing
[code]
to
[code]
does not work.
After this change jake test gives errors.
I do not realy understand why and how I could change it otherwise.

[2016-11-02 09:40] daboe01 commented on #2499
may be you need to double-escape the backslashes when inside ""?

[2016-11-02 11:03] HTPC-Schrauber commented on #2499
Yes, I discussed this with a colleague today. He statet exactly that. I will try this out.

But he mentioned also, that the complete pattern maybe does not do, what is intended.
For example this Pattern matches GMT+12:34. But it would also match GMT+012:34 or GMT+0012:34.

[2016-11-02 19:40] didierkorthoudt commented on #2493
Before trying to use CPUserNotification, I was simply displaying a "normal" alert. Couldn't we fallback to this ?

[2016-11-02 20:48] HTPC-Schrauber commented on #2499
OK, new pull request. I fixed the reg ex so that it works with ne RegExp.

[2016-11-02 22:47] Dogild commented on #2493
It looks like it's available in Edge https://blogs.windows.com/msedgedev/2016/05/16/web-notifications-microsoft-edge/#7k5z3IpSFWSCqB7W.97

Can someone confirm that ? It's maybe a permission issue or compatibility.

[2016-11-12 14:17] daboe01 opened #2509 "CPComboBox menu does not scroll via scroll-bar"
Open the combo box menu in e.g. Manual/CPComboBoxTest and minimize your browser window (to blur it). Then activate it again and you will see that you cannot scroll the menu anymore with the scroll bar.
Scroll-weel still works though.

[2016-11-12 14:29] daboe01 opened #2510 "CPTextViews on sheets will not become firstresponder after platform window blur"
the textview on a popover works fine until the browser blurs (e.g. gets minimized). thereafter, the textview does not become first responder anymore (despite clicking on it like a madman).
you can see this e.g. in CPPopover manual test after replacing the text field with a textview (see screenshot).

![bildschirmfoto 2016-11-12 um 15 28 35](https://cloud.githubusercontent.com/assets/146335/2023846

[2016-11-12 14:30] daboe01 commented on #2510
this is probably because CPTextViews (contrary to the native CPTextFields) do not trigger native "focus" events.

[2016-11-12 18:49] daboe01 commented on #2510
as it turns out, i simply missed to implement needsPanelToBecomeKey returning yes :-) Stay tuned for the PR

[2016-11-12 19:39] daboe01 commented on #2509
does not seem to be related with blurring. The scroll-bar simply never works. Only drag-scrolling, scroll-wheel and/or keyboard-scolling work.

[2016-11-17 13:33] cvaught opened #2516 "CPMenu Submenu Placement Issue"
If a menu displays a submenu when the menu is already aligned against the far right of the application the submenu is displayed on top of the menu instead of to the left of it. This can be seen in the demo application linked below. Display the tableview demo and then change the browser window size such that the far right table view is near the edge of the browser window. Then right click on the fa

[2016-11-17 15:43] #2510 closed

[2016-11-21 18:56] daboe01 commented on #2509
-#new
+bug
+Theme
+AppKit

[2016-11-23 18:55] daboe01 commented on #2065
+TextView

[2016-12-07 14:36] rm-developer opened #2521 "Problems when Google Chrome update in December 2016"
Hello community. Currently there's a problem occurring in our website,  I will appreciate any help

The new Google Chrome update has caused our site begin to work  unproperly

The site sends the next error:

————————————————————————————————————————————————————————————————

Error:
Failed to clear temp storage: It was determined that certain files are unsafe for access within a Web application, or t

[2016-12-08 15:01] daboe01 commented on #2521
@rm-developer could you please post a reduction so we can investigate?

[2016-12-08 15:01] daboe01 commented on #2521
+#needs-reduction

[2016-12-09 09:59] mrcarlberg commented on #2521
Please give us more information on this like who is sending the errors? It is good if you do screen dumps as a picture says more then 1000 words. Also please provide more information about the appearing errors and warnings.

[2016-12-10 14:05] daboe01 commented on #2488
i am closing this because we have to wait for the upstream fix anyway.

[2016-12-10 14:05] #2488 closed

[2016-12-11 13:10] daboe01 opened #2522 "- (void)pasteAsPlainText:(id)sender is never called"
this method has been part of cocoa from the beginning.
on mac it is triggered by cmd+shift+alt.
a fix should probably go to CPPlatformPasteboard.j

[2016-12-12 12:16] #2509 closed

[2016-12-12 19:32] daboe01 commented on #2522
+TextView
+#needs-patch

[2016-12-12 19:33] daboe01 commented on #2521
+#needs-info

[2016-12-18 07:47] daboe01 opened #2523 "CPTextView does not support bindings"
+TextView

[2016-12-18 07:48] daboe01 commented on #2521
-#new
+#needs-reduction

[2016-12-18 10:19] daboe01 commented on #2523
+bindings
+#needs-patch

[2016-12-18 10:20] daboe01 commented on #2523
-#new
+TextView

[2016-12-18 10:21] daboe01 commented on #2522
+AppKit
+#needs-patch

[2016-12-18 10:22] daboe01 commented on #2522
-#new

[2016-12-18 10:24] daboe01 commented on #2521
@rm-developer did you resolve this issue in the meantime?

[2016-12-20 07:49] daboe01 commented on #2523
It shows me under the "Value" heading: "Attributed String", "Data", "Value Path" and "Value Url", under the "Availability" heading: "Editable" and "Hidden", and under the "Parameters" heading there is just "Tool Tip"

[2016-12-20 10:51] RobosoftDiegoDevelopers opened #2524 "Buttons and Textfields not displayed properly after Google Chrome updated to 55.0.2883.95 (64-bit)"
Hi,

I have created a sample app which has view with buttons and textfields. I am using cappuccino 0.9.1 version.  The control elements which I added are not displayed properly in chrome browser version 55.0.2883.95 (64-bit) but  properly displayed in previous version of google chrome as well as beta version 56.0.2924.28.

In first screen placeholder text is overlapped with entered text and in sec

[2016-12-20 12:17] mrcarlberg commented on #2524
Thanks for this information.

Are you sure you are using Cappuccino version 0.9.1? I think it was released some five years ago and is very old.

Also, you are saying that you have a problem in Chrome 55, but it works in pervious versions and in version 56 beta. To me that indicate that there is a problem in Chrome 55 that has been solved in Chrome 56. Have you checked if there is a bug reported ab

[2016-12-21 07:39] daboe01 commented on #2524
please check whether it is fixed by https://github.com/cappuccino/cappuccino/pull/2194

[2016-12-21 07:40] daboe01 commented on #2524
-#new
+#needs-info

[2016-12-23 06:41] RobosoftDiegoDevelopers commented on #2524
Hi @daboe01, I have applied the #2194 patch mentioned, but it didn't solve the issue. I have also opened an issue regarding it at: https://bugs.chromium.org/p/chromium/issues/detail?id=675941

[2016-12-23 08:55] daboe01 commented on #2524
@RobosoftDiegoDevelopers thank you! it looks like it its a chrome issue indeed. we can safely close this and wait for the upstream solution.
+#wont-fix
+Chrome

[2016-12-23 08:56] daboe01 commented on #2521
this is almost certainly not directly related to the cappuccino code.
+#works-for-me

[2016-12-23 09:03] #2524 closed

[2016-12-23 09:07] #2521 closed

[2017-01-03 14:58] daboe01 opened #2526 "CPSegmentedControl dividers in are sometimes odd"
![bildschirmfoto 2017-01-03 um 15 53 58](https://cloud.githubusercontent.com/assets/146335/21611517/73c59626-d1cd-11e6-94b5-93327430ebd4.PNG)

[2017-01-03 15:08] daboe01 commented on #2526
![bildschirmfoto 2017-01-03 um 16 08 22](https://cloud.githubusercontent.com/assets/146335/21611840/e7d4f006-d1ce-11e6-847d-e1e70e4ba201.PNG)

[2017-01-03 15:09] daboe01 commented on #2526
sometimes it is red, sometimes it is missing. really strange.
@cacaodev any clue?

[2017-01-04 20:55] cacaodev commented on #2526
I think it is related to the code there: https://github.com/cappuccino/cappuccino/blob/master/AppKit/CPSegmentedControl.j#L1002

[2017-01-05 11:14] daboe01 commented on #2526
@cacaodev i do not see any recent changes in that code area.

[2017-01-06 18:54] daboe01 commented on #2526
@cacaodev i bisected this down to 82ae908e6a019cd2ac2f6b3a8a52bf40838184f5

[2017-01-06 18:57] daboe01 commented on #2526
@cacaodev sorry, i accidentally thought that the red color is a bug. now i see that the red color is a feature :-)

[2017-01-06 20:52] #2526 closed

[2017-01-06 21:02] daboe01 commented on #2526
@cacaodev the depicted text sizing issue is fixed by #2508
![bildschirmfoto 2017-01-06 um 22 00 51](https://cloud.githubusercontent.com/assets/146335/21732848/dcfa5aec-d45b-11e6-9c5f-a172ef673b74.PNG)

[2017-01-07 07:31] cacaodev commented on #2526
@daboe01 thanks for the info.
What about the disappearing divider issue in your first comment of this PR ?

[2017-01-07 07:36] daboe01 commented on #2526
this is also related to textsizing.
i awkwardly mixed up the red dividers and the sizing issues in my thinking :-(

[2017-01-12 18:48] daboe01 commented on #2526
@cacaodev sorry, i made a mistake. i am not sure whether the disappearing divider issue is related to the textsizing. will check tomorrow in the office and report back.

[2017-01-13 07:32] daboe01 commented on #2526
@cacaodev this PR definitely fixes my disappearing divider issue :-)

![bildschirmfoto 2017-01-13 um 08 29 26](https://cloud.githubusercontent.com/assets/146335/21921756/c4200be8-d96a-11e6-9825-f09731635cc9.png)

[2017-01-16 11:24] #2523 closed

[2017-01-16 15:00] rm-developer opened #2528 "Problem with Zooming out in CPTabView"
Hi everyone.

Can you help me to solve this.

When I use the last version of Google Chrome in my website with a Zooming out, I get this problem:

http://g.recordit.co/mggDm04wdG.gif

The CPTabView get lost the background tile image or turn into transparency 0%.
![captura de pantalla 2017-01-16 a la s 8 58 11 a m](https://cloud.githubusercontent.com/assets/24421402/21987722/3dd4ba54-dbca-11e6-9e10-

[2017-01-16 17:14] Dogild commented on #2528
Are you talking about the Zoom feature of the browser ?

[2017-01-16 19:13] daboe01 commented on #2528
yes, i see this also in my projects.
very annoying when demoing a project to your boss on laptops with small screens.
![bildschirmfoto 2017-01-16 um 20 12 40](https://cloud.githubusercontent.com/assets/146335/21995990/4ea4b20e-dc28-11e6-9408-a8353cfec933.PNG)

[2017-01-16 19:48] rm-developer commented on #2528
@Dogild yes the native browser feature to zooming.

[2017-01-16 20:40] Dogild commented on #2528
I doubt this will be fixed in a near future! Zooming with the browser is something we don't support officially, and I don't imagine the issues we could get with canvas

[2017-01-16 21:56] rm-developer commented on #2528
@Dogild this is not a problem of "browser zooming", is a problem with layout adjusting and scaling of Capuccino.

[2017-01-17 07:23] daboe01 commented on #2528
@Dogild zooming should be compensated transparently by the browser. my apps work in zoomed state. only the theme-engine fails for obscure reasons. i strongly advocate for a CSS-based theme-engine.

[2017-01-21 07:06] daboe01 opened #2529 "CPTextField: display issues with retina displays on Chrome"
with retina displays, i see a light grey halo around textfields in retina mode (see figure left).
these disappear when starting chrome in low-res mode.

<img width="1101" alt="bildschirmfoto 2017-01-21 um 08 00 26" src="https://cloud.githubusercontent.com/assets/146335/22172774/61efd024-dfb0-11e6-960b-8b97a54394d0.png">

[2017-01-21 07:07] daboe01 commented on #2529
possibly related: #2528

[2017-01-21 07:34] daboe01 commented on #2529
here is my hotfix:
<img width="255" alt="bildschirmfoto 2017-01-21 um 08 33 40" src="https://cloud.githubusercontent.com/assets/146335/22172954/6e20d0d8-dfb4-11e6-8409-df46bc72aa8f.png">

[2017-01-21 07:39] daboe01 commented on #2529
+theme
+bug

[2017-01-21 07:39] daboe01 commented on #2529
-#new

[2017-01-21 16:42] daboe01 commented on #2528
+Theme

[2017-01-22 10:57] daboe01 commented on #2528
interestingly, in my apps, zooming seems to work nearly seamlessly in safari with retina display.

[2017-01-23 19:09] daboe01 commented on #2499
fixed by #2505
+#fixed

[2017-01-23 19:11] #2499 closed

[2017-01-25 12:04] daboe01 commented on #2493
@didierkorthoudt could you please check, whether it now works with a more recent edge browser?

[2017-01-31 10:08] daboe01 commented on #2529
+Chrome

[2017-01-31 10:08] daboe01 commented on #2529
looks like it has something to do with the focus ring

[2017-01-31 10:24] daboe01 commented on #2529
@Dogild any ideas?

[2017-02-01 17:40] enquora opened #2530 "didDragTableColumn delegate for CPTableView is inoperative"
Delegate functionality in CPTableView for [didDragTableColumn ](https://github.com/cappuccino/cappuccino/blob/master/AppKit/CPTableView.j#L5751)appears incomplete and doesn't seem to be working.

Designated receiver (when implemented) never receives message. Although the message send code is present, it is not obvious where it is ever invoked.

[2017-02-03 07:13] #2530 closed

[2017-02-04 15:05] daboe01 commented on #2529
closing this, because the issue is fixed in chrome 58.0.3002.0 canary (64-bit)

[2017-02-04 15:05] #2529 closed

[2017-02-12 16:02] daboe01 commented on #2471
i just tried your example and indeed, the capp implementation seems incorrect.
-#needs-info
+#accepted
+AppKit

[2017-02-19 08:09] daboe01 commented on #2528
hi theming experts,
the background texture image in aristo is only 1xp wide.
when scaling out, it may possible that some browsers scale the 1xp image down _before_ repeat-extending the image. this would result in an empty background.
could someone please try whether a 2px background fixes the issue?

[2017-02-25 10:28] didierkorthoudt commented on #2493
Oops ! It seems that I've forgotten to answer this...

Well, I've updated my Windows 10 and with the new Edge (Microsoft Edge 38.14393.0.0), everything is fine ! The notification is correctly handled !

:-)

This can be closed.

Thanks.

[2017-02-25 10:28] #2493 closed

[2017-03-16 20:31] cacaodev opened #2536 "In some controls, text wraps instead of staying on a single line."
This issue is related to a problem with text metrics.

See #2508

![capture d ecran 2017-03-06 a 12 30 00](https://cloud.githubusercontent.com/assets/26049/24017239/7980a894-0a8f-11e7-9a6b-fd7e9d232a44.png)

@daboe01 I'm afraid it's still there. Can you have a look please.

[2017-03-17 16:44] daboe01 commented on #2536
i do not see this with the current master.
<img width="1240" alt="bildschirmfoto 2017-03-17 um 17 43 51" src="https://cloud.githubusercontent.com/assets/146335/24053451/64324fe2-0b39-11e7-9fe4-14b3df61ad19.png">

[2017-03-17 16:45] daboe01 commented on #2536
@cacaodev could this be some kind of cache issue?

[2017-03-17 18:37] cacaodev commented on #2536
I rebuilt everything and force cleaned the caches. Now it's better but see by yourself:
![capture d ecran 2017-03-17 a 19 29 09](https://cloud.githubusercontent.com/assets/26049/24057724/9f5a03c6-0b48-11e7-8fa2-5b07cc4543a9.png)

Mac OS 10.11.6, Safari  10.0.3
Works fine in Chrome 58

[2017-03-17 19:08] daboe01 commented on #2536
i do not see this. i am on sierra.
<img width="1129" alt="bildschirmfoto 2017-03-17 um 20 07 13" src="https://cloud.githubusercontent.com/assets/146335/24058983/82fd9ba2-0b4d-11e7-93a2-db9eab50750c.png">

[2017-03-17 19:16] cacaodev commented on #2536
Well this is really weird. If someone reads this and is on ELCAPITAN, can he have a look ?

[2017-03-17 19:23] daboe01 commented on #2536
Do. you have a Retina display?

Von meinem iPhone gesendet

[2017-03-18 06:16] cacaodev commented on #2536
I don't.

[2017-03-18 06:51] daboe01 commented on #2536
just tried. works also no non-retina safari for me

[2017-03-18 07:36] daboe01 commented on #2536
just to be sure. can you please take a look at line 29946 of your AppKit.sj?
<img width="755" alt="bildschirmfoto 2017-03-18 um 08 34 46" src="https://cloud.githubusercontent.com/assets/146335/24070062/e6d1c172-0bb5-11e7-9d48-b6cc8aa18588.png">

[2017-03-18 11:46] cacaodev commented on #2536
Same as you, the compiled AppKit is OK. I also disabled all safari extensions.

[2017-03-18 14:45] daboe01 commented on #2536
this is strange: i do not see the issue on my old ELCAPITAN maschine.
![bildschirmfoto 2017-03-18 um 15 42 17](https://cloud.githubusercontent.com/assets/146335/24073094/f360fc28-0bf1-11e7-8f34-5a77b23c5cfb.png)

[2017-03-18 14:49] daboe01 commented on #2536
@cacaodev it looks to me like your font is too big. do you happen to have set a minimal font size in the safari settings?
<img width="736" alt="bildschirmfoto 2017-03-18 um 15 47 47" src="https://cloud.githubusercontent.com/assets/146335/24073115/6521d7f6-0bf2-11e7-8d59-c2d7002ccf3e.png">

[2017-03-18 14:53] cacaodev commented on #2536
You've got it ! I had this checkbox on with a minimum font of 14.

Thanks for your help and sorry for the disturbance. The good news is that there is no bug here.

[2017-03-22 06:36] #2536 closed

[2017-03-31 16:50] enquora opened #2537 "NSDateFormatter unable to parse dates in Javascript Date.toISOString format"
The output of a Javascript timestamp using toISOString is in the style of "2017-03-31T16:40:15.768Z".
The NSDateFormatter pattern to parse this is @"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'".
Attempts by CPDateFormatter to parse a date using this pattern return nil.

[code]

[2017-03-31 22:18] enquora commented on #2537
This isn't an immediate fix, but on first inspection [Moment.js](https://github.com/moment/moment/) is MIT licensed, appears to currently handle the [entire range of formatting tokens](http://www.unicode.org/reports/tr35/tr35-31/tr35-dates.html#Date_Format_Patterns) and is actively developed.

Does it make sense to pursue our own implementation of the parser and formatter rather than simply wrappi

[2017-04-03 07:07] mrcarlberg commented on #2537
I think it is ok to use an external library to implement this. But we has to make sure that:
1. The external library does not depend on a lot of other libraries.
2. We have compatibility with the NSDateFormatter class.
3. We should benefit from using an external library as it is also work to maintain it.

Moment.js does not depend on any other libraries so that is ok. I don't know anything about M

[2017-04-03 15:24] enquora commented on #2537
We have an immediate need for correct handling of the most common format for ISO 8601 dates, so patching the parser as-is is most expedient.

In the long term, note the[ full list of format tokens](http://www.unicode.org/reports/tr35/tr35-31/tr35-dates.html#Date_Format_Patterns) needing support. We don't support the full set, afaik. I will  be looking at the feasibility of wrapping Moment.js once

[2017-04-04 12:19] daboe01 commented on #2537
i would suggest to use CPScanner to fix this

[2017-04-04 22:02] enquora commented on #2537
CPScanner is an approach I hadn't considered. CPScanner was implemented several years prior to CPDateFormatter — interesting it wasn't used in the initial implementation.

I don't know enough about the rules for token sets yet - whether tokens have multiple position-dependent relationships for validity (they obviously do, but I don't know how NSDateFormatter handles nonsense patterns).

I have wor

[2017-04-05 04:15] daboe01 commented on #2537
i vote for lenient parsing
http://www.unicode.org/reports/tr35/tr35-31/tr35.html#Lenient_Parsing

[2017-04-11 15:01] cacaodev commented on #2349
The Gravity Areas feature is now implemented.
 https://cacaodev.github.io/Autolayout/CPStackViewTest/

[2017-04-12 06:28] mrcarlberg commented on #2349
Cool!

[2017-05-04 17:52] aksuska opened #2539 "XcodeCapp Does not report "Using unknown class or uninitialized global variable" Errors"
When linting an Ojective-J file, using the command line I get something like :
--------
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version = "1.0"><array><dict><key>line</key><integer>104</integer><key>sourcePath</key><string>/Users/aksuska/Dropbox/Repositories/CERTS/LMSReportCourseViewControll

[2017-05-05 06:48] mrcarlberg commented on #2539
Can you please provide a simple project where this can be reproduced?

[2017-05-05 14:58] aksuska commented on #2539
I have attached a fresh, vanilla project that has an undeclared global in AppController.j that XcodeCapp does not repot a warning for. I don't know how many of these it takes to cause the hang issue, but if the original reporting issue is fixed than the latter may not happen or will be sufficiently preventable.

[xcodecapp-test.zip](https://github.com/cappuccino/cappuccino/files/979443/xcodecapp-t

[2017-05-06 20:38] aksuska opened #2545 "Key Window Won't Order Front on Click"
If a window is key but another window is ordered front, clicking on the key window will *not* bring it to front, but it should. Steps to reproduce: in a project wth two windows (not a platform window), open the first window using -makeKeyAndOrderFront: and then call orderFront: on the second. The first window title bar will still show as "active" and clicking on the window will not bring it to fro

[2017-06-10 12:43] jasperdeb opened #2549 "Issue Drag row in CPTableView"
Hi,

I have experienced something I assume is a bug in the framework. When I create a CPTableView, and implement the drag and drop delegates, there is some strange behaviour.

When I drag one of the lines which is initially visible to the drop locations, I visually see the dragged table row moving along with my mouse.
If I select a row somewhat lower (and only visible when scrolled down), the drag

[2017-06-12 06:32] cacaodev commented on #2549
Confirmed in Safari 10.1 and Chrome 60 with a view-based table view.
The dragged rows are invisible only if the source row was not initially visible.

[2017-07-21 13:41] aksuska opened #2552 "nib2cib Does Not Recognize CPTextView Bindings"
When bindings(at least value and attributed string bindings) are specified in Xcode/xib, they are not propagated to the cib.

[2017-07-21 20:20] daboe01 commented on #2552
+accepted
+TextView
+#needs-patch

[2017-07-21 20:29] daboe01 commented on #2552
looks like it should work after:
https://github.com/cappuccino/cappuccino/pull/2525
take a look at manual test ContinuouslyUpdatesValueBinding that uses a cib binding to a CPTextView

can you please provide your cib?

[2017-07-22 19:38] aksuska commented on #2552
I will prepare and post a reduction project.

Best regards,

Keary Suska
Esoteritech, Inc.
(719) 445-9952

[2017-07-25 19:12] daboe01 opened #2553 "Traditional scrollers do not match Aristo 2 artwork [+1]"
they seem to simply have been copied over from Aristo 1.
The rounded 3d caps and bold gradients look a bit odd nowadays.

[2017-07-25 19:15] daboe01 commented on #2553
+Theme

[2017-07-26 11:22] daboe01 commented on #2553
this is how it looks like at the moment:
![bildschirmfoto 2017-07-26 um 13 21 14](https://user-images.githubusercontent.com/146335/28618635-6785d00a-7205-11e7-962b-16cddb7636cb.png)

[2017-07-26 11:22] daboe01 commented on #2553
this is how it should look IMHO:
![bildschirmfoto 2017-07-26 um 13 22 16](https://user-images.githubusercontent.com/146335/28618670-835effa4-7205-11e7-9b33-c4c31769bae3.png)

[2017-07-26 14:56] daboe01 commented on #2553
this is how it should look:
![bildschirmfoto 2017-07-26 um 16 54 53](https://user-images.githubusercontent.com/146335/28627899-5dde5982-7223-11e7-9d1e-2e1d4816db08.png)

[2017-07-26 14:59] daboe01 commented on #2552
-#new
+TextView
+Bindings
+#needs-reduction

[2017-07-26 15:01] daboe01 commented on #2537
-#new
+Foundation
+#needs-patch

[2017-07-26 15:02] daboe01 commented on #2553
-#new

[2017-08-16 06:50] mrcarlberg commented on #2552
@aksuska Is it correct that you got this working? If so please close this issue

[2017-08-16 07:05] mrcarlberg commented on #2537
@enquora Please take the time to do a correct and maintainable implementation. It should be really nice to have this working properly.

[2017-08-16 13:48] #2552 closed

[2017-08-20 23:05] andresclari opened #2555 "Can't build on 10.12 lld-4.0 error"
Tried building, both Debug and Release, and just typing jake, I get this build error.

[code]

[2017-08-22 06:36] mrcarlberg commented on #2555
@andresclari I can build with 10.12.6 so I guess you have something different installed or missing. Please provide us with more info on exact versions on. OS and Xcode etc.

This is how it looks for me on the font info build part (Xcode 8.3.3 and latest Cappuccino master):

[code]

[2017-08-22 15:42] andresclari commented on #2555
I have OS X 10.12.6 and Xcode 8.3.3, homebrew installed, and all the command line tools activated.
And I can build apps with Xcode no problem, and compile on the terminal too.

But my system didn't have the "lld-4.0" linker, I tried installing llvm from homebrew and just add a link to the lld-4.0 in homebrew's path, but that one isn't compatible.

For what I see, not even Xcode has internally lld-

[2017-08-22 21:50] andresclari commented on #2555
My bad, old .zshrc had an override for LD env variable from Linux...
It's all good now.

[2017-08-22 21:50] #2555 closed

[2017-08-30 06:35] #2549 closed

[2017-09-08 04:11] andresclari opened #2560 "CPSearchField does not support the predicate binding"
Tried to bind a CPSearchField to an ArrayController predicate, and got the following error:

Same binding in native cocoa succeeds.

As a workaround, I'm delegating the CPSearchField and catching the "controlTextDidChange" message, where I can successfully tell the ArrayController to set the filter predicate, to the same value I was trying on IB.

[2017-10-02 08:12] daboe01 opened #2564 "Trackpad-scrolling user experience is sometimes poor in Chrome on Retina-Displays [+1]"
i see faltering of scrolling when scrolling over complex content with momentum in retina mode.
chrome drops calls that have been scheduled by setTimeout or requestAnimationFrame at will under high system load.

see discussion here: https://github.com/cappuccino/cappuccino/pull/2477 and there: https://github.com/cappuccino/cappuccino/issues/2468

[2017-10-02 08:14] daboe01 commented on #1950
@mrcarlberg can we close this one now?

[2017-10-02 08:33] mrcarlberg commented on #1950
Good catch! We can close this as all browsers do support the new syntax and the Cappuccino framework is also using it.

[2017-10-02 08:33] #1950 closed

[2017-10-02 11:41] daboe01 commented on #1950
+#wont-fix

[2017-10-02 11:42] daboe01 commented on #2564
-#new
+Chrome
+AppKit

[2017-10-02 11:50] daboe01 commented on #1948
+#wont-fix

[2017-10-03 08:28] #1948 closed

[2017-10-05 17:22] daboe01 commented on #519
IMHO this is a feature, not a bug
+#wont-fix

[2017-10-05 17:39] #519 closed

[2017-10-12 14:02] aksuska commented on #2417
What is needed to handle this? I get this issue with almost every xib I use with a custom view. It is trivially reproducible. I would attach a xib but GitHub doesn't allow it.

[2017-10-17 20:35] aksuska opened #2565 "Order Front on Window Does not Order Sheet"
If you have a window with an attached sheet, and you order the window to the front using -orderFront: or -makeKeyAndOrderFront:, the sheet will be ordered behind the window but the window will stay in document modal mode hence locking up the UI.

[2017-10-28 10:29] jasperdeb opened #2566 "Key navigation in CPTableView/CPOutlineView"
For key navigation with the return key or the down arrow key in a CPTableView, I use the code below.

[code]

This works fine for a CPTableView, but the method "_moveSelectionWithEvent: upward:" does not seem to werk when applied to a CPOutlineView. This seems strange behavior since CPOutlineview inherits this method from CPTableView.

Is this intentional behavior or a bug?

[2017-10-29 18:24] daboe01 commented on #2564
seems to be fixed in chrome 62

[2017-10-29 20:12] daboe01 commented on #2564
sorry, still seeing this when trying to scroll through a large document (scrollview inside a sheet)

[2017-10-29 20:17] daboe01 commented on #2564
things seem to get worse in canary 64.0.3253.0
:-(

[2017-10-31 06:29] cacaodev commented on #2566
The underscore in the method name suggests it is a private method. Is there a public equivalent ?

[2017-11-06 15:08] aksuska opened #2567 "Window with attached sheet is not moveable or resizable [+2]"
Trivially reproducible--manual sheet test shows this behavior.

[2017-11-09 00:35] aksuska opened #2568 "boostrap.sh fails if an old automake is found"
bootstrap.sh fails on esc compilation if an automaker is found in the PATH, but too old a version. Instead, it should behave as if automake is not found and compile alternatively.

[2017-11-22 18:49] aksuska opened #2569 "Objective-J Does Not Initialize Instance Variables"
Not sure if this is a compiler or runtime issue, but I noticed that instance variables are not initialized to a default value. For many expecting Objective-J to behave like Objective-C (which is the goal, after all) may get hit by difficult to test for bugs such as _instanceVar == NO. If _instanceVar is never assigned to, this expression is false, even though it is also true that: _instanceVar !=

[2017-11-22 20:45] mrcarlberg commented on #2569
All instance variables are set to null. I just tested this in our project.

Please show some code or example when this is not the case.

[2017-11-22 21:54] aksuska commented on #2569
Hmm, I thought it was coming up as undefined, but I must have that wrong. Even then the issue remains as null != NO, so I would modify this to that BOOL ivars should be set to NO, and numbers to 0 (zero). This is how the objective-C runtime works, and if parity is desired, would be preferable for Objj.

[2017-11-23 08:23] mrcarlberg commented on #2569
They question is if Objective-C really sets a boolean instance variable to ```false``` or ```nil```?

Objective-C is a superset of C. Objective-J is a superset of Javascript. In C ```NULL == false```. In Javascript ```null != false```. This means that we could equally say that Objective-C sets a boolean instance variable to ```nil``` which is the same as ```false``` in Objective-C but not in Objec

[2017-11-23 18:29] aksuska commented on #2569
I understand that Objective-C sets every instance variable to 0 (zero), which is nil for a pointer (object), and since BOOLs are actually numeric, false as 0 == NO. I get that JS doesn't have scalar types of any kind, which is why null is the best choice.

I can't speak to difficulty, since I don't know how it is done, but still couldn't you just do:
     if(typeof ivar == "number" || toString.cal

[2017-11-23 18:56] mrcarlberg commented on #2569
The problem is not that Javascript does not have scalar types in the same manner as C. It is that any variable can store any value of any type.

```typeof```will not work as Javascript does not have any types on variables, so at first ```typeof ivar``` will evaluate to ```"undefined"```. After you set it to ```NO```, ```typeof ivar``` will evaluate to ```"boolean"```.
You can even set it to ```"Fo

[2017-11-29 13:12] Liastre opened #2570 "Error - Could not load file at file: blendtask.j"
Hello, I'm building project that uses Cappuccino under Ubuntu Windows environment. Cappuccino was built fine, `jake` and `capp` commands seems works fine. I got an error while building JS:

[code]

And I really can't figure this out what really could cause the issue, the only thing I found so far is [here](https://github.com/cappuccino/cappuccino/issues/2398) which seems weak related. Thanks in ad

[2017-11-29 13:52] mrcarlberg commented on #2570
Are you doing ```jake debug``` from your project directory?

[2017-11-29 14:20] Liastre commented on #2570
Yep, same issue:
[code]

[2017-11-29 14:26] mrcarlberg commented on #2570
Does the file ```blendtask.j``` exist at the path?

[2017-11-29 14:30] Liastre commented on #2570
Yeah sure, it's on place. I guess it's hard to say something without a minimal example, though~

[2017-11-29 15:46] Liastre commented on #2570
I installed jake globally and it's become possible to build js part only, but in case I'm building whole project via `npm run build` I got: `jake aborted. Error: Cannot find module 'system'`. Installing system globally take no effect... I'm so confused

[2017-11-30 10:55] Liastre commented on #2570
Okay, I tried to reinstall cappuccino few times, I've tried 0.9.10, 0.9.8 and 0.9.9 versions, with no effect, then I removed it and made build from sources according to http://www.cappuccino-project.org/learn/build-source.html, now it works fine and I'm able to build main project.

[2017-11-30 11:20] mrcarlberg commented on #2570
Ok, good that it works for you. Strange that you could not install the prebuilt version. Do you have any clues why this is the case?

[2017-11-30 11:53] Liastre commented on #2570
Not really, since I've built latest version there might be a problem that was fixed already. I will try to reproduce building from 0.9.10 revision.

[2018-01-04 22:30] daboe01 commented on #2567
+1

[2018-01-04 22:30] daboe01 commented on #2564
+1

[2018-01-04 22:31] daboe01 commented on #2553
+1

[2018-01-04 22:33] daboe01 commented on #2299
+1

[2018-01-04 22:33] daboe01 commented on #2177
+1

[2018-01-04 22:36] daboe01 commented on #1853
+1

[2018-01-04 22:36] daboe01 commented on #1751
+1

[2018-01-04 22:37] daboe01 commented on #1730
+1

[2018-01-04 22:39] daboe01 commented on #101
+1

[2018-01-05 09:42] mrcarlberg commented on #2299
@Dogild I did a quick test on this and it looks like this is working now. Can you please verify.

[2018-01-05 09:57] mrcarlberg commented on #2570
@Liastre Is it ok for us to close this issue?

[2018-01-05 10:02] mrcarlberg commented on #2569
I will close this as there are no ways (as stated above) we can figure out if an variable is a boolean or something else. Please reopen this if someone has an idea how to do this.

[2018-01-05 10:02] #2569 closed

[2018-01-05 15:04] didierkorthoudt opened #2573 "[1.0] Updates & new controllers in order to cope with storyboards"
Key elements for storyboard management are controllers.

We need to update / upgrade CPViewController & CPWindowController, and add CPPageController, CPSplitViewController and CPTabViewController...

I can go on these...

[2018-01-05 15:48] didierkorthoudt commented on #2567
+1

[2018-01-05 17:18] didierkorthoudt commented on #2352
+1

[2018-01-05 17:20] didierkorthoudt commented on #2349
+1

[2018-01-05 17:21] didierkorthoudt commented on #2121
+1

[2018-01-05 17:22] didierkorthoudt commented on #2065
+1

[2018-01-06 16:44] aksuska opened #2574 "CPTextView Edits Any Time Window Resigns Key/Main"
I have a CPTextView with binding and even though it is non enterable and hasn't been touched in any way it acts as if it has been edited (i.e. updates bound value & send delegate notifications) any time the window containing it resigns key and/or main (haven't tested each condition, know that it has to be one or the other). Trivially reproducible.

[2018-01-07 10:55] daboe01 commented on #2567
[1.0]

[2018-01-07 11:02] daboe01 commented on #1751
[1.0]

[2018-01-07 16:42] daboe01 commented on #2574
-#new
+#accepted
+TextView

[2018-01-07 16:42] daboe01 commented on #2574
+#needs-patch

[2018-01-07 16:43] daboe01 commented on #2573
#2352

[2018-01-07 16:45] daboe01 commented on #2570
+#works-for-me

[2018-01-07 16:51] daboe01 commented on #2567
-#new
+AppKit
+#needs-patch
+#accepted

[2018-01-07 17:03] #2570 closed

[2018-01-07 17:04] daboe01 commented on #2573
+#duplicate

[2018-01-07 17:06] daboe01 commented on #2352
milestone=1.0

[2018-01-07 17:12] #2573 closed

[2018-01-07 19:44] daboe01 commented on #2483
-#new

[2018-01-07 19:44] daboe01 commented on #2483
+AppKit
+#needs-patch

[2018-01-07 20:01] daboe01 commented on #2566
do not rely on undocumented behaviour of private methods.

+#wont-fix

[2018-01-07 20:03] daboe01 commented on #2564
am i really the only one seeing this?
happens on fast retina macpro with touchbar
+#needs-confirmation

[2018-01-07 20:04] daboe01 commented on #2539
-#new
+Tools

[2018-01-07 20:05] daboe01 commented on #2565
-#new
+#accepted
+AppKit

[2018-01-07 20:05] daboe01 commented on #2565
this is most likely related to #2567

[2018-01-07 20:07] daboe01 commented on #2560
+#accepted
-#new
+feature
+bindings
+#needs-patch
+AppKit

[2018-01-07 20:07] daboe01 commented on #2574
+bindings

[2018-01-07 20:15] #2566 closed

[2018-01-07 20:16] daboe01 commented on #2545
i saw this when the control did not return YES for needsPanelToBecomeKey
do you have a reduction?

[2018-01-07 20:16] daboe01 commented on #2545
-#new
+#needs-info
+AppKit

[2018-01-07 20:17] daboe01 commented on #2567
milestone=1.0

[2018-01-07 20:24] daboe01 commented on #2121
milestone=1.0

[2018-01-08 20:18] daboe01 commented on #2121
hi gents, here are my 2 cents on theming:

i would prefer a flat theme based on bootstrap, preferable by styling the _DOMObjects via CSS directly. see https://getbootstrap.com/docs/4.0/components/buttons/ on how it would look like.

cappuccino would become faster because all modern browsers are optimized for rendering CSS styles (contrary to replicating background images).
this approach would reso

[2018-01-08 20:22] daboe01 opened #2575 "Remove Java dependency"
Martin Carlberg @mrcarlberg 09:57
Press and Flatten works now only with the Rhino javascript engine. We need to get them to work on Node.js. @FrankReh has fixed one of them but the other needs some work.
We use Shrinkwrap to minify the Javascript code. It is old and uses Java. We need to use something more modern.
We will be 100% pure Javascript if we fix these two issues. It will also allow us to

[2018-01-08 20:22] daboe01 commented on #2575
milestone=1.0

[2018-01-08 20:22] daboe01 commented on #2575
+1

[2018-01-08 20:23] daboe01 commented on #2575
+Tools
+#needs-patch

[2018-01-08 20:34] didierkorthoudt commented on #2121
@daboe01 Are you sure you want to rely on an external framework ?

CSS theming could be an option (for sure when dealing with a flat UI) but why not built it strictly for us ?

Now, I wonder how to get this working while keeping consistent with current theme system...

I'm right now working on such a flat theme but pixel-identical to Aristo 2 in order to avoid compatibility problems. I'll have a l

[2018-01-09 07:20] daboe01 commented on #2121
@didierkorthoudt i agree that we should build our own CSS theme.
i was making the point for switching to CSS from repeated background images.
there was some promising stuff out there from cris bruno: https://groups.google.com/forum/?fromgroups#!msg/objectivej/QTEy3DY2EhQ/csAC1n8p1eQJ;context-place=searchin/objectivej/theme$20css$20bitbucket%7Csort:date
unfortunately, this seems to be gone now.

[2018-01-09 10:28] daboe01 commented on #2121
CSS theming would also solve the retina issue

[2018-01-09 10:33] didierkorthoudt commented on #2121
I’ve checked tonight and I think I’ve found something useful... (and remain compatible).

I hope I’ll have time tonight to try it...

[2018-01-12 13:07] daboe01 commented on #2575
-#new
milestone=1.0

[2018-01-12 13:08] daboe01 commented on #2574
milestone=1.0

[2018-01-14 20:20] daboe01 opened #2578 "CPTextField should be based on a NSTextView field editor (not on native input element)"
this would enable fixing copy-paste related issues (#1964) and the partially off-sceen FR issue (#1922, PR #1679).
Would also enhance consistency (same selection color, cursor blinking rate)

[2018-01-15 16:18] aksuska opened #2580 "CPTextView Does Not "Swallow" Return Key"
When editing in a CPTextView, if you hit the enter/return key but you have a push button with the same key equivalent, the text view allows the keystroke to bubble up and triggers the push button. It should, as Cocoa does, "swallow" the keystroke so no other responder can act on it.

[2018-01-15 19:14] aksuska commented on #2545
I have attached a reduction as a jaked project but without frameworks. When loaded, Window 1 will be made key and front. Click the button in the window to order Window 2 to front. It won't be key or main, of course, but if you click on Window 1 to bring to front you will see that it won't. You have to click on Window 2 to make it key/main or switch to a different application and back to the browse

[2018-01-15 23:21] aksuska opened #2581 "CPWindow Does Not Implement Title Pattern Binding"
CPWindow returns the base class for the binding (CPTitleWithPatternBinding), but neither the base class nor a private subclass actually implements the necessary methods to execute the binding, i.e. -setValue:forBinding: and -setPlaceholderValue:withMarker:forBinding:. I will be issuing a pull request for this issue.

[2018-01-16 19:32] aksuska commented on #2581
Sorry, this apparently has already been fixed.

[2018-01-16 19:32] #2581 closed

[2018-01-20 16:11] daboe01 commented on #2580
I suspect that this is related to #1964

[2018-01-20 16:13] daboe01 commented on #2578
-#new
+#needs-review
+AppKit

[2018-01-20 18:42] daboe01 commented on #2580
The default button key equivalent is deliberately triggered after the event has been put into the responder chain (CPWindow.j).

[2018-01-20 18:45] daboe01 commented on #2580
-#new
+#accepted
+AppKit

[2018-01-23 18:58] rrs77 opened #2583 "iMameAtariarcade"
Just posted a query on the imame software- can you please help.

How do I install it - don't I need an ipad file?

[2018-01-23 22:01] mrcarlberg commented on #2583
You must have posted this on the wrong repository. I'll close this.

[2018-01-23 22:01] #2583 closed

[2018-01-24 10:17] rrs77 commented on #2583
Ok - do you know where I can get help with this?

Thanks

Rob Reich-Storer

On 23 January 2018 at 22:01, Martin Carlberg <notifications@github.com>
wrote:

[2018-01-24 10:24] mrcarlberg commented on #2583
Sorry, but I don't know much about MAME. Please try some iMAME forum.

[2018-02-23 02:16] bedalton opened #2586 "Missing methods called"
I'm not an experienced programmer, and I don't really know much about GitHub, but I'm working on a plugin for Intellij, and I've noticed some missing methods

/AppKit/CoreAnimation/CAAnimation.j: Line 131 `[anObject addAnimation:self forKey:aKey];` cannot resolve reference to `[anObject addAnimation:forKey:]`

/AppKit/CoreAnimation/CALayer.j: Line 525: `return [_delegate displayInLayer:self];` clo

[2018-02-23 13:34] daboe01 commented on #2586
@bedalton can you please elaborate on the context? do you get the errors when building cappuccino? or do they happen at runtime in the browser?

[2018-02-23 16:46] bedalton commented on #2586
I have not had any errors, because I have never really programmed much in Objective-J. I wanted to use an IDE to code Objective-J with, so I decided to write a plugin for Intellij Idea. When viewing the code with the plugin I'm writing, it found these potential problems. I'm not sure if they would cause problems, but for the plugin I wasn't sure if these missing methods are resolved somewhere else

[2018-02-24 10:27] daboe01 commented on #2586
@bedalton i do not think that you found real issues. keep in mind that objective J is based on runtime messaging with late binding (aka duck typing). you can never know at compile time whether any object actually can handle any method call.

[2018-02-24 12:01] daboe01 commented on #2586
@bedalton you are more than welcome to fix style issues (i.e. missing semicolons). please take a look at this document: https://github.com/cappuccino/cappuccino/wiki/Contributing-Code

[2018-02-24 12:03] daboe01 commented on #2586
@bedalton as for /Foundation/CPPredicate/_CPFunctionExpression.j: Line 223: you are correct. please go ahead and make a pull request that corrects this.

[2018-02-24 12:15] daboe01 commented on #2586
@bedalton with _removeAllLines and numberWithInteger: you are correct. i will fix this asap. many thanks!

[2018-02-28 01:49] bedalton commented on #2586
I have been trying to fix the _CPFunctionExpression code, but after cloning the repository, I cannot get the tests to complete successfully, even on new clones from the master. I'm not too familiar with git or any of this, but when I run the test I get the error:

[code]

I can't find objjErrorTestFile.j anywhere on my computer nor in the git repository. Is it something I'm supposed to build prior

[2018-02-28 02:03] bedalton commented on #2586
After trying to read through the test and the response, it seems like the actual output is missing the `\n` after `CPObject{}@end` making the error caret marker show up on the same line, not the next one. I could be wrong though, but that's what it seemed like was happening.

[2018-02-28 20:04] daboe01 commented on #2586
@bedalton did you install cappuccino properly via bootstrap.sh before running the tests?

[2018-02-28 20:07] daboe01 commented on #2586
@bedalton thank you very much for finding these issues!

[2018-02-28 20:15] daboe01 commented on #2586
@bedalton we cannot properly deal with this ticket because some issues are fixed already and others need discussion. please close this ticket and reopen new tickets, one per issue. thank you!

[2018-02-28 20:18] daboe01 commented on #1548
IMHO we should re-open this. cappuccino will become insignificant in the future unless we improve the performance on mobile.
any coredev listening?

[2018-02-28 23:59] #2586 closed

[2018-03-01 00:01] bedalton opened #2592 "Test Fails on fresh clone of repository"
After cloning the repository, I cannot get the tests to complete successfully, even on new clones from the master. When I run the test I get the error:

[code]

It appears that the actual output is missing the newline character expected directly after the `@end` and before the line with the `^` sign.

[2018-03-04 11:06] daboe01 commented on #2592
i do not see these errors when i run jake test on my maschine.
was cappuccino properly installed on your machine before you ran jake test?

[2018-03-05 09:30] mrcarlberg commented on #1548
I agree with this. We need to address this.

[2018-03-05 10:07] #2553 closed

[2018-03-10 14:29] daboe01 commented on #2120
+#wont-fix

[2018-03-10 15:45] daboe01 commented on #2580
related: #1953

[2018-03-11 10:28] daboe01 opened #2599 "menus dot not close upon <esc> key"
they do so on macos.
related: #1953

[2018-03-14 21:30] daboe01 commented on #2599
warks as expected. err on my side. sorry for the inconvenience.

[2018-03-14 21:30] #2599 closed

[2018-03-14 21:57] daboe01 commented on #2382
https://stackoverflow.com/questions/11887934/how-to-check-if-the-dst-daylight-saving-time-is-in-effect-and-if-it-is-whats

[2018-03-17 20:39] bedalton opened #2601 "NSColor Method variable redeclared in case statement."
I was trying to resolve some variables in a plugin I'm working on, and noticed that `result` variable which is declared at the start of the method [NSColor NS_initWithCoder:] is redeclared on line 96 within the case block:
[code]
`result` is returned only at the end of the method, outside the `case 6: //named color` scope.

I'm not sure if this causes any problems, and I'm not too sure how I would

[2018-03-18 16:26] daboe01 commented on #2545
thank you.
i am seeing this also.
interestingly, the issue goes away as soon as the platform re-becomes key window.
-#needs-info
+#acknowledged
+#needs-patch

[2018-03-18 20:52] cacaodev commented on #2601
Hi @bedalton,
Thanks for pointing this out. You are right, this redeclaration seems unwanted.
The easiest way to get this fixed quickly is to open a pull request.

[2018-03-18 21:43] daboe01 commented on #2574
-#needs-patch

[2018-03-18 22:55] bedalton commented on #2601
The plugin I made now analyses redeclared variables, and I've found quite a few in the framework, should I make a pull request where I change all of them? Or just one at a time, or just bring each one to attention first?

[2018-03-18 23:00] bedalton commented on #2601
Are redeclared variables ever desirable?

[2018-03-19 06:18] daboe01 commented on #2601
hi @bedalton, please do it one at a time.

[2018-03-19 20:17] daboe01 commented on #2565
@aksuska could you please make a reduction?
many thanks and best wishes,
daniel

[2018-03-19 20:19] daboe01 commented on #2516
@didierkorthoudt this will be fixed in aristo3, won't it?

[2018-03-19 21:26] didierkorthoudt commented on #2516
@daboe I’ll check for this

[2018-03-19 21:27] didierkorthoudt commented on #2516
Sorry, @daboe01 : I’ll check for this

[2018-03-19 22:42] aksuska commented on #2565
I though I had but here it is. Note that it is a full project without frameworks, so all you need to do is link in frameworks and load.
[Source.zip](https://github.com/cappuccino/cappuccino/files/1827216/Source.zip)

[2018-03-20 19:24] bedalton commented on #2601
Oh okay, I didn't know that. Should I still go through the other similar cases, or not?

[2018-03-20 19:30] mrcarlberg commented on #2601
I think it is good to change this if you want to spend the time on it. It is confusing when variables are redeclared. So, yes, please do it.

[2018-03-20 20:09] bedalton opened #2605 "CALayer delegate method mismatch"
I brought this up in another issue, but was told to break up the issue, but there is a mismatch between the delegate in CALayer, and the actual method called. In CALayer, the delegate method `@delegate  -(void)displayLayer:(CALayer)layer` is declared in the class comment on at https://github.com/cappuccino/cappuccino/blob/69370aa806930cae27a13b1f495ad84282dd6b07/AppKit/CoreAnimation/CALayer.j#L63

[2018-03-21 20:12] daboe01 commented on #2565
@aksuska this reduction does not have any sheet in it. can you please check?

[2018-03-23 14:14] aksuska commented on #2565
Sorry, wrong reduction. I have attached a correct reduction. In creating the reduction I came across a different bug, that might help clarify this one. That is, the sheet *must* be a regular window/panel for this bug to trigger. If it is an alert sheet, the sheet will instead always stay in front regardless. This also might be related to #2567
[Reduction.zip](https://github.com/cappuccino/cappucci

[2018-03-23 22:36] daboe01 commented on #2565
@aksuska can you please check whether PR #2606 fixes your issue?

[2018-03-23 22:37] daboe01 commented on #2567
@aksuska can you please check whether #2603 fixes your issue?

[2018-03-24 22:39] daboe01 commented on #1548
-#wont-fix

[2018-03-26 12:16] daboe01 commented on #101
@aparajita as it turns out, min-width/min-height are not necessary to fix this.

[2018-03-26 20:32] daboe01 commented on #2364
@mrcarlberg can we close this one?

[2018-03-26 20:32] daboe01 commented on #2299
@mrcarlberg can we close this one?

[2018-03-26 20:34] daboe01 commented on #2220
@mrcarlberg is this still an issue?

[2018-03-26 20:35] daboe01 commented on #2120
can we close this one in the advent of Aristo3?

[2018-03-26 20:39] daboe01 commented on #1800
+#wont-fix

[2018-03-26 20:42] daboe01 commented on #1462
+#wont-fix

[2018-03-27 07:30] daboe01 commented on #1843
please be more clear about what issues arise from this.
please post a reduction.
+#needs-reduction

[2018-03-27 07:34] daboe01 commented on #1548
milestone=1.0

[2018-03-27 07:35] daboe01 commented on #1548
https://groups.google.com/forum/#!topic/objectivej/qsLpU4En5uk

[2018-03-28 07:58] daboe01 opened #2611 "CPPasteboard does not fully support the native pasteboard"
the APIs have improved since the early days of cappuccino.
the exec or the (upcoming) async API allow for placing data of the pasteboard at any time without the help of flash.
these APIs should be leveraged by CPPasteboard
see also discussion in #1964

[2018-04-01 18:29] daboe01 commented on #2605
@cacaodev can you please close?

[2018-04-01 18:31] daboe01 commented on #2568
@mrcarlberg will automake be used in 1.0 (node.js based)?

[2018-04-01 18:32] daboe01 commented on #2564
i suspect that it is due to the background gradients in large sheets. let us hope this goes away with Aristo3.

[2018-04-01 18:33] cacaodev commented on #2605
Fixed with PR #2610. Thank you @bedalton for reporting this.

[2018-04-01 18:33] #2605 closed

[2018-04-04 20:49] bedalton opened #2625 "CPBrowser.j redeclares variable CPBrowserDelegate_browser_imageValueForItem_"
In AppKit/CPBrowser.j the file scoped variable `CPBrowserDelegate_browser_imageValueForItem_`  is declared twice in the same block. First at line 65 and then line 67 with the values `1 << 7` and `1 << 9` respectively. Later on in the code when this variable is referenced, it shows up in two if statements one starting on line 214:
https://github.com/cappuccino/cappuccino/blob/f6d892023e6042682ce7b6

[2018-04-08 18:46] bedalton opened #2673 "nib2cib\Converter.j Possible invalid escape character"
In nib2cib\Converter.j there is a replace function that seems to be referencing a java method for rhino on line 166:
https://github.com/cappuccino/cappuccino/blob/77eb6b358f38f24b60bce77bdffdc492aa412ffb/Tools/nib2cib/Converter.j#L166
the potential problem comes from the first parameter of the replaceAll method call. In `"\\<key\\>\\s*CF\\$UID\\s*\\<\/key\\>"` it contains the escape `\/` in `<\/ke

[2018-04-08 19:51] bedalton opened #2674 "CPTabView missing setter: _setPlaceholderView"
On line 706, a method is called on an variable `_source` with the selector `_setPlaceholderView`.
https://github.com/cappuccino/cappuccino/blob/77eb6b358f38f24b60bce77bdffdc492aa412ffb/AppKit/CPTabView.j#L706

As far as I can tell, this method does not exist. The closest I could find was there is a property on CPTabView (the files namesake) with the name `_placeHolderView`
https://github.com/cappu

[2018-04-09 10:56] mrcarlberg commented on #2568
I don't think much will change in bootstrap.sh for version 1.0.

If someone wants to create a pull request with a fix for this test of automaker please feel free to do so...

[2018-04-09 11:00] mrcarlberg commented on #2220
Yes, we can close this one as we don't use gcc or clang as a preprocessor anymore. The preprocessor is built into our compiler.

[2018-04-09 11:00] #2220 closed

[2018-04-09 11:03] mrcarlberg commented on #2299
I guess we can close this now.

[2018-04-09 11:03] #2299 closed

[2018-04-09 11:04] mrcarlberg commented on #2364
I guess we can close this now.

[2018-04-09 11:04] #2364 closed

[2018-04-09 18:45] #2120 closed

[2018-04-09 18:47] #1800 closed

[2018-04-09 18:50] #1462 closed

[2018-04-09 19:26] daboe01 commented on #543
nobody complained about the call to focus() for 5 years.
+#wont-fix

[2018-04-09 19:33] daboe01 commented on #642
we should not fix the current behaviour after so many years anymore.
+#wont-fix

[2018-04-09 19:49] #543 closed

[2018-04-12 07:25] #2574 closed

[2018-04-12 11:25] daboe01 commented on #2352
way too ambitious for 1.0

milestone=2.0

[2018-04-12 11:48] aljungberg commented on #2352
I think Cappbot can't add a milestone that hasn't been created already.

[2018-04-12 11:50] mrcarlberg commented on #2352
I would not say that it is way too ambitious. If someone wants to get this into version 1.0 it should be possible. Storyboards are essential a number of Xib files connected together by ViewControllers.

I'm not saying that it is not a lot of work but it might be less than you think.

[2018-04-12 16:12] bedalton opened #2679 "CPKeyedArchiver tests delegate for incorrect method selectors"
In CPKeyedArchiver, delegate methods defined on line 76 and 85 are defined as `archiverWillFinish:` and `archiverDidFinish`.
https://github.com/cappuccino/cappuccino/blob/b8b48b533bcfc10a5a316ec81487626a084cdfdd/Foundation/CPKeyedArchiver.j#L76
https://github.com/cappuccino/cappuccino/blob/b8b48b533bcfc10a5a316ec81487626a084cdfdd/Foundation/CPKeyedArchiver.j#L85
The matching selectors are what is

[2018-04-13 10:09] #2674 closed

[2018-04-15 19:28] daboe01 commented on #844
the issue seems to be fixed by now.
+#works-for-me

[2018-04-19 13:24] daboe01 commented on #642
@cacaodev what is your suggestion?

[2018-04-28 10:17] ArgosOz opened #2682 "Change bordeless-bridge-window-view to borderless-bridge-window-view"
```[[CPTheme defaultTheme] classNames]``` returns a list of class names. In that list you can see "bordeless-bridge-window-view"

This is my first time reporting an issue, this may not be a proper report, I'll know better in time but I feel It's better to report this anyway because it seems important since it will be used in here:
[code]

[2018-05-01 06:06] ArgosOz commented on #2560
@daboe01 here it is:

https://github.com/ArgosOz/CPSearchField-Predicate-Binding-Issue-Demonstration

Run the project and you'll get "<CPSearchField ...> is not key value coding-compliant for the key predicate" error.

[2018-05-04 20:39] daboe01 commented on #2560
fixing this is harder than i thought.

[code]

[2018-05-05 06:06] daboe01 commented on #2560
i just realized that we probably need to create a specific binder class.

[2018-05-06 06:15] sebastianmisiewicz opened #2700 "Issue with CPTableView in CPWindow when CPMenu / MenuBar is visible"
Hi
It seems to be an issue with CPTableView displayed in a window (CPWindow) when MenuBar (CPMenu) is visible.
Here is simple example how the screen looks like
![obraz](https://user-images.githubusercontent.com/16573942/39670391-023787b4-5104-11e8-85ae-8956401c42d9.png)
The problem is that when MenuBar (CPMenu) is visible the table does not receive mouse events (ie I can't
select any row neither r

[2018-05-06 12:07] #2700 closed

[2018-05-06 12:08] cacaodev commented on #2700
Fixed. Thanks for reporting this.

[2018-05-08 04:40] #2682 closed

[2018-05-14 14:55] jasperdeb opened #2708 "Multiline text in CPTableView"
I have a CPTableView, where I have a column defined as:

tableColumn = [[CPTableColumn alloc] initWithIdentifier:@"text"];
[[tableColumn headerView] setStringValue:@"Clausules in contract paragraaf:"];
[tableColumn setWidth:1300];
[tableColumn setEditable:YES];
[tableViewContractContent addTableColumn:tableColumn];

When I try to load the following multiline text

![image](https://user-images.gith

[2018-05-15 06:55] daboe01 commented on #2708
@jasperdeb try ```ObjJ
[[myTable dataView] setLineBreakMode:CPLineBreakByWordWrapping];
[code]

[2018-05-15 07:33] jasperdeb commented on #2708
@daboe01 Thank you! In combination with the vertical alignment set to CPTopVerticalTextAlignment, this works great if the cell is not edited.

When the cell has the focus during the edit, the word wrapping does not occur.

![image](https://user-images.githubusercontent.com/20356278/40042737-a1ef81ec-5822-11e8-9e48-79288d46df4e.png)
![image](https://user-images.githubusercontent.com/20356278/400427

[2018-05-17 01:36] ArgosOz opened #2710 "Broken CPButton image path"
I have a framework. Let's call it MyFramework.
I have some cibs in MyFramework/Resources folder.
One of the cibs has a view based CPTableView in it.
One of CPViews out of other CPTableView views, has a button with an image.

I've linked MyFramework into MyProject/Frameworks.
Everything works fine but...

At runtime, `[CPTableView makeViewWithIdentifier:@"aCPViewWithACPButtonWithAnImage" owner:self

[2018-05-17 18:11] ArgosOz opened #2711 "<CPOutlineViewDataSource> documentation has no information about some methods..."
`<CPOutlineViewDataSource>` Protocol Reference documentation has no information about:

`- outlineView:numberOfChildrenOfItem:`
`- outlineView:child:ofItem:`
`- outlineView:isItemExpandable:`

http://www.cappuccino-project.org/learn/documentation/protocol_c_p_outline_view_data_source_01-p.html

[2018-05-19 05:30] cacaodev commented on #2708
Can you provide more info about the context ?
Is it a cell-based or a view-based table view, is the table view also created in code, and if cell-based what is happening in the edit delegate. A full example would be very useful.

[2018-05-19 06:00] cacaodev commented on #2710
When you call from the framework, what does ```[CPBundle bundleForClass:[self class]]``` return ?
(this is the code CPTableView uses to determine the bundle when loading an external cib)

[2018-05-19 21:28] jasperdeb commented on #2708
Actually the code is quite simple.
The CPTableView is manually created (therefore not in a cib-file).
Definition of the table column in the code is as follows:

[code]
The text in the data source is simply returning a long string in the objectValueForTableColumn: method. Is this enough information? (What is the edit delegate you are refering to?)

[2018-05-20 00:59] ArgosOz opened #2713 "Fix mixed content error - CPFlashViewTest"
We should remove **http:** from the `flashMovieWithFile` link to fix mixed content errors:

https://github.com/cappuccino/cappuccino/blob/0a542f9be9d22e549ae8377574c94c149c536b0c/Tests/Manual/CPFlashviewTest/AppController.j#L23

[2018-05-20 01:07] ArgosOz opened #2714 "Fix typo in CPPredicateEditorCibTest"
File name should be PredicateTransformer.j

https://github.com/cappuccino/cappuccino/blob/0a542f9be9d22e549ae8377574c94c149c536b0c/Tests/Manual/CPPredicateEditorCibTest/AppController.j#L10

Currently it throws the error below:

[2018-05-20 01:15] ArgosOz opened #2715 "Fix mixed content error - CPWebViewTest"
Currently it can throw the error below:

https://github.com/cappuccino/cappuccino/blob/0a542f9be9d22e549ae8377574c94c149c536b0c/Tests/Manual/CPWebViewTest/AppController.j#L29

https://github.com/cappuccino/cappuccino/blob/0a542f9be9d22e549ae8377574c94c149c536b0c/Tests/Manual/CPWebViewTest/AppController.j#L33

https://github.com/cappuccino/cappuccino/blob/0a542f9be9d22e549ae8377574c94c149c536b0c/Te

[2018-05-20 01:21] ArgosOz opened #2716 "Fix mixed content error - CPWebViewTest2"
Currently it can throw the error below:

https://github.com/cappuccino/cappuccino/blob/0a542f9be9d22e549ae8377574c94c149c536b0c/Tests/Manual/CPWebViewTest2/AppController.j#L50

[2018-05-20 02:09] ArgosOz commented on #2710
Self is the file owner of the cib.

`[CPBundle bundleForClass:[self class]]` returns empty string.

[2018-05-20 09:33] ArgosOz opened #2717 "CPButtonTest throws an uncaught error"
https://cappuccino-testbook.5apps.com/?t=CPButtonTest

https://github.com/cappuccino/cappuccino/tree/master/Tests/Manual/CPButtonTest

Activate "CPButton Button Type Test" window.

Clicking the "Toggle" button throws the error below:

[2018-05-21 08:53] cacaodev commented on #2708
Thank you. So this bug is cell-based only and does not occur in view-based tables (checked).
I was referring to -tableView:shouldEditTableColumn:row: delegate method but this is optional.

[2018-05-21 08:56] cacaodev commented on #2715
Thank you, I am closing this because it's better to have these grouped.
Duplicate of #2713

[2018-05-21 08:56] #2715 closed

[2018-05-21 08:56] cacaodev commented on #2716
Duplicate of #2713

[2018-05-21 08:56] #2716 closed

[2018-05-21 22:52] jasperdeb commented on #2708
The edit delegate is not used in my code. Therefore nothing special is happening there.

@cacaodev : Is it best to try to implement a view-based table (have not done this until now) or can a bug-fix be provided?

[2018-05-22 17:58] daboe01 commented on #2708
@jasperdeb does [textField _setWraps:YES] help?

[2018-05-23 07:16] daboe01 commented on #2708
try to put setLineBreakMode:CPLineBreakByWordWrapping into this delegate method: - (BOOL)tableView:(CPTableView)aTableView shouldEditTableColumn:(CPTableColumn)aTableColumn row:(CPInteger)rowIndex;
inside this get the current textField via - (id)viewAtColumn:(CPInteger)column row:(CPInteger)row makeIfNecessary:(BOOL)makeIfNecessary

[2018-05-25 07:27] cacaodev commented on #2708
@jasperdeb This should be fixed but I can't give de delay. Switching to View-Based tables is the best solution in my opinion.

[2018-05-25 12:28] daboe01 commented on #2717
the underlying issue is that [toggleButton valueForThemeAttribute:@"image" inState:CPThemeStateHighlighted] returns a CPFont instead of the expected value nil.
+#acknowledged
+Theme

[2018-05-25 12:35] daboe01 commented on #2713
imho we should eliminate flash support from cappuccino altogether.
what do the core devs think?

[2018-05-25 12:37] daboe01 commented on #2717
this is not related to the recent work of @didierkorthoudt because we see it in 0.9.10

[2018-05-25 12:38] daboe01 commented on #2710
+#needs-info

[2018-05-26 20:27] daboe01 commented on #2717
a closer look reveals that this is most likely a nib2cib-related issue.
-Theme
+Tools

[2018-05-26 21:40] daboe01 commented on #2717
as it turns out, this is a bug in Xcode as you can see in the attached screencap.

[2018-05-26 21:41] daboe01 commented on #2717
<img width="1381" alt="bildschirmfoto 2018-05-26 um 23 39 27" src="https://user-images.githubusercontent.com/146335/40580431-34b0f03c-613e-11e8-8aba-30a070bf4b86.png">

[2018-05-26 21:44] daboe01 commented on #2717
am i missing something here?
if this is really true, we should check whether the alternate image is actually an image before we accept it from the xib.
do you guys agree?

[2018-05-27 13:58] daboe01 opened #2722 "ImageScaling is incorrectly read from recent nib files"
the culprit seems to be in line 443 of NSButton.j

[2018-05-27 13:59] daboe01 commented on #2722
<img width="805" alt="bildschirmfoto 2018-05-27 um 15 21 09" src="https://user-images.githubusercontent.com/146335/40586761-ecb0f0b4-61c6-11e8-8465-2d2aefcf8678.png">

[2018-05-27 14:00] daboe01 commented on #2722
left: CPButton test with a recent nib2cib with XCode 9.2 installed. right: correct rendering

[2018-05-28 19:10] #2717 closed

[2018-05-29 05:17] #2567 closed

[2018-06-01 22:18] enquora opened #2725 "CPViewController doesn't participate fully in responder chain"
Several items:

CPViewController allows overriding `- (BOOL)acceptsFirstResponder` and manually inserting itself into the responder chain.
* Recursively following the responder chain after doing so indicates CPViewController is part of the chain. However, using `[CPApp sendAction:to:from:]` to propagate a message elicits no response from CPViewController or subclass, even if the sent selector is p

[2018-06-01 22:21] enquora opened #2726 "Setting Window maxSize and minSize in Interface Builder has no effect"
`nib2cib` does not seem to be handling `[CPWindow maxSize]` or `[CPWindow minSize]` - enabling these values using Interface Builder has no effect, despite them working when set in code.

[2018-06-01 22:22] enquora commented on #2713
Deprecate support immediately, remove one release later?

[2018-06-02 06:18] #2714 closed

[2018-06-08 12:38] daboe01 commented on #2142
@mrcarlberg this is fixed by #2724

[2018-06-08 12:38] #2142 closed

[2018-06-15 22:37] ArgosOz opened #2730 "A runtime error prevents displaying images inside a CPTableCellView when the images were linked using the Interface Builder."
I'm using `cappuccino 0.9.10 (2018-06-15 2ac606)`

A runtime error prevents displaying images inside a CPTableCellView when the images were linked using the Interface Builder.

CPImageView inside a View Based CPTableView's CPTableCellView shouldn't throw an unrecognized selector error but it does...

Here is the reduction:
https://github.com/ArgosOz/CappuccinoIsCSSBasedIssue

Run the project and y

[2018-06-15 22:42] didierkorthoudt commented on #2730
Hi !

I’ll have a look this weekend as this seems to be related with the extension of CPImage I made for Aristo3 (-isCSSBased)

[2018-06-16 15:32] didierkorthoudt commented on #2730
OK, found. This is related to the _CPCibCustomResource class not implementing new CPImage CSS theming related methods. My bad (didn't view it). I'll propose a fix ASAP.

[2018-06-16 17:14] #2730 closed

[2018-06-21 12:56] #844 closed

[2018-07-04 13:54] enquora opened #2735 "CPWindow is null in CPViewController viewDidAppear"
`[[self view] window]` returns null in `CPViewController viewDidAppear`

[2018-07-05 11:40] Rosch opened #2736 "CPDateFormatter not ready for german dates"
In germany we often write dates in DD.MM.YYYY form.
Seperator for the components is a . (dot).

When trying to format CPDates using a CPDateFormatter

`_userDateFormatter = [[CPDateFormatter alloc] initWithDateFormat:@"dd.MM.yyyy" allowNaturalLanguage:NO];`

I get this warning:

When looking at CPDateFormatter.j I see line 746:
` if ([character isEqualToString:@","] || [character isEqualToString:@

[2018-07-05 12:43] daboe01 commented on #2736
hi rosh, can you please file a PR?

[2018-07-05 13:44] #2560 closed

[2018-07-06 19:14] bedalton opened #2737 "Some methods in framework with return type void still return value"
I'm not sure if this is an actual problem, but the plugin I'm writing for Intellij IDEA now checks to make sure that methods with return types actually returns some kind of value (though it's not picky about which or type), and that methods with return type `void` do not return a value. I've seen a few instances in the framework, were a method with return type `void` returns a value. I don't know

[2018-07-07 15:14] bedalton opened #2738 "Pragma statement has space between "#" and "pragma""
I was looking at the source for cappuccino, and noticed there was a space between the "#" and the "pragma" keyword on line 884 in AppKit/CPTabView.j.
https://github.com/cappuccino/cappuccino/blob/ee695f9000c7a2b2e04efc8df50b9ed078369fbb/AppKit/CPTabView.j#L884

I was wondering if this was a valid statement or not. If it is a valid statement, I have to update my plugin to account for it, if it is n

[2018-07-09 07:14] mrcarlberg commented on #2738
Thanks for observing this.

It is totally ok to have white spaces before and after the '#'.

Here is a text how it works:
"Except for expansion of predefined macros, all these operations are triggered with preprocessing directives. Preprocessing directives are lines in your program that start with ‘#’. Whitespace is allowed before and after the ‘#’. The ‘#’ is followed by an identifier, the direct

[2018-07-09 07:39] mrcarlberg commented on #2737
Thanks for finding this.

As Objective-J is built upon JavaScript it didn't care about types at all in the beginning. These days we have built in some support for type checking etc. but there are places where we can do better.

The return type is one of these. At the moment we don't care what you write as a return type.

Should it be like this? No, the method signatures should of course have a ret

[2018-07-12 07:37] daboe01 commented on #2575
We need Java for two things: Shrinksafe and Rhino
Shrinksafe is a Javascript minifier written in Java. This can relative easily be replaced by some other pure JavaScript minifier like Uglify-JS
Rhino is only needed to run the tool "press"

[2018-07-15 17:51] #2738 closed

[2018-07-21 03:25] enquora opened #2741 "Deprecation warnings when running Rhino under Java 9 or later"
Beginning with Java 9, deprecation warnings appear regularly during the bootstrap process:

[code]

They currently have no effect, but Java 10 is the current release and Rhino's latest release still elicits these warning. Moving off narwhal and Rhino dependence isn't our highest priority, but shouldn't be our lowest one either.

[2018-07-21 04:36] enquora opened #2742 "Error building JavaScriptCore engine on Mojave beta"
Is this a problem with 32-bit linking no longer supported?
[console output](https://gist.github.com/enquora/57b56b06f3ee0f5e20c8501209e34740#file-gistfile1-txt)

[2018-07-25 10:17] mrcarlberg commented on #2742
Have you tried to just change the Makefiles so it specifies x86_64 architecture instead?

[2018-07-25 15:37] enquora commented on #2742
I have - it wasn't sufficient. There are multiple problems - the standard library(s) have been renamed in Xcode 10 and the Makefile uses a single definition for both C and CPP flags but this seems to no longer work with the library renaming. More work required.

[2018-08-08 16:09] enquora commented on #2742
There is also a linker failure - libstc++ isn't included with Xcode 10 and libc++ must be used.
Continuing to modernize the Makefile(s)

[2018-08-11 01:15] #2736 closed

[2018-08-11 01:35] Dogild commented on #2713
Closing :)

[2018-08-11 01:35] #2713 closed

[2018-08-16 08:50] daboe01 commented on #2564
this is caused by a chrome feature called 'scroll wheel latching'. turning this off brings smooth scrolling back.
<img width="1002" alt="bildschirmfoto 2018-08-16 um 10 41 21" src="https://user-images.githubusercontent.com/146335/44198589-1f4f3c00-a142-11e8-9175-ff6142d7372f.png">

[2018-08-16 09:24] daboe01 opened #2749 "index.html is outdated in most of our manual tests"

[2018-08-17 15:39] daboe01 commented on #2564
i filed a chromium bug report for this:
https://bugs.chromium.org/p/chromium/issues/detail?id=875272

[2018-08-20 07:53] mrcarlberg commented on #2741
We can run Narwhal on Node.js. It should be good if someone can look into if the bootstrap process can run with Node.

Just set the environment variable ```NARWHAL_ENGINE``` to ``` node``` and it should try to run on Node.

[2018-08-20 08:41] mrcarlberg commented on #2708
@cacaodev How can we move forward with this one?

[2018-08-20 09:31] #1953 closed

[2018-08-20 10:43] cacaodev commented on #2708
@jasperdeb Can you provide more context please, like the table delegate methods.
You say you are double-clicking to edit but in view-based table we just click once to edit (see viewBasedCib example). Maybe you are subclassing editColumn:row:withEvent:select: ?
If you think there is a lack of information about this (or if you think the feature is needed for view-based tables), you can open a new PR

[2018-08-20 10:47] #101 closed

[2018-08-20 10:52] #2580 closed

[2018-08-20 14:53] daboe01 commented on #2564
chrome ticket is accepted

[2018-08-20 16:00] #1710 closed

[2018-08-20 16:36] daboe01 commented on #2565
@mrcarlberg can you close this ticket please?

[2018-08-20 16:37] daboe01 commented on #2545
@mrcarlberg can you close this please?

[2018-08-20 16:38] daboe01 commented on #2471
@mrcarlberg please close

[2018-08-20 16:41] daboe01 commented on #1435
i do not see this issue anymore. anyone else?

[2018-08-20 17:34] mrcarlberg commented on #2565
This is fixed by #2606

[2018-08-20 17:34] #2565 closed

[2018-08-20 17:35] mrcarlberg commented on #2545
This is fixed by #2602

[2018-08-20 17:35] #2545 closed

[2018-08-20 17:35] mrcarlberg commented on #2471
The is fixed by #2607

[2018-08-20 17:35] #2471 closed

[2018-08-21 04:56] daboe01 commented on #2673
I think you are right.
The `\/` construct only makes sense in javascript /regex/ notation.

[2018-08-21 06:43] mrcarlberg commented on #2564
@daboe01 Maybe it is better to close this when they have fixed the issue. They have only accepted it and that is not the same thing.

[2018-08-21 07:50] daboe01 commented on #2749
it would be good to have a build target that generates the index.html from the template.

[2018-08-21 08:14] mrcarlberg commented on #2749
Yes, that is a good idea. If you can, please make a pull request with a proposal.

[2018-08-24 09:07] mrcarlberg commented on #2742
We can live with macOS 10.9 as a minimum deployment target

[2018-08-24 09:13] mrcarlberg commented on #2742
Most people uses 'nix systems but we would like to be able to run on a Windows machines in the future. If ```rsync``` will not make that harder it is ok to use that.

[2018-08-24 15:11] enquora commented on #2741
I will try narwhal on node once the current problems compiling jsc under Xcode 10 are resolved and pushed out. We don't have time to revamp the toolchain completely prior to the release of Mojave. We should probably deprecate the Narwhal and Rhino toolchain immediately though, with a target of replacing it within 9 months (although we can probably do the change much sooner).

[2018-08-24 15:17] enquora commented on #2742
A javascript-only toolchain eliminates this problem. Using rsync is only a quick fix for testing the existing bootstrap process. The --copy-local: implementation doesn't make sense to me in any context, but I'll leave it in place and add an rsync-based option.

If we're using an entirely node-based toolchain, the process for sourcing a local cappuccino-base during the bootstrap process can be impl

[2018-08-25 22:36] enquora commented on #2742
Testing required.

Updates made to cappuccino/cappuccino and
cappuccino/cappuccino-base:
- updated c++ standard library used to support 64-bit compilation (Xcode 10's only option)
- narwhal-jsc target is now macOS 10.9 (automatically selects correct c++ standard library without changing every declaration of it)
- libedit dependency updated for same reasons

cappuccino:
- bootstrap.sh has new optio

[2018-08-26 11:14] jasperdeb commented on #2708
I have noticed that while compiling the current master with my fix and the last build of the master I used (compiled on the 12th of March 2018) until now, my way of setting the vertical alignment does not longer seems to work.

I am using a cell-based CPTableView, and before I have set the vertical alignment as following:

tableColumn = [[CPTableColumn alloc] initWithIdentifier:@"text"];
    [tabl

[2018-08-26 11:21] jasperdeb opened #2766 "Setting the color of text in a CPTableview row"
Until now I have used a version of the master (downloaded and compiled 12th of March), now today I have compiled the latest version.

Before, the way I changed the text color in a cell-based CPTableView row in the following delegate

- (void)tableView:(CPTableView)aTableView willDisplayView:(id)aView forTableColumn:(CPTableColumn)aTableColumn row:(CPInteger)rowIndex
{
   [aView setTextColor: [CPCo

[2018-08-26 11:59] didierkorthoudt commented on #2766
I’ll have a look ASAP at this as this may be related to a fix I proposed and merged. Without having watched, it may be that the theme takes over direct color setting. Keep you informed.

[2018-08-27 12:54] kerusan commented on #2742
I get errors when testing on Mojave,
When building with --rsync building narwhal-jsc fails with:
 *** No rule to make target  `deps/libedit-20180525-3.1', needed by 'deps/libedit-20180525-3.1/src/.libs/libedit.dylib'. Stop.

[2018-08-27 21:15] didierkorthoudt commented on #2766
@jasperdeb Well, indeed this is due to #2744. In fact, #2744 fixes a bad behavior but CPControl -setTextColor was using this bad behavior (without knowing). The fix is easy : in CPControl -setTextColor, instead of using `[self setValue:aColor forThemeAttribute:@"text-color"]`, it must use `[self setValue:aColor forThemeAttribute:@"text-color" inState:[self themeState]]` (just tested and it works).

[2018-08-28 02:33] enquora commented on #2742
Can you run 'make' in the libedit source directory an report if it compiles or not?
I'll take a look again through the entire bootstrap process. It's easy to make a mistake in a non-trivial bash script

[2018-08-28 04:34] jasperdeb commented on #2766
@didierkorthoudt : Thank you for the follow up!
As I mentioned in #2708, for a textField setting the vertical alignment also doen not work anymore.

[textFieldTest setVerticalAlignment:CPTopVerticalTextAlignment];

[2018-08-28 05:56] didierkorthoudt commented on #2766
@jasperdeb Yes, this is related.

[2018-08-28 09:13] kerusan commented on #2742
Really don't know if I get you right. I downloaded your cappuccino-base and in your master branch I see that you have removed packages/narwhal-jsc/deps/libedit-20100424-3.0 (commit
1b1ec39)  but I don't see that you have the new version: packages/narwhal-jsc/deps/libedit-20180525-3.1. Do I need to put that one in by myself? or is there a commit missing?

[2018-08-28 10:44] kerusan commented on #2742
Also the command
./bootstrap.sh --rsync-base /path/to/local/copy/of/updated/cappuccino-base
needs a / in the end like
./bootstrap.sh --rsync-base /path/to/local/copy/of/updated/cappuccino-base/

[2018-08-28 10:45] kerusan commented on #2742
also the reference to the commit enquora@f00a5fb is about tableview header,
it should be the updated rsync commit instead or?

[2018-08-28 15:37] enquora commented on #2742
Link to the change in bootstrap.sh was wrong. Updated in the original comment and confirmed both are now correct.

[2018-08-28 16:19] kerusan commented on #2742
Still only a removal of the version libedit-20100424-3.0 and no libedit-20180525-3.1 in the commits.

[2018-08-28 18:10] enquora commented on #2742
@kerusan See private Gitter message for quick fix. I'll notify here when I've updated the commit properly.

[2018-08-28 21:28] enquora commented on #2742
@kerusan

The [cappuccino-base commit](
https://github.com/enquora/cappuccino-base/commit/8ee79491fe285b5b46e067c8d244e305ee06e204) should be ok now.
Don't forget the training slash on the path to your local copy of cappuccino-base when you use the --rsync-base option.

I've removed the patches - they can be retrieved by simply appending .patch to the commit URL

The [cappuccino bootstrap.sh commi

[2018-08-29 07:38] mrcarlberg commented on #2766
@jasperdeb Can you please check if #2767 will help? We want to included this into version 1.0 and need your feedback her.

[2018-08-29 08:32] kerusan commented on #2742
Ok I have now tested a bit with the new libedit on place and now it seems to work fine on Mojave.

[2018-08-29 10:26] jasperdeb commented on #2766
I Will check thuis weekend

[2018-08-29 12:52] mrcarlberg commented on #2766
@jasperdeb Do you have time to check this now as I want to include this in version 1.0? We need to get a release candidate out as fast as possible.

[2018-08-29 14:28] jasperdeb commented on #2766
Ok, I'll try this evening. Software testing is not really compatible with my daytime job :)

[2018-08-29 18:11] jasperdeb commented on #2766
I have tested the PR.

- The setTextColor works again as expected
- Nevertheless the code

textFieldTest = [[CPTextField alloc] init];
    [textFieldTest setVerticalAlignment:CPTopVerticalTextAlignment];
    [tableColumn setDataView:textFieldTest];

does not gives a table row in the TopVerticalAlignment.
Text is centered towards the middle.

[2018-08-29 18:15] didierkorthoudt commented on #2766
Ok, I see the problem. You set the alignment before putting in text view in the table. So it’s the normal state that gets the value and it’s the table data vie state that is used in the table. Let me search on this one this evening.

[2018-08-29 18:21] jasperdeb opened #2770 "Image of an actionPopupButton in CPButtonBar does not appear "
When I compile the latest master, the image of the actionPopupButton in a CPButtonBar does not appear anymore.

![image](https://user-images.githubusercontent.com/20356278/44807161-1b52fd80-abc9-11e8-987e-8286c6fa69c4.png)

[2018-08-29 20:34] didierkorthoudt commented on #2766
@jasperdeb OK, could you please try with the new fix proposed in #2767 ?

[2018-08-30 06:47] mrcarlberg commented on #2770
@jasperdeb Can you help us here with more information how to reproduce this problem. The best should be a small example project that we can debug.

@didierkorthoudt Can you look at this one. Can it be some of your changes?

[2018-08-30 06:52] didierkorthoudt commented on #2770
@mrcarlberg I’ll have a look. But the + button does appear correctly. Strange.

[2018-08-30 07:04] mrcarlberg commented on #2770
Yes, that is why I think we need some more information from @jasperdeb how this is done

[2018-08-30 16:01] daboe01 commented on #2770
@didierkorthoudt take a look at 6077d3f4c35f275ae3d65f9db490a8b38ea0f4d4

[2018-08-30 17:38] didierkorthoudt commented on #2770
This seems related to the same origin than your other problem as the action button takes a special theme state to indicate it is a pull down (vs a pop up). Digging into it.

[2018-08-30 17:42] daboe01 commented on #2770
i bisected it down to 6077d3f

[2018-08-30 18:40] didierkorthoudt commented on #2770
@jasperdeb Could you please test #2771 ?

[2018-08-31 07:10] #2770 closed

[2018-08-31 07:14] #2766 closed

[2018-08-31 07:33] mrcarlberg commented on #2708
@jasperdeb is this problem solved with #2771 and/or #2767?

[2018-08-31 09:36] daboe01 commented on #2564
+#accepted
-#needs-confirmation

[2018-08-31 09:38] daboe01 commented on #2177
-#needs-patch

[2018-08-31 09:40] daboe01 commented on #456
+#wont-fix

[2018-08-31 10:06] #456 closed

[2018-08-31 11:49] jasperdeb commented on #2708
I will close this one, the only remaining problem is still captured in #2765

[2018-08-31 11:49] #2708 closed

[2018-08-31 16:25] enquora opened #2772 "XcodeCapp crashes on launch when compiled with Xcode 10 on Mojave"
XcodeCapp works fine when compiled with Xcode 9 but crashes immediately on launch when compiled with Xcode 10. Testing performed on Mojave, haven't tested on High Sierra yet.

`*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'NSWindow drag regions should only be invalidated on the Main Thread!'
terminating with uncaught exception of type NSException
abort(

[2018-08-31 16:28] enquora commented on #2772
Also appears to be a problem with increased security in Mojave:
`ld: can't write output file: /Applications/XcodeCapp.app/Contents/MacOS/XcodeCapp for architecture x86_64`

[2018-08-31 18:00] enquora commented on #2772
YRKSpinningProgressIndicator, an external dependency, appears to be the culprit.
This problem appears to have surfaced only with Xcode 10 beta 6

[2018-08-31 19:29] kerusan commented on #2772
The YRKSpinningProgressIndicator using of threaded animation is not working anymore. But it can be turned off if the flag _usesThreadedAnimation is set to NO.

[2018-08-31 20:37] enquora commented on #2772
@mrcarlberg  This seems to fix it.

I'm inclined to perform the fewest fixes to get this out the door for Mojave and into the 1.0 release This seems to do it.
Permissions are a problem in Mojave. I'm with @kerusan on installing to ${HOME}/Applications
Even if the `jake install` location is left as /Applications and `sudo` is used, development directly in Xcode is currently a problem with /Applicat

[2018-08-31 20:42] enquora commented on #2772
Also increasing the minimum supported OS version to macOS 10.9, since we did that with cappuccino-base.

[2018-09-01 02:11] enquora commented on #2772
I've just created [PR 2773t](https://github.com/cappuccino/cappuccino/pull/2773) to fix this.

I've kept the install destination as /Applications but simplified the build parameters to just `xcodebuild install` - this get the build working properly. The previous xcodebuild parameter list was longer, unnecessarily so from what I can see. @Dogild wrote the original — perhaps he can comment?

`sudo`

[2018-09-10 19:29] enquora commented on #2772
The fix has been merged and released in ver 1.0.
I've tested under both Mojave and High Sierra without problems.

A further PR affecting the copyright notice displayed by the About dialog hasn't been merged but otherwise this seems ready to be closed.

[2018-09-11 06:15] daboe01 commented on #2772
+#fixed

[2018-09-11 06:29] #2772 closed

[2018-10-06 18:34] ArgosOz opened #2778 "'jake all' or 'jake debug' produces no source maps for frameworks created using the Framework template"
I'm using latest Cappuccino.

Here're the steps to reproduce the problem:

1. `capp gen -l -t Framework ExampleFramework`

2. `cd ExampleFramework` and then `touch example.j`

3. Open Example.j

4. copy and paste the code below and then save the file...
[code]
5. `jake all`

6. cd ..

7. `capp gen -l -t NibApplication ExampleProject`

8. `capp gen -l -f -F ExampleFramework ExampleProject`

9. `cd

[2019-01-30 18:32] #2564 closed

[2019-01-30 18:36] daboe01 commented on #2742
@enquora are you ready for a pull request?

[2019-02-01 16:51] enquora commented on #2742
@daboe01 afaik this was resolved in 1.0 with a patch from myself and @aljungberg . I will confirm this weekend so we can close this.

[2019-02-03 19:56] enquora commented on #2742
Works fine.

[2019-02-03 19:56] #2742 closed

[2019-02-04 17:38] aksuska opened #2787 "XcodeCapp Incompatible with Mojave Dark Mode"
When compiling under Mojave and Xcode 10.1, almost all text/labels disappear when using dark mode. Probably a text color issue.

[2019-02-06 15:39] aksuska opened #2788 "Buttons with Icons in Compiled Cibs Have Zero Size"
In all cibs compiled using latest master, Xcode 10.1, icons in all buttons don't show because they are are rendered with zero hight and width. Reduction attached.
[button-icon-test.zip](https://github.com/cappuccino/cappuccino/files/2837016/button-icon-test.zip)

[2019-02-07 18:19] aksuska commented on #2787
Note that this can be easily fixed by adding NSRequiresAquaSystemAppearance with boolean value "true" to the info.plist

[2019-02-07 18:23] aksuska opened #2789 "CPSearchField Menu Broken"
The CPSearchField menu will not open until a search is performed. This bug shows in the manual test. Also in the manual test, but not shown in my own testing, is that the menu will stay open and become unresponsive if the field is cleared, and possibly also when a menu item is chosen.

[2019-02-07 23:22] aksuska opened #2790 "capp gen -t NibApplication Doesn't Create Xcode Project File"
Latest master

[2019-02-07 23:24] aksuska opened #2791 "FilterPredicate Binding of CPArrayController Not Being Applied"
When set in xib using IB, checking the filterPredicate during runtime returns nil. Latest master, Xcode 10.1

[2019-02-08 00:14] aksuska commented on #2788
I will leave this open but for some reason it has solved itself in my own project by deleting every found occurrence of capp/narwhal and re-building.

[2019-02-08 07:44] mrcarlberg commented on #2790
Are you sure it has ever done this? Can it be that XcodeCapp creates the project file for a project?

[2019-02-08 15:43] aksuska commented on #2790
I'm not, actually, since my workflow uses them pretty tightly, but opening the new "project" in XcodeCapp does in fact create an Xcode project file, so I will close this issue.

[2019-02-08 15:43] #2790 closed

[2019-02-08 16:10] aksuska commented on #2791
I changed the title to better reflect the issue--I can verify that the binding is actually called, but the predicate is never applied (reduction attached)
[fp-test.zip](https://github.com/cappuccino/cappuccino/files/2845844/fp-test.zip)

[2019-02-11 23:24] IngwiePhoenix opened #2792 "Porting Cappuccino"
Hello!

Since a while now, I have been looking into experimenting with a variation of methods to build applications for [OS.js](https://www.os-js.org). For instance, using Emscripten and [FLTK](http://fltk.org) to write OS.js apps in C++. And while this is something I am actually going to be looking into very deeply, I also wondered if it might be possible to use Objective-J to do so.

So basicall

[2019-02-18 12:56] mrcarlberg commented on #2792
Sorry for late answer but I have been away skiing for a week 😎

I guess it should be possible to port Cappuccino to use OS.js API. I know to little about OS.js to be able to estimate what is needed. I guess it will be a lot of work as Cappuccino implements almost everything from Apples Cocoa frameworks and that is a lot of functionality.

The [objj-transpiler](https://github.com/mrcarlberg/objj-tr

[2019-02-24 15:47] daboe01 commented on #2792
@IngwiePhoenix cappuccino has a lot of OS-level stuff baked in (e.g. window management). In these areas, a port of cappuccino to OS.js would be basically a rewrite from scratch, if you you really want 'native' OS.js UX (ugly and dated in comparison to cappuccino).
Moreover, OS.js'API does not seem to be fit well with the responder / target / action concepts from cocoa.
#wont-fix

[2019-02-24 15:53] daboe01 commented on #2741
@enquora any update on this one?

[2019-02-25 07:16] daboe01 commented on #2791
@aksuska thank you for the reduction. i can see this also.
+#accepted
+bindings
+AppKit

[2019-02-25 07:17] daboe01 commented on #2787
@aksuska can you please make a PR with your fix?

[2019-02-27 15:14] aksuska commented on #2787
I am unable to as I don't have a fork of the repository

[2019-03-08 19:33] daboe01 commented on #2792
#wont-fix

[2019-03-08 22:59] IngwiePhoenix commented on #2792
@daboe01 Thank you very much for your insight. I do see the issues here, and I will investigate into it some time, because from what I know of the Cocoa API, it might still be possible to port. Though, its not a serious project, more like something I'd like to "figure out" :) Again, thank you for your info!

[2019-03-08 22:59] #2792 closed

[2019-03-09 07:18] daboe01 commented on #2749
-#new
Tools
#accepted
#needs-patch

[2019-03-10 07:34] daboe01 opened #2795 "Tokenfield selection and editing is broken"
you can see this in the manual test. deleting highlighted tokens via backspace leaves the page in firefox, fails to delete token in chrome. you cannot place the caret between tokens via mouse (firefox+chrome)  + arrow keys do not work in firefox.

[2019-03-10 07:37] daboe01 commented on #2795
i am looking into redoing tokenfield on the basis of CPTextView

[2019-03-10 12:13] daboe01 commented on #2787
-#new
Tools
#needs-patch

[2019-03-10 12:54] daboe01 commented on #2749
+tools

[2019-03-10 12:55] daboe01 commented on #2791
-#new
+#accepted
+bindings
+AppKit
+#needs-patc

[2019-03-15 06:52] daboe01 commented on #2795
reimplementation on top of CPTextView is feasible but will take some time.
our best option to get this fixed asap is a git bisect.
@timhowell01 do you know a cappuccino version (commit sha) without the issue?

[2019-03-17 04:35] timhowell01 commented on #2795
@daboe01 It works correctly on cappuccino commit d547d042779d27929047d2fda12d894792cc486f

Tim

[2019-03-17 05:31] timhowell01 commented on #2795
@daboe01 Just finished with git bisect. The first bad commit is 26aab2961bc6e86c3f5fab922d1f2b71bc607356

[2019-03-17 12:05] daboe01 commented on #2795
@timhowell01 thank you! that makes perfect sense, with respect to the behavior of backspace, that only works when the text field has focus.
@aljungberg could you possibly have a look?

[2019-03-28 18:34] daboe01 commented on #2795
+#regression
+AppKit
-#new

[2019-03-28 18:35] daboe01 commented on #2791
-#new
+#accepted
+bindings
+AppKit
+#needs-patch

[2019-03-29 19:02] bedalton opened #2814 "Possibly undefined types used in method parameters"
I am working on a plugin for Objective-J, and I tried adding functionality to ensure that method parameter class types are valid. This has led to quite a few reported errors in the AppKit and Foundation framework classes. A number of them seem simply made up, with no real information as to where they come from. Quite a few of them are set to integer values, but there is no direct mapping from the

[2019-03-29 19:13] bedalton opened #2815 "CPCursor possible global value declared in method"
In the class CPCursor, a value is assigned to a variable that has not been declared, I believe putting it in global scope. I am not too experienced with javascript, but I think that is how it works.

https://github.com/cappuccino/cappuccino/blob/0be913ab18c9ef74289f87b7f9842b9429705f9e/AppKit/CPCursor.j#L198
in the method context:

https://github.com/cappuccino/cappuccino/blob/0be913ab18c9ef74289f

[2019-03-29 19:27] bedalton opened #2816 "CPFontManager has duplicate methods"
In CPFontManager class, there are two sets of duplicate methods. The first is
https://github.com/cappuccino/cappuccino/blob/0be913ab18c9ef74289f87b7f9842b9429705f9e/AppKit/CPFontManager.j#L193-L204
and
https://github.com/cappuccino/cappuccino/blob/0be913ab18c9ef74289f87b7f9842b9429705f9e/AppKit/CPFontManager.j#L386-L427

The second set is:
https://github.com/cappuccino/cappuccino/blob/0be913ab18c9

[2019-03-29 19:31] bedalton opened #2817 "CPGraphicsContext question"
In the method declaration:
https://github.com/cappuccino/cappuccino/blob/0be913ab18c9ef74289f87b7f9842b9429705f9e/AppKit/CPGraphicsContext.j#L95
Should the parameter CPContext be CGContext, as CPContext does not seem to exist, and the only use of this method passes in a CGContext object?

[2019-03-29 21:56] bedalton opened #2818 "CPDecimal.j possibly bad function call"
In CPDecimal.j  a function CPDecimalSetZero is called.
 https://github.com/cappuccino/cappuccino/blob/0be913ab18c9ef74289f87b7f9842b9429705f9e/Foundation/CPDecimal.j#L944

A function named CPDecimalSetZero does not appear to exist, but one prefixed with an underscore _CPDecimalSetZero does:
https://github.com/cappuccino/cappuccino/blob/0be913ab18c9ef74289f87b7f9842b9429705f9e/Foundation/CPDecimal.

[2019-03-30 18:05] daboe01 commented on #2795
+regression

[2019-03-31 13:57] daboe01 commented on #2789
i can see this also.

-#new
+AppKit
+#accepted
+#needs-patch